<div ng-include="'components/navbar/navbar.html'"></div>
<!--* Modal Part-->
<div id="all">

  <!-- START CARROUSEL  -->
  <div class="row" id="obeya-header">
    <div class="col-lg-4">
      <br>
      <div style="width:100%;text-align:center">OBEYA</div>
      <h1 style="width:100%;text-align:center">              {{obeya.name}}</h1>
    </div>
    <div class="col-lg-4">
      <section id="#navigation" class="container">
        <button id="previous" ng-click="NavCaroussel(-1)">
        <i class="fa fa-chevron-left text-muted" ></i>
        </button>
        <button id="previous" ng-click="NavCaroussel(0)" style="margin-left:55px;">
        <i class="fa fa-home text-muted" ></i>
        </button>
        <div id="carousel">
          <figure ng-repeat="wall in walls">{{wall.id}} <br><span> {{wall.title}}</span></figure>

        </div>
        <button id="next" ng-click="NavCaroussel(1)" class="pull-right">
      <i class="fa fa-chevron-right  text-muted" ></i>
    </button>
      </section>
    </div>
    <div class="col-lg-4">
      <img src="assets/images/project-room.png" style="width:100%" alt="">
      <br>
      <br>
    </div>
    <br>
  </div>
  <!-- END CARROUSEL  -->
    <div id="all_walls">
      <div class="wall" id="wall_0" ng-include src="'app/obeya/walls/summary.html'"></div>
      <div class="wall" id="wall_1" ng-include src="'app/obeya/walls/people.html'"></div>
      <div class="wall" id="wall_2" ng-include src="'app/obeya/walls/news.html'"></div>
      <div class="wall" id="wall_3" ng-include src="'app/obeya/walls/milestones.html'"></div>
      <div class="wall" id="wall_4" ng-include src="'app/obeya/walls/tasks.html'"></div>
      <div class="wall" id="wall_5" ng-include src="'app/obeya/walls/performance.html'"></div>
      <div class="wall" id="wall_6" ng-include src="'app/obeya/walls/anomalies.html'"></div>
      <div class="wall" id="wall_7" ng-include src="'app/obeya/walls/process.html'"></div>
      <div class="wall" id="wall_8" ng-include src="'app/obeya/walls/properties.html'"></div>
    </div>
</div>
