.bg-gray {
  background-color: #F2F1EF;
}

.obeya-pane {
  height: 300px;
  border-radius: 5px;
  padding: 10px;
  color: #FFFFFF;
  width: 100%;
}

.obeya-header {
  height: 30px;
}

.obeya-body {
  background-color: #FFFFFF;
  border-radius: 5px;
  min-height: 250px;
  color: #000000;
  padding: 10px;
}

.obeya-footer {
  height: 30px;
}

.obeya-pane-blue {
  background-color: #33A6BD;
}

.obeya-pane-red {
  background-color: #EC644B;
}

.obeya-pane-darkgray {
  background-color: #6C7A89;
}

.obeya-pane-darkblue {
  background-color: #013243;
}

.obeya-pane-orange {
  background-color: #F89406;
}

.obeya-pane-gray {
  background-color: #BDC3C7;
}

.card-list {
  margin-top: 15px;
  width: 100%
}

.green {
  color: #24751d;
}

.orange {
  color: #F89406;
}

.red {
  color: #f90606;
}

.blue {
  color: #33A6BD;
}

.badge-gray {
  background-color: #BDC3C7;
  color: #000000;
}

.fullscreen {
  z-index: 9999;
  width: 97%;
  height: 94%;
  position: fixed;
  top: 60px;
  left: 45px;
  overflow-y: auto;
}