
  <!-- START 6- Milestones & Capacity  -->
  <div id="Wall-6" ng-if="incrementSave===6">
    <div class="row">
      <div class="col-md-2">
        <div class="obeya-pane obeya-pane-darkgray">
          Questions
          <hr style="margin-top:0;margin-bottom:10px;">
          <div class="obeya-body">
            <!-- <ul>
              <li>What are our engagements we must keep ?</li>
              <li>What are the new engagement we must take ?</li>
              <li>Are some engagements in alert ?</li>
            </ul> -->
            <h4>
              <img src="assets/images/respect-icon.png" style="width:60px;height:60px;" alt="" >
              Process</h4>
            <ul class="list-group card-list">
              <li class="list-group-item" ng-if="obeyaMode === 'week'" ng-class="{'list-group-item-active':filters === 'week'}">
                <img src="assets/images/calendar-week.png" style="width:15px;height:15px;" alt=""> This Week
                <span class="badge badge-gray">{{hierarchiesThisWeek.length}}</span>
              </li>
              <li class="list-group-item" ng-if="obeyaMode === 'month'" ng-class="{'list-group-item-active':filters === 'month'}">
                <img src="assets/images/calendar-month.png" style="width:15px;height:15px;" alt=""> This Month
                <span class="badge badge-gray">{{hierarchiesThisMonth.length}}</span>
              </li>
              <li class="list-group-item" ng-if="obeyaMode === 'all'" ng-click="showCard('Milestones','All')" ng-class="{'list-group-item-active':filters === 'All'}">
                <img src="assets/images/calendar-month.png" style="width:15px;height:15px;" alt=""> All
                <span class="badge badge-gray">{{hierarchiesSelected.length}}</span>
              </li>
              <li class="list-group-item" ng-click="showCard('Milestones','ToEngage')" ng-class="{'list-group-item-active':filters === 'ToEngage'}">
                <i class="fa fa-gavel "></i> To Engage
                <span class="badge" ng-class="{'badge-gray':hierarchiesToEngage.length===0, 'badge-orange':hierarchiesToEngage.length>0}">{{hierarchiesToEngage.length}}</span>
              </li>
              <li class="list-group-item">
                <i class="fa fa-bell "></i> With alerts
                <span class="badge " ng-class="{'badge-gray':hierarchiesWithAlerts.length===0, 'badge-red':hierarchiesWithAlerts.length>0}">{{hierarchiesWithAlerts.length}}</span>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="obeya-pane obeya-pane-darkgray">
          Process
          <hr style="margin-top:0;margin-bottom:10px;">
          <div class="obeya-body">


            <!-- KPIs -->
            <div class="col-md-4" id="KPI">
                <div class="portlet sale-summary" >
                    <div class="portlet-title">
                        <div class="caption">
                            KPIs
                        </div>
                        <div class="tools">
                            <div class="pull-right" ng-init="KPIIsExpanded=true" ng-click="KPIIsExpanded=!KPIIsExpanded">
                                <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!KPIIsExpanded" viewbox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                                <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="KPIIsExpanded" viewbox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                            </div>
                            <span class="pull-right" style="margin-right:15px;"><small>Number:</small>  <span class="text-info">  {{dashboard.kpis.length}}</span></span>
                        </div>
                    </div>
                    <div class="portlet-body" style="padding:0!important;max-height:400px;overflow:auto" ng-show="KPIIsExpanded">
                        <table class="table table-striped table-hover">
                            <tbody style="text-align:center;">
                                <tr ng-repeat="KPI in dashboard.kpis | orderBy:['constraint','name'] track by $index" on-finish-render uib-tooltip-html="'Contraint : {{KPI.constraint}}<br /> <br /> Description :  {{KPI.description}}  <br /> Suggestion :  {{KPI.suggestion}}'" tooltip-placement="left"  tooltip-class="tooltipkpi"  >
                                    <td style="text-align:left;width:65%"><a href="/KPI/{{KPI.kpiId}}?type=dashboard&typeid={{dashboard._id}}&rangedate={{datediff}}">{{KPI.name}}</a></td>
                          <td style="text-align:left;width:35%;font-size:13px">
                            <span ng-if="KPI.calcul[rangeDate] !== undefined && KPI.calcul[rangeDate] !== null" class="badge" ng-style="{'background-color':giveMeMyColor(KPI.calcul[rangeDate], KPI.category)}" style="height:15px;line-height:10px;width:15px;margin-right: 10px">&nbsp;&nbsp;</span>                            {{KPI.calcul[rangeDate]}}
                            <span ng-if="KPI.category === 'Goal' && KPI.calcul[rangeDate] !== undefined && KPI.calcul[rangeDate] !== null"> %</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div style="border-top:1px solide grey;width:100%">
                    &nbsp;
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- END PERFORMANCE -->
