/* here you can put your own css to customize and override the theme */

.popover {
  max-width: 700px!important ;
}

/* dashboard circle on main page */

div.visual {
	min-height: 100px;
}

div.visual div {
	display:block!important;
	margin-top:-50px;
	margin-left:10px;
}

div.visual.big {
	height: 300px;
}

div.visual.big div {
	display:block!important;
	margin-top:0px;
}
.bar-chart {
	display: none!important;
}
