<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<![endif]-->
<base href="/">
<title>BOSS : Board Of Supervision System</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(client) app/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
<link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css" />
<link rel="stylesheet" href="bower_components/bootstrap-markdown/css/bootstrap-markdown.min.css" />
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="bower_components/jstree/dist/themes/default/style.css" />
<link rel="stylesheet" href="bower_components/ng-table/ng-table.css" />
<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css" />
<link rel="stylesheet" href="bower_components/select2/select2.css" />
<link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
<link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="bower_components/vis/dist/vis.css" />
<link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
<link rel="stylesheet" href="bower_components/ngEmbed/src/ng-embed.css" />
<link rel="stylesheet" href="bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" />
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
<link rel="stylesheet" href="bower_components/mdPickers/dist/mdPickers.min.css" />
<link rel="stylesheet" href="bower_components/ng-material-floating-button/mfb/dist/mfb.css" />
<link rel="stylesheet" href="bower_components/DlhSoft.KanbanLibrary/DlhSoft.Kanban.Angular.Components.css" />
<link rel="stylesheet" href="bower_components/Feedback-Bot/src/feedback.css" />
<!-- endbower -->
<!-- endbuild -->
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<!-- build:css({.tmp,client}) app/app.css -->
<link rel="stylesheet" href="app/app.css">
<!-- injector:css -->
<link rel="stylesheet" href="app/KPI/KPI.css">
<link rel="stylesheet" href="app/KPIs/KPIs.css">
<link rel="stylesheet" href="app/about/about.css">
<link rel="stylesheet" href="app/account/login/login.css">
<link rel="stylesheet" href="app/account/settings/setting.css">
<link rel="stylesheet" href="app/admin/admin.css">
<link rel="stylesheet" href="app/app.css">
<link rel="stylesheet" href="app/calendar/calendar.css">
<link rel="stylesheet" href="app/dashboard/dashboard.css">
<link rel="stylesheet" href="app/dashboardTab/dashboardTab.css">
<link rel="stylesheet" href="app/dashboardWidget/dashboardWidget.css">
<link rel="stylesheet" href="app/dashboards/dashboards.css">
<link rel="stylesheet" href="app/dqm/dqm.css">
<link rel="stylesheet" href="app/help/help.css">
<link rel="stylesheet" href="app/hierarchies/hierarchies.css">
<link rel="stylesheet" href="app/journallog/journallog.css">
<link rel="stylesheet" href="app/kanban/kanban.css">
<link rel="stylesheet" href="app/mail/mail.css">
<link rel="stylesheet" href="app/main/main.css">
<link rel="stylesheet" href="app/process/process.css">
<link rel="stylesheet" href="app/tabActor/tabActor.css">
<link rel="stylesheet" href="app/tabDashboard/tabDashboard.css">
<link rel="stylesheet" href="app/tabKPI/tabKPI.css">
<link rel="stylesheet" href="app/tabTask/tabTask.css">
<link rel="stylesheet" href="app/task/task.css">
<link rel="stylesheet" href="app/tasks/tasks.css">
<link rel="stylesheet" href="components/modal/modal.css">
<!-- endinjector -->
<!-- endbuild -->
</head>
<body ng-app="boardOsApp" class="page-header-fixed page-sidebar-closed">
  <div ng-controller="GlobalCtrl" ng-cloak >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <ng-toast></ng-toast>
      <!-- BEGIN CONTAINER -->
      <div class="page-container" >
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper"  ng-cloak ng-if="currentUser.name">
          <div class="page-sidebar navbar-collapse collapse" style="position:fixed;z-index:999999">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: for circle icon style menu apply page-sidebar-menu-circle-icons class right after sidebar-toggler-wrapper -->
            <ul class="page-sidebar-menu" >
              <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON                 <div class="sidebar-toggler">
              </div>-->

              <div class="clearfix">
              </div>
              <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="sidebar-search-wrapper">
              <form class="search-form" role="form" action="index.html" method="get">
                <div class="input-icon right">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control" name="query" placeholder="Rechercher...">
                </div>
              </form>
            </li>
            <li class="start active ">
              <a href="/">
                <i class="fa fa-dashboard"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/">
                    <i class="fa fa-home"></i>
                    Home
                  </a>
                </li>
                <li>
                  <a href="/dashboards">
                    <i class="fa fa-list"></i>
                    List
                  </a>
                </li>
              </ul>
            </li>
            <li >
              <a href="/calendar">
                <i class="fa fa-calendar"></i>
                <span class="title">Information</span>
                <span class="arrow "></span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/KPIs">
                    <i class="fa fa-tasks"></i>
                    KPIs
                  </a>
                </li>
                <li>
                  <a href="/tasks">
                    <i class="fa fa-check-square-o "></i>
                    Tasks
                  </a>
                </li>
                <li>
                  <a href="/calendar">
                    <i class="fa fa-calendar"></i>
                    Calendar
                  </a>
                </li>
                <li>
                  <a href="/process">
                    <i class="fa  fa-cogs"></i>
                    Process
                  </a>
                </li>
                <li>
                  <a href="/journallog">
                    <i class="fa fa-file-text-o"></i>
                    Journal Log
                  </a>
                </li>
              </ul>
            </li>
            <li ng-if="isAdmin">
              <a href="/hierarchies">
                <i class="fa fa-sliders"></i>
                <span class="title">Configuration</span>
                <span class="arrow "></span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/hierarchies">
                    <i class="fa fa-gear"></i>
                    Metadata
                  </a>
                </li>
                <li>
                  <a href="/dqm">
                    <i class="fa fa-check"></i>
                    Data Quality Mgmt
                  </a>
                </li>
                <li ng-if="isAdmin">
                  <a href="/admin">
                    <i class="fa fa-user"></i>
                    Users
                  </a>
                </li>
                <li ng-if="isAdmin">
                  <a href="/mail">
                    <i class="fa fa-refresh"></i>
                    Execute
                  </a>
                </li>
              </ul>
            </li>
            <li >
              <a href="/help/">
                <i class="fa fa-life-saver"></i>
                <span class="title">Help</span>
                <span class="arrow "></span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="/help/">
                    <i class="fa fa-life-saver"></i>
                    Help me
                  </a>
                </li>
              </ul>
            </li>
            <li >
              <a href="/about">
                <i class="fa fa-rss-square"></i>
                <span class="title">About</span>
                <span class="arrow "></span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="https://github.com/wilsto/BoardOS/blob/master/CHANGELOG.md">
                    <i class="fa fa-github"></i>
                    Change Log
                  </a>
                </li>
                <li>
                  <a href="/about">
                    <i class="fa fa-rss-square"></i>
                    About B.O.S.S
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- END SIDEBAR MENU -->
        </div>
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <div class="page-content" style="padding-top:0;">
          <!-- END BEGIN STYLE CUSTOMIZER -->
          <!-- BEGIN PAGE HEADER-->
          <div class="page-bar" ng-cloak ng-if="currentUser.name" >
            <ul class="page-breadcrumb" style="margin-top:10px">
              <li>
                <i class="fa fa-home"></i>
                <a href="/">Home</a>
              </li>
              <!-- DASHBOARD -->
              <li ng-show="perimeter.name && showArianeDashboard">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-dashboard"></i> <span style="color:lightgrey"> Dashboard  </span>  {{perimeter.name}}
              </li>
              <li ng-show="perimeter.name && showArianeDashboard">
                <i class="fa fa-angle-right"></i>
                <span style="color:lightgrey"><i class="fa fa-calendar"></i> Activity </span> {{perimeter.activity || 'All'}}
              </li>
              <li ng-show="perimeter.name && showArianeDashboard">
                <i class="fa fa-angle-right"></i>
                <span style="color:lightgrey"><i class="fa fa-map-marker"></i> Context </span> {{perimeter.context || 'All'}}
              </li>
              <!-- DASHBOARD -->
              <li ng-show="currentTaskName.name && showArianeTask">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-tasks"></i> <span style="color:lightgrey">Task  </span>  {{currentTaskName.name}}
              </li>
              <li ng-show="currentTaskName.name && showArianeTask">
                <i class="fa fa-angle-right"></i>
                <span style="color:lightgrey"><i class="fa fa-calendar"></i> Activity </span>{{currentTaskName.activity || 'All'}}
              </li>
              <li ng-show="currentTaskName.name && showArianeTask">
                <i class="fa fa-angle-right"></i>
                <span style="color:lightgrey"><i class="fa fa-map-marker"></i> Context </span> {{currentTaskName.context || 'All'}}
              </li>
            </ul>
            <ul class="page-breadcrumb pull-right" >
              <div id="reportrange" class="pull-right btn btn-primary btn-fit-height" style="width: 100%;">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                  <span></span> <b class="caret"></b>
              </div>
            </ul>
          </div>

          <!-- END PAGE HEADER-->
          <!-- Add your site or application content here -->
          <div class="container-fluid" style="margin:20px;padding-top:30px" ui-view=""></div>
        </div>
      </div>

      <!-- BEGIN FOOTER -->
      <div class="footer">
        <div class="container"></div>
      </div>
      <!-- END FOOTER -->

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58668346-1', 'auto');
        ga('send', 'pageview');

      </script>

          <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-confirm-field/app/package/js/angular-confirm-field.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/fullcalendar/fullcalendar.js"></script>
    <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootbox/bootbox.js"></script>
    <script src="bower_components/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script src="bower_components/bootstrap.growl/bootstrap-growl.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/jstree/dist/jstree.js"></script>
    <script src="bower_components/ng-js-tree/dist/ngJsTree.js"></script>
    <script src="bower_components/ng-table/ng-table.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/zingchart/zingchart-html5-min.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script src="bower_components/ng-infinite-scroll-npm-is-better-than-bower/build/ng-infinite-scroll.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/vis/dist/vis.js"></script>
    <script src="bower_components/angular-visjs/angular-vis.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/ngEmbed/src/ng-embed.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/ng-infinite-scroll/ng-infinite-scroll.js"></script>
    <!-- endbower -->
    <script src="socket.io-client/socket.io.js"></script>
    <!-- endbuild -->
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/ng-material-floating-button/src/mfb-directive.js"></script>
    <script src="bower_components/mdPickers/dist/mdPickers.min.js"></script>
    <script src="bower_components/DlhSoft.KanbanLibrary/DlhSoft.Kanban.Angular.Components.js"></script>
    <script src="bower_components/Feedback-Bot/dist/feedback.0.3.1.js"></script>

    <!-- build:js({.tmp,client}) app/app.js -->
    <script src="app/app.js"></script>
    <!-- injector:js -->
    <script src="app/KPI/KPI.controller.js"></script>
    <script src="app/KPI/KPI.js"></script>
    <script src="app/KPIs/KPIs.controller.js"></script>
    <script src="app/KPIs/KPIs.js"></script>
    <script src="app/about/about.controller.js"></script>
    <script src="app/about/about.js"></script>
    <script src="app/account/account.js"></script>
    <script src="app/account/forgot/forgot.controller.js"></script>
    <script src="app/account/login/login.controller.js"></script>
    <script src="app/account/reset/reset.controller.js"></script>
    <script src="app/account/settings/settings.controller.js"></script>
    <script src="app/account/signup/signup.controller.js"></script>
    <script src="app/admin/admin.controller.js"></script>
    <script src="app/admin/admin.js"></script>
    <script src="app/calendar/calendar.controller.js"></script>
    <script src="app/calendar/calendar.js"></script>
    <script src="app/dashboard/dashboard.controller.js"></script>
    <script src="app/dashboard/dashboard.js"></script>
    <script src="app/dashboardTab/dashboardTab.directive.js"></script>
    <script src="app/dashboardWidget/dashboardWidget.directive.js"></script>
    <script src="app/dashboards/dashboards.controller.js"></script>
    <script src="app/dashboards/dashboards.js"></script>
    <script src="app/dqm/dqm.controller.js"></script>
    <script src="app/dqm/dqm.js"></script>
    <script src="app/errSrc/errSrc.directive.js"></script>
    <script src="app/global/global.controller.js"></script>
    <script src="app/help/help.controller.js"></script>
    <script src="app/help/help.js"></script>
    <script src="app/hierarchies/hierarchies.controller.js"></script>
    <script src="app/hierarchies/hierarchies.js"></script>
    <script src="app/journallog/journallog.controller.js"></script>
    <script src="app/journallog/journallog.js"></script>
    <script src="app/kanban/kanban.controller.js"></script>
    <script src="app/kanban/kanban.js"></script>
    <script src="app/mail/mail.controller.js"></script>
    <script src="app/mail/mail.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.js"></script>
    <script src="app/myregex/myregex.filter.js"></script>
    <script src="app/ngEnter/ngEnter.js"></script>
    <script src="app/popoverHtmlUnsafePopup/popoverHtmlUnsafePopup.directive.js"></script>
    <script src="app/process/process.controller.js"></script>
    <script src="app/process/process.js"></script>
    <script src="app/tabActor/tabActor.directive.js"></script>
    <script src="app/tabDashboard/tabDashboard.directive.js"></script>
    <script src="app/tabKPI/tabKPI.directive.js"></script>
    <script src="app/tabTask/tabTask.directive.js"></script>
    <script src="app/task/task.controller.js"></script>
    <script src="app/task/task.js"></script>
    <script src="app/tasks/tasks.controller.js"></script>
    <script src="app/tasks/tasks.js"></script>
    <script src="components/auth/auth.service.js"></script>
    <script src="components/auth/user.service.js"></script>
    <script src="components/factory/focus.js"></script>
    <script src="components/factory/service.js"></script>
    <script src="components/factory/util.js"></script>
    <script src="components/modal/modal.service.js"></script>
    <script src="components/mongoose-error/mongoose-error.directive.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>
    <script src="components/socket/socket.service.js"></script>
    <!-- endinjector -->
    <!-- endbuild -->
    <script type="text/javascript">
    $(function() {
          $.feedback({
  	        html2canvasURL: 'src/html2canvas.js',
          	githubpath: 'wilsto/BoardOS', // CHANGE THIS TO YOUR PATH
  	        serverURL: 'http://feedbackbot.herokuapp.com', // YOU CAN HOST YOUR OWN GITHUB BOT IF YOU WANT
            placement: 'left'
        });
      });
    </script>
    <div class="page-loading-overlay">
      <div class="loader-2"></div>
    </div>
  </div>
  </div>

</body>
</html>
