<div ng-include="'components/navbar/navbar.html'"></div>
<div>
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
</div>
<div id="modUser" tabindex="-1" role="dialog" aria-labelledby="Edit User" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="modUserLbl" class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="editUserForm">
                    <input type="hidden" />
                    <div class="form-group">
                        <label for="editName" size="30">Active</label>
                        <input id="editactive" type="checkbox" name="editActive" ng-model="editUser.active" />
                        
                    </div>
                    <div class="form-group">
                        <label for="editName" size="30">Name</label>
                        <input id="editName" type="text" name="editName" placeholder="Enter name" ng-model="editUser.name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="editEmail">eMail</label>
                        <input id="editEmail" type="text" name="editEmail" placeholder="Enter email" size="60" ng-model="editUser.email" class="form-control" />
                        <label for="editAvatar">Avatar</label>
                        <input id="editAvatar" type="text" name="editAvatar" placeholder="Enter avatar URL" size="60" ng-model="editUser.avatar" class="form-control" />
                    </div>&nbsp;
                    <div class="form-group">
                        <label for="editName" size="30">Role</label>
                        <br>
                        <label>
                            <input type="radio" ng-model="editUser.role" value="admin"> Admin
                        </label>
                        <br>
                        <label>
                            <input type="radio" ng-model="editUser.role" value="manager"> Manager
                        </label>
                        <br>
                        <label>
                            <input type="radio" ng-model="editUser.role" value="user"> User
                        </label>
                        <br>
                        <label>
                            <input type="radio" ng-model="editUser.role" value="guest"> Guest
                        </label>
                    </div>&nbsp;
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" ng-click="update()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover members-table middle-align ng-scope">
    <thead>
        <tr>
            <th class="hidden-xs hidden-sm">Active</th>
            <th><a href="" ng-click="(sortHeader === 'name') ? sortHeader = '-name':sortHeader = 'name'">Name</a></th>
            <th><a href="" ng-click="(sortHeader === 'role') ? sortHeader = '-role':sortHeader = 'role'">Role</a></th>
            <th><a href="" ng-click="(sortHeader === 'groups') ? sortHeader = '-groups':sortHeader = 'groups'">Groups</a></th>
            <th><a href="" ng-click="(sortHeader === 'create_date') ? sortHeader = '-create_date':sortHeader = 'create_date'">Creation</a></th>
            <th><a href="" ng-click="(sortHeader === 'last_connection_date') ? sortHeader = '-last_connection_date':sortHeader = 'last_connection_date'">Last Connection</a></th>
            <th>            <span style="padding-right:25px">{{users.length}} members</span>
</th>
        </tr>
        <tr>
          <th class="hidden-xs">
            <input id="onlyactive" type="checkbox" name="onlyactive" ng-model="onlyactive" />
          </th>

          <th class="hidden-xs">
            <input style="width:150px" ng-model="searchName">
          </th>
          <th class="hidden-xs">
            <input style="width:60px" ng-model="searchRole">
          </th>
          <th>
            <input style="width:200px" ng-model="searchGroup">
          </th>
          <th class="hidden-xs">
          </th>
          <th class="hidden-xs" >
          </th>
          <th >
            Action
          </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users  | orderBy:sortHeader track by user._id ">
            <td class="user-image hidden-xs hidden-sm">
                <a href="/settings">
                    <img alt="{{user.name}}" src="{{user.avatar || 'assets/images/avatars/' + user._id+ '.png'}} " class="img-circle"  style="float:left" err-src="assets/images/avatars/avatar.png" />
                    <img src="assets/images/Icons_flat_ok.png" ng-if="user.active" style="width:20px;position:relative;top:0;float:left;left:-12px;top:16px;">
                    <img src="assets/images/Icons_flat_nok.png" ng-if="!user.active" style="width:20px;position:relative;top:0;float:left;left:-12px;top:16px;">
                </a>
            </td>
            <td class="user-name">
                <a href="/settings" class="name">{{user.name}}</a>
                <br><small class="email">{{user.email}}</small>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-xs">{{user.role.charAt(0).toUpperCase() + user.role.slice(1) }}</button>
                    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="role in roles | orderBy :'text'"><a href="#" ng-click="changeRole(user, role)">{{role.text.charAt(0).toUpperCase() + role.text.slice(1) }}</a></li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="btn-group">
                  <tags-input ng-model="user.groups" style="width:250px;" placeholder="Add a group" use-strings="true" on-tag-added="addGroups($tag, user._id, user.groups)" on-tag-removed="removeGroups($tag, user._id, user.groups)">
                          <auto-complete source="loadGroups($query)" min-length="1"></auto-complete>
                  </tags-input>
                </div>
            </td>
            <td class="hidden-xs hidden-sm">
                {{user.create_date | date:fullDate}}
            </td>
            <td class="hidden-xs hidden-sm">
                {{user.last_connection_date | date:fullDate}}
            </td>
            <td class="action-links">
                <a href="" class="btn btn-sm btn-primary" ng-click="dispUpdate(user)" data-toggle="modal" data-target="#modUser">
                    <i class="glyphicon glyphicon-pencil"></i> Edit
                </a>
                <a href="" class="btn btn-sm btn-warning" ng-click="desactivate(user)">
                    <i class="glyphicon glyphicon-pause"></i> Desactivate
                </a>
            </td>
        </tr>
    </tbody>
</table>
<!-- end ngRepeat: tab in tabs -->
