<div ng-include="'components/navbar/navbar.html'"></div>
<div class="pull-right">
    <button class="btn" ng-show="edit===false" ng-init="edit=false" ng-click="edit=true">Create New User</button>
    <button class="btn btn-primary" ng-show="edit===true" ng-click="">Save User</button>
</div>
<div>
    <div class="row">
        <div class="col-sm-12">
            <span style="padding-right:25px">{{users.length}} members</span> Search :
            <input type="text" ng-model="searchFilter">
        </div>
    </div>
</div>
<div id="modUser" tabindex="-1" role="dialog" aria-labelledby="Edit User" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="modUserLbl" class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="editUserForm">
                    <input type="hidden" />
                    <div class="form-group">
                        <label for="editName" size="30">Active</label>
                        <input id="editactive" type="checkbox" name="editActive" ng-model="editUser.active" />
                    </div>
                    <div class="form-group">
                        <label for="editName" size="30">Name</label>
                        <input id="editName" type="text" name="editName" placeholder="Enter name" ng-model="editUser.name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="editEmail">eMail</label>
                        <input id="editEmail" type="text" name="editEmail" placeholder="Enter email" size="60" ng-model="editUser.email" class="form-control" />
                        <label for="editAvatar">Avatar</label>
                        <input id="editAvatar" type="text" name="editAvatar" placeholder="Enter avatar URL" size="60" ng-model="editUser.avatar" class="form-control" />
                    </div>&nbsp;
                    <div class="form-group">
                        <label for="editName" size="30">Role</label>
                        <br>
                        <label>
                            <input type="radio" ng-model="editUser.role" value="admin"> Admin
                        </label>
                        <br>
                        <label>
                            <input type="radio" ng-model="editUser.role" value="manager"> Manager
                        </label>
                        <br>
                        <label>
                            <input type="radio" ng-model="editUser.role" value="user"> User
                        </label>
                        <br>
                        <label>
                            <input type="radio" ng-model="editUser.role" value="guest"> Guest
                        </label>
                    </div>&nbsp;
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="button" ng-click="update()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover members-table middle-align ng-scope">
    <thead>
        <tr>
            <th>Active
                <input id="onlyactive" type="checkbox" name="onlyactive" ng-model="onlyactive" />
            </th>
            <th class="hidden-xs hidden-sm">Avatar</th>
            <th><a href="" ng-click="(sortHeader === 'name') ? sortHeader = '-name':sortHeader = 'name'">Name</a></th>
            <th><a href="" ng-click="(sortHeader === 'role') ? sortHeader = '-role':sortHeader = 'role'">Role</a></th>
            <th><a href="" ng-click="(sortHeader === 'create_date') ? sortHeader = '-create_date':sortHeader = 'create_date'">Creation</a></th>
            <th><a href="" ng-click="(sortHeader === 'last_connection_date') ? sortHeader = '-last_connection_date':sortHeader = 'last_connection_date'">Last Connection</a></th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users | filter:searchFilter | orderBy:sortHeader track by user._id ">
            <td class="user-cb">
                <div class="cbr-replaced cbr-checked">
                    <div class="cbr-input">
                        <input type="checkbox" ng-model="user.active">
                    </div>
                    <div class="cbr-state"><span></span></div>
                </div>
            </td>
            <td class="user-image hidden-xs hidden-sm">
                <a href="/settings">
                    <img alt="{{user.name}}" src="{{user.avatar || 'assets/images/avatars/' + user._id+ '.png'}} " class="img-circle" err-src="assets/images/avatars/avatar.png" />
                </a>
            </td>
            <td class="user-name">
                <a href="/settings" class="name">{{user.name}}</a>
                <br><small class="email">{{user.email}}</small>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-xs">{{user.role.charAt(0).toUpperCase() + user.role.slice(1) }}</button>
                    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="role in roles | orderBy :'text'"><a href="#" ng-click="changeRole(user, role)">{{role.text.charAt(0).toUpperCase() + role.text.slice(1) }}</a></li>
                    </ul>
                </div>
            </td>
            <td class="hidden-xs hidden-sm">
                {{user.create_date | date:fullDate}}
            </td>
            <td class="hidden-xs hidden-sm">
                {{user.last_connection_date | date:fullDate}}
            </td>
            <td class="action-links">
                <a href="" class="btn btn-sm btn-primary" ng-click="dispUpdate(user)" data-toggle="modal" data-target="#modUser">
                    <i class="glyphicon glyphicon-pencil"></i> Edit
                </a>
                <a href="" class="btn btn-sm btn-warning" ng-click="desactivate(user)">
                    <i class="glyphicon glyphicon-pause"></i> Desactivate
                </a>
            </td>
        </tr>
    </tbody>
</table>
<!-- end ngRepeat: tab in tabs -->
