<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

    <!-- BEGIN PAGE CONTENT-->
    <div class="row profile">
        <div class="col-md-12">
            <!--BEGIN TABS-->

            <tabset>
                <tab active="true">
                    <tab-heading>
                        Overview
                    </tab-heading>
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled profile-nav">
                                <li>
                                    <img ng-src="assets/images/avatars/{{currentUser.name}}.png" class="img-responsive" alt="" />
                                    <a href="#" class="profile-edit">edit</a>
                                </li>
                                <li>
                                    <a href="#">Settings</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-8 profile-info">
                                    <h1>{{currentUser.name}}</h1>
                                    <ul class="list-inline">
                                        <li>
                                            <i class="fa fa-map-marker"></i> Surval
                                        </li>
                                        <li>
                                            <i class="fa fa-calendar"></i> 01 55 72 74 18
                                        </li>
                                        <li>
                                            <i class="fa fa-briefcase"></i> Head of CBI
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> DCLIC.CBI
                                        </li>
                                        <li>
                                            <i class="fa fa-heart"></i> DECID
                                        </li>
                                    </ul>
                                </div>
                                <!--end col-md-8-->
                            </div>
                            <!--end row-->
                            <tabset>
                                <tab active="true">
                                    <tab-heading>
                                        Personal Dashboards
                                    </tab-heading>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <i class="fa fa-briefcase"></i> Dashboard Name
                                                    </th>
                                                    <th class="hidden-xs">
                                                        <i class="fa fa-question-sign"></i> Perimeter
                                                    </th>
                                                    <th>
                                                        <i class="fa fa-bookmark"></i> Tags
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dashboard in dashboards | orderBy : 'name' track by $index ">
                                                    <td>
                                                        <a href="/dashboard/{{dashboard._id}}">{{dashboard.name}}</a>
                                                    </td>
                                                    <td>
                                                        {{dashboard.activity}} / {{dashboard.context}} / {{dashboard.axe}}
                                                    </td>
                                                    <td>
                                                        {{dashboard.tags}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        Tasks
                                    </tab-heading>
                                    <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
                                        <ul class="feeds">
                                            <li  ng-repeat="task in tasks | orderBy : 'lastmetric.endDate' track by $index ">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-success">
                                                                <i class="fa fa-clock-o"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                <a href="/task/{{task._id}}">{{task.name}}</a>
                                                                <span class="label label-danger label-sm" ng-if="task.timebetween <= 0">    Take action <i class="fa fa-share-alt"></i>                 </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date">
                                                        {{task.lastmetric.endDate.substring(0,10)}}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </tab>

                            </tabset>


                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading>
                        Account
                    </tab-heading>
                    To do
                </tab>
                <tab>
                    <tab-heading>
                        Help
                    </tab-heading>

                </tab>
            </tabset>

            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>