<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <!-- BEGIN PAGE CONTENT-->
    <div class="row ">
        <div class="col-md-12">
            <!--BEGIN TABS-->
            <h3>
                My Profil
                <div class="pull-right">
                  <button class="btn btn-primary " ng-click="editMode(true)" ng-show="editInProgress === false"><i class="glyphicon glyphicon-pencil"></i> Edit my profile</button>
                  <button class="btn btn-success " ng-click="saveAvatar()" ng-show="editInProgress === true"><i class="glyphicon glyphicon-save"></i> Save my profile</button>
                </div>
            </h3>
            <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled profile-nav">
                                <li style="text-align:center">
                                    <img src="{{currentUser.avatar || 'assets/images/avatars/' + currentUser._id+ '.png'}} " class="img-circle" style="width:175px;height:175px" alt="" err-src="assets/images/avatars/avatar.jpg" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <ul class="list-group" >
                                    <li class="list-group-item">
                                        <label for="avatar" class="list-user-property text-muted "><i class="fa fa-2x fa-user"></i> Name</label>
                                        <span style="font-size:24px" >{{currentUser.name}} </span>
                                    </li>
                                </ul>
                                <ul class="list-group" >
                                    <li class="list-group-item">
                                        <label ng-class="{'bg-info':editInProgress}" for="avatar" class="list-user-property text-muted "><i class="fa fa-2x fa-map-marker"></i> Place</label>
                                        <span ng-show="editInProgress === false"> {{currentUser.location}} </span>
                                        <div class="form-group" ng-show="editInProgress === true">
                                            <div ng-repeat="location in locations">
                                                <input type="radio" name="location" ng-model="$parent.currentUser.location" ng-value="location.value"> {{location.text}}
                                                <br>
                                            </div>
                                        </div>&nbsp;
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <label ng-class="{'bg-info':editInProgress}" for="avatar" class="list-user-property text-muted "><i class="fa fa-2x fa-user"></i> Avatar</label>
                                        <span id="avatar" ng-class="{'bg-info':editInProgress}" ng-show="editInProgress === false"> {{currentUser.avatar || 'Please enter an URL for your avatar'}} </span>
                                        <input ng-show="editInProgress === true" id="editAvatar" type="text" name="editAvatar" placeholder="Enter avatar URL (http://)" ng-model="currentUser.avatar" class="form-control" />
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <label for="avatar" class="list-user-property text-muted "><i class="fa fa-2x fa-group "></i> Role</label>
                                        <span class=""> {{currentUser.role.charAt(0).toUpperCase() + currentUser.role.slice(1) }} </span>
                                    </li>
                                </ul>
                            </div>
                            <!--end row-->
                            <tabset>
                            </tabset>
                        </div>
                    </div>
                      <h3>
                        My Recurring Tasks
                        <div class="pull-right">
                          <a class="btn btn-primary" href="/recurrentTask/">   <i class="fa fa-plus"></i> Add one</a>
                        </div>
                      </h3>
                      <hr>
                    <div>
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>
                                      <i class="fa fa-refresh"></i>   Reccurents Tasks
                                    </th>
                                    <th class="hidden-xs" >
                                        <i class="fa fa-question-sign"></i> Activity
                                    </th>
                                    <th class="hidden-xs" >
                                        <i class="fa fa-question-sign"></i> Context
                                    </th>
                                    <th class="hidden-xs" >
                                        <i class="fa fa-question-sign"></i> Frequency
                                    </th>
                                    <th class="hidden-xs" >
                                        <i class="fa fa-question-sign"></i> Workload
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="recurrentTask in recurrentTasks | orderBy:'repeats' track by $index ">
                                    <td>
                                        <a href="/recurrentTask/{{recurrentTask._id}}">{{recurrentTask.name}}</a>
                                    </td>
                                    <td class="hidden-xs">
                                        {{recurrentTask.activity || 'ALL'}}
                                    </td>
                                    <td class="hidden-xs">
                                        {{recurrentTask.context || 'ALL'}}
                                    </td>
                                    <td class="hidden-xs">
                                        Every {{recurrentTask.repeats.label.replace('(s)','') }} <span class="text-muted">, on {{ showRepeatOn(recurrentTask) }}</span>
                                    </td>
                                    <td class="hidden-xs">
                                      <small class="text-muted">   {{recurrentTask.metrics[0].targetLoad || 'empty' }}</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            <!--END TABS-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
