<div ng-include="'components/navbar/navbar.html'"></div>
<!--* Modal Part-->

<div class="row">
  <!-- Layout Part -->
      <div class="portlet">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-KPI"></i>KPIs List
          </div>
          <div class="pull-right" ng-if="isAdmin">
            <a class="btn btn-primary" href="/KPI/">Create</a>
          </div>
        </div>
        <div class="portlet-body">
          <table class="table table-striped table-bordered table-hover" id="sample_4">
            <thead>
              <tr>
                <th>
                  <i class="fa fa-tasks"></i> KPI Name
                </th>
                <th class="hidden-xs">
                  <i class="fa fa-question-sign"></i> Category
                </th>
                <th class="hidden-xs">
                  <i class="fa fa-question-sign"></i> Activity
                </th>
                <th class="hidden-xs">
                  <i class="fa fa-question-sign"></i> Context
                </th>
                <th class="hidden-xs">
                  <i class="fa fa-question-sign"></i> Axis
                </th> 
              </tr>
            </thead>
           <tbody>
            <tr ng-repeat="KPI in KPIs | orderBy : Activity | filter: myFilter track by KPI._id " on-finish-render>
              <td>
               <a href="/KPI/{{KPI._id}}">{{KPI.name}}</a>
             </td>
             <td>
               {{KPI.category}}
             </td>
             <td>
               {{KPI.activity}}
             </td>
             <td>
               {{KPI.context}}
             </td>
             <td>
               {{KPI.axe}}
             </td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
