
<div class="row" >
    <div class="col-md-4" >
    <h3>Owner</h3>
	    <div class="user-info" ng-repeat="actor in owner">
			<img alt="" ng-src="assets/images/avatars/{{actor._id}}.png" style="width:45px;height:45px" class="img-circle" err-src="assets/images/avatars/avatar.png"/>
			<div class="details">
				<div>
					<a href="#">{{actor.name}}</a>
				</div>
				<div>
					
				</div>
			</div>
		</div>
	</div>

	    <div class="col-md-4">
    <h3>Actors</h3>
	    <div class="user-info" ng-repeat="actor in actors">

		<img alt="" ng-src="assets/images/avatars/{{actor._id}}.png" style="width:45px;height:45px" class="img-circle" err-src="assets/images/avatars/avatar.png"/>
		<div class="details">
			<div>
				<a href="#">{{actor.name}}</a>
			</div>
			<div>
				{{actor.count}} metrics
			</div>
		</div>
	</div>
	</div>

	    <div class="col-md-4" >
    <h3>Watchers</h3>
	    <div class="user-info" ng-repeat="actor in watchers">
		<img alt="" ng-src="assets/images/avatars/{{actor._id}}.png" style="width:45px;height:45px" class="img-circle" err-src="assets/images/avatars/avatar.png"/>
		<div class="details">
			<div>
				<a href="#">{{actor.name}}</a>
			</div>
			<div>
				
			</div>
		</div>
	</div>
	</div>
</div>