node_modules
public
.tmp
.idea
client/bower_components
dist
karma_html
coverage-results
newrelic_agent.log
/server/config/local.env.js
client/bower_components_2/

client/bower_components_3/

server/config/environment/test\.js

client/bower_components2/

node_modules2/
