<div class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <a href="index.html">
    </a>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
   <a href="index.html">
    <img src="assets/images/logo.png" alt="" class="img-responsive"/>
  </a> <!-- BEGIN LOGIN FORM -->
  <form class="login-form" name="form" ng-submit="login(form)" novalidate >
    <h3 class="form-title">Login to your account</h3>
    <div class="alert alert-danger display-hide">
      <button class="close" data-close="alert"></button>
      <span>
        Enter any username and password. </span>
      </div>
      <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">eMail</label>
        <div class="input-icon">
          <i class="fa fa-user"></i>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="eMail" name="email" ng-model="user.email" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
          <i class="fa fa-lock"></i>
          <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" ng-model="user.password" required/>
        </div>
      </div>

        <div class="form-group has-error">
          <p class="help-block text-danger" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block text-danger" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block text-danger">{{ errors.other }}</p>
        </div>
      <div class="form-actions">
        <label class="checkbox" style="padding-left:20px">
          <input type="checkbox" name="remember" value="1"/> Remember me </label>
          <button type="submit" class="btn btn-info pull-right">
            Login </button>
          </div>
           <input type="submit" value="Submit" style="display:none"/>
          <button class="btn" ng-click="ShowHelp = ! ShowHelp" ng-init="ShowHelp = false"><i class="fa fa-question"></i> Help Me</button>
          <div class="forget-password" ng-show="ShowHelp">
            <h4>Forgot your password ?</h4>
            <p>
             no worries, click <a href="/forgot" id="forget-password">here</a> to reset your password.
           </p>
         </div>
         <div class="create-account" ng-show="ShowHelp">
          <h4>Don't have an account yet ?</h4>
          <p>
           click <a href="/signup" id="register-btn">here</a> to ask for an account.
         </p>
       </div>
     </form>
   </div>
   <br/><br/><br/>
 </div>
