<div ng-include="'components/navbar/navbar.html'"></div>
<!--* Modal Part-->

<div class="row">
    <!-- Layout Part -->
    <div class="row profile">
        <div class="col-md-3">
            <ul class="list-unstyled profile-nav">
                <li>
                    <img src="assets/images/data-quality.jpg" class="img-responsive" alt="" />
                </li>

            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 profile-info">
                    <h1>Data Quality Management</h1>
                    <br/>
                    <ul class="ver-inline-menu tabbable margin-bottom-10">
            <li class="active">
                <a data-toggle="tab" ng-click="loadMe('Context')" href="#tab_1-1">
                    <i class="fa fa-recycle"></i>Contexts
                </a>
                <span class="after"></span>
            </li>
            <li>
                <a data-toggle="tab" ng-click="loadMe('Activity')" href="#tab_2-2"><i class="fa fa-cog"></i>Activities</a>
            </li>

        </ul>
                <div class="actions" style="padding-right:15px">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" ng-class="{'btn-default':filterUsed==='All','btn-success':filterUsed===true,'btn-danger':filterUsed===false}" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">  Used : {{filterUsed}} <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#" ng-click="filterUsed='All'">All  </a>
                            </li>
                            <li>
                                <a href="#" ng-click="filterUsed=true">true</a>
                            </li>
                            <li>
                                <a href="#" ng-click="filterUsed=false">false</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" ng-class="{'btn-default':filterValid==='All','btn-success':filterValid===true,'btn-danger':filterValid===false}" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">  Valid : {{filterValid}} <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#" ng-click="filterValid='All'">All  </a>
                            </li>
                            <li>
                                <a href="#" ng-click="filterValid=true">true</a>
                            </li>
                            <li>
                                <a href="#" ng-click="filterValid=false">false</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn btn-warning pull-right" style="margin-right:50px" ng-click="mergeAll()"> Merge All</div>
                </div>
                </div>
                <!--end col-md-8-->

                <!--end row-->
            </div>
        </div>
    </div>
</div>
<div class="row">

<div class="col-md-5">
  <label>Regex Search</label>
   <a class="btn btn-xs btn-primary" href="http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/" target="_blank"> CheatSheet</a>
   <a class="btn btn-xs btn-primary" href="https://regex101.com/" target="_blank"> Testing</a>
  <input class="form-control" ng-model="textFilter"></input>
  
</div>
<div class="col-md-5">
  <label>Regex Replace</label>
  <input class="form-control" ng-model="textReplace"></input>
</div>
<div class="col-md-2">
  <label>Action</label>
  <span class="btn btn-primary" ng-click="globalChange()">Global Change</span>
</div>
</div>

        <div class="row" style="padding-top:25px">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover" id="sample_4">
                    <thead>
                        <tr>
                            <th>
                                Path
                            </th>
                            <th>
                                Used
                            </th>
                            <th style="text-align:middle">
                                Valid
                            </th>
                            <th>
                                Preview
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="path in paths | myregex:'longname':textFilter track by $index">
                            <td style="width:80%">
                                {{path.longname}}
                            </td>
                            <td>
                                <span class="label" ng-class="{'label-default':!path.isUsedPath, 'label-success':path.isUsedPath}">{{path.isUsedPath}} </span>
                            </td>
                            <td>
                                <span class="label" ng-class="{'label-danger':!path.isValidPath, 'label-success':path.isValidPath}"> {{path.isValidPath}}</span>
                            </td>
                            <td style="width:80%">
                                {{replaceRegex(path.longname, textFilter, textReplace)}}
                            </td>
                            <td>
                                <button class="btn btn-xs btn-default" ng-click="actionPath(path,$index)">Select</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
