<div ng-include="'components/navbar/navbar.html'"></div>
<!-- BEGIN PAGE CONTENT-->
<div class="row profile">
    <div class="col-md-12">
        <!--BEGIN TABS-->
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled profile-nav">
                    <li>
                        <img src="assets/images/kpi.jpg" class="img-responsive" alt=""/>
                    </li>
                    <li>
                        <a href="#">Dashboards Used<span>
                        {{KPI.dashboards.length}}  </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8 profile-info">
                        <h1>{{KPI.name}}</h1>
                        <br/>
                        <ul class="list list-inline">
                            <li>
                                <i class="fa fa-map-marker"></i><span style="color:lightgrey"> Context </span> {{KPI.context}}
                            </li>
                            <br/><br/>
                            <li>
                                <i class="fa fa-calendar"></i><span style="color:lightgrey"> Activity </span>  {{KPI.activity}}
                            </li>
                            <br/><br/>
                            <li>
                                <i class="fa fa-crosshairs"></i><span style="color:lightgrey"> Axis</span>  {{KPI.axe || 'All'}}
                            </li>
                            <br/><br/>
                            <li>
                                <i class="icon-cursor"></i><span style="color:lightgrey"> Category </span>  {{KPI.category || 'All'}}
                            </li>
                        </ul>
                    </div>
                    <!--end col-md-8-->
                    <div class="col-md-4">
                        <div class="portlet sale-summary">
                            <div class="portlet-title">
                                <div class="caption">
                                    Summary
                                </div>
                                <div class="tools">
                                    <a class="reload" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="sale-info">
                                        TASKS COUNT <i class="fa fa-img-up"></i>
                                        </span>
                                        <span class="sale-num">
                                        {{KPI.tasks.length}} </span>
                                    </li>
                                    <li>
                                        <span class="sale-info">
                                        METRICS COUNT <i class="fa fa-img-up"></i>
                                        </span>
                                        <span class="sale-num">
                                        {{KPI.metrics.length}} </span>
                                    </li>
                                    <li>
                                        <span class="sale-info">
                                        LAST ENTRY <i class="fa fa-img-down"></i>
                                        </span>
                                        <span class="sale-num">
                                        {{KPI.metrics[KPI.metrics.length-1].date  | date:'shortDate'}} </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end col-md-4-->
                </div>
                <!--end row-->
            </div>
        </div>

        <tabset>
            <tab active="true">
                <tab-heading>
                    View 
                </tab-heading>

                <nvd3 options="optionsGoal" data="dataGoal" ng-if="KPI.category==='Goal'"></nvd3><br/>
                <div class="row" >
                    <div class="col-md-3">
                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart"></i>KPI Status
                                </div>
                            </div>
                            <div class="portlet-body">
                                <nvd3 options="optionsDonut" data="dataDonut"></nvd3>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                    <div class="col-md-9">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart"></i>KPI Evolution
                                </div>
                                <div class="pull-right">
                                    <select id="selectChart" ng-model="options.chart.type">
                                        <option value="bulletChart">Bullet Chart</option>
                                        <option value="cumulativeLineChart">Cumulative Line Chart</option>
                                        <option value="discreteBarChart">DiscreteBar Chart</option>
                                        <option value="donutChart">Donut Chart</option>
                                        <option value="historicalBarChart">HistoricalBar Chart</option>
                                        <option value="lineChart" selected="selected">Line Chart</option>
                                        <option value="linePlusBarChart">Line + Bar Chart</option>
                                        <option value="linePlusBarWithFocusChart">Line + Bar with Focus Chart</option>
                                        <option value="lineWithFisheyeChart">Line with Fisheye Chart</option>
                                        <option value="lineWithFocusChart">Line with Focus Chart</option>
                                        <option value="multiBarChart">MultiBar Chart</option>
                                        <option value="multiBarHorizontalChart">MultiBar Horizontal Chart</option>
                                        <option value="multiChart">Multi Chart</option>
                                        <option value="parallelCoordinates">Parallel Coordinates</option>
                                        <option value="pieChart">Pie Chart</option>
                                        <option value="scatterChart">Scatter Chart</option>
                                        <option value="scatterPlusLineChart">Scatter + Line Chart</option>
                                        <option value="sparklinePlus">SparkLine Chart</option>
                                        <option value="stackedAreaChart">Stacked Area Chart</option>
                                    </select>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <nvd3 options="options" data="dataScatter"></nvd3>
                                <div id="myChartDiv"></div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                </div>
            </tab>
            <!--tab Dashboard-->
            <tab>
                <tab-heading>
                Dashboards 
                <span class="badge badge-default"> {{KPI.dashboards.length}}</span>
                </tab-heading>
                <div dashboard-tab dashboard-type="dashboards" dashboard-data="KPI" ng-if="KPI"></div>
            </tab>
            <!--tab Tasks-->
            <tab>
                <tab-heading>
                Tasks 
                <span class="badge badge-default"> {{KPI.tasks.length}}</span>
                </tab-heading>
                <div dashboard-tab dashboard-type="tasks" dashboard-data="KPI" ng-if="KPI"></div>
            </tab>
            <!--tab Metrics-->
            <tab>
                <tab-heading>
                Metrics 
                <span class="badge badge-default"> {{KPI.metrics.length}}</span>
                </tab-heading>
                <div dashboard-tab dashboard-type="metrics" dashboard-data="KPI" ng-if="KPI"></div>
            </tab>
            <!--tab Actors-->
            <tab>
                <tab-heading>
                Actors 
                <span class="badge badge-default">4</span>
                </tab-heading>
                <div dashboard-tab dashboard-type="actors" dashboard-data="KPI" ng-if="KPI"></div>
            </tab>
            <!--tab Edit-->
            <tab>
                <tab-heading>
                    Edit 
                </tab-heading>
                <div class="row profile-account">
                    <div class="col-md-3">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                                <a data-toggle="tab" href="#tab_1-1">
                                <i class="fa fa-recycle"></i>Change Perimeter </a>
                                <span class="after">
                                </span>
                            </li>
                            <li >
                                <a data-toggle="tab" href="#tab_2-2"><i class="fa fa-cog"></i>Change calculation</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_3-3"><i class="fa fa-bar-chart-o"></i>Change graphics</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div id="tab_1-1" class="tab-pane active">
                                <form role="form" class="form-horizontal" action="#">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label  class="col-md-3 control-label">Name</label>
                                            <div class="col-md-9">
                                                <input  type="text" placeholder="" class="form-control" ng-model="KPI.name"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Context</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="KPI.context" typeahead="context.longname for context in contexts | filter:$viewValue | limitTo:8"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Activity</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="KPI.activity" typeahead="activity.longname for activity in activities | filter:$viewValue | limitTo:8"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Axis</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="Communication,  etc." class="form-control" ng-model="KPI.axe" typeahead="axe.longname for axe in axes | filter:$viewValue | limitTo:8"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Category</label>
                                            <div class="col-md-9">
                                                    <input type="radio" ng-model="KPI.category" value="Goal">  Goal <br/>
                                                    <input type="radio" ng-model="KPI.category" value="Alert"> Alert <br/>
                                                    <input type="radio" ng-model="KPI.category" value="Anticipation"> Anticipation <br/>
                                                    <input type="radio" ng-model="KPI.category" value="Information"> Information <br/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">TimeFrame</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tags</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="KPI.tags" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-success" ng-click="save()">Save Changes</a>
                                            <a href="#" class="btn btn-default" ng-click="reset()">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="tab_2-2" class="tab-pane ">
                                <form role="form" class="form-horizontal" action="#">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label  class="col-md-3 control-label">Action</label>
                                            <div class="col-md-9">
                                                <input  type="text" placeholder="" class="form-control" ng-model="KPI.action" typeahead="action.value for action in actionKPI | filter:$viewValue | limitTo:8"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Field</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="KPI.metricTaskField" typeahead="field.value for field in metricTaskFields | filter:$viewValue | limitTo:8"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Values</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="KPI.metricTaskValues" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Reference Field</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="KPI.refMetricTaskField" typeahead="field.value for field in metricTaskFields | filter:$viewValue | limitTo:8"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Reference Values</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="KPI.refMetricTaskValues" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Group in time By</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="KPI.groupBy" typeahead="groupBy.value for groupBy in groupByKPI | filter:$viewValue | limitTo:8"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Need to be refreshed every <small>(days)</small></label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="KPI.refresh" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-success" ng-click="save()">Save Changes</a>
                                            <a href="#" class="btn btn-default" ng-click="reset()">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="tab_3-3" class="tab-pane">
                                <p>
                                    Not yet implemented
                                </p>
                            </div>
                            <!-- END CONTENT -->
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
<!-- END CONTAINER -->