<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
  <div class="col-md-2">

        <div class="portlet">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-check"></i>Page List &nbsp;&nbsp;&nbsp;
            </div>
            <a ng-click="save()" class="btn btn-success btn-xs pull-right">Save {{selectedPage}}</a>
          </div>
          <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="sample_4">
              <thead>
                <tr>
                  <th>
                    Page
                  </a>
                  </th>
                  </th>
                  <th style="width:50px;">
                    Tips
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="page in pages" >
                  <td ng-class="{'bg-primary':selectedPage===page}" ng-click="selectPage(page)">
                      {{page}}
                  </td>
                  <td ng-class="{'bg-info':pagesNb[$index]>0}">
                    <span ng-class="{'pull-right':pagesNb[$index]>0}">  {{pagesNb[$index]}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
  <div class="col-md-10">

    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-check"></i>Hints &nbsp;&nbsp;&nbsp;
        </div>
        <a ng-click="createHint()" class="btn btn-xs btn-primary pull-right">Create a new hint</a>

      </div>
      <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_4">
          <thead>
            <tr>
              <th class="hidden-xs">
                Order
              </a>
              </th>
              <th>
                Version
              </a>
              </th>
              <th>
                Text
              </a>
              </th>
              <th>
                Element
              </a>
              <th>
                Position
              </a>
              </th>
              <th style="width:100px;">
                Actions
              </th>
            </tr>
          </thead>
          <tbody  ui:sortable ng-model="showPage.hints" >
            <tr ng-repeat="hint in showPage.hints">
              <td style="text-align: left">
                  {{$index}}
              </td>
              <td>
                <a href="#" editable-select="hint.version" e-ng-options="c.value as c.text for c in versions" buttons="no" blur="submit" >
                    {{ hint.version }}
                </a>
              </td>
              <td>
                <span class="dont-break-out">
                  <a href="#" editable-textarea="hint.intro" buttons="right"  blur="submit">{{ hint.intro || 'empty'}}</a>
                </span>
              </td>
              <td>
                <a href="#" editable-text="hint.element" buttons="no" blur="submit">{{ hint.element || 'empty'}}</a>
              </td>
              <td>
                <a href="#" editable-select="hint.position" e-ng-options="c.value as c.text for c in positions" buttons="no" blur="submit" >
                  {{ hint.position }}
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-xs btn-danger" ng-click="delete(hint, $index)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
