<div ng-include="'components/navbar/navbar.html'"></div>

<div id="tallModal" class="modal modal-news modal-wide fade ">
  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" ng-if="info.title">Create an info</h4>
      <h4 class="modal-title" ng-if="!info.title">Edit an info</h4>
  </div>
  <div class="modal-bodycontent" >
      <table class="table">
          <tbody style="text-align:left;">
            <tr>
                <td style="width:100px;">
                    <span class="text-muted">Active
                    </span>
                </td>
                <td>
                    <span >
                      <input type="radio" ng-model="info.active" ng-value="true" ng-required="!active"> True
                      <input type="radio" ng-model="info.active" ng-value="false" ng-required="!active"> False
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width:100px;">
                    <span class="text-muted">Type of Info
                    </span>
                </td>
                <td>
                    <span >
                      <input type="radio" ng-model="info.type" value="Administration" ng-required="!type"> Administration
                      <input type="radio" ng-model="info.type" value="ChangeManagement" ng-required="!type"> ChangeManagement
                      <input type="radio" ng-model="info.type" value="Release" ng-required="!type"> Release
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width:100px;">
                    <span class="text-muted">Title
                    </span>
                </td>
                <td>
                    <span >
                      <a href="#" buttons="no" blur="submit" editable-text="info.title" >{{ info.title || 'empty' }}</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width:100px;">
                    <span class="text-muted">Resume
                    </span>
                </td>
                <td>
                    <span >
                      <a href="#" buttons="no" blur="submit" editable-textarea="info.resume">{{ info.resume || 'empty' }}</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width:100px;">
                    <span class="text-muted">Full info
                    </span>
                </td>
                <td>
                    <span >
                      <a href="#" buttons="no" blur="submit" editable-textarea="info.info" e-style="height: 300px">{{ info.info || 'empty' }}</a>
                    </span>
                </td>
            </tr>
          </tbody>
      </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="info.type === null || info.title === null || info.resume === null || info.info === null ">Save</button>
  </div>
</div><!-- /.modal -->

<div class="row">
  <div class="portlet">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-check"></i>News List &nbsp;&nbsp;&nbsp;
        <a ng-click="createInfo()" class="btn btn-primary">Create</a>
      </div>
      <small class="text-muted pull-right"><i>Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</i></small>

    </div>
    <div class="portlet-body">
      <table class="table table-striped table-bordered table-hover" id="sample_4">
        <thead>
          <tr>
            <th class="hidden-xs">
              <a style="text-decoration: none" href="#" ng-click="orderByField='actors[0].name'; reverseSort = !reverseSort">
                Owner <span ng-show="orderByField === 'actors[0].name'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th>
              <a style="text-decoration: none" href="#" ng-click="orderByField='type'; reverseSort = !reverseSort">
                Type <span ng-show="orderByField === 'type'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th style="min-width:300px;max-width:600px;">
              <a style="text-decoration: none" href="#" ng-click="orderByField='title'; reverseSort = !reverseSort">
                Title <span ng-show="orderByField === 'title'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th style="min-width:300px;max-width:600px;">
              <a style="text-decoration: none" href="#" ng-click="orderByField='resume'; reverseSort = !reverseSort">
                Resume <span ng-show="orderByField === 'resume'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th style="width:100px;">
              <a style="text-decoration: none" href="#" ng-click="orderByField='info.length'; reverseSort = !reverseSort">
                Info Length<span ng-show="orderByField === 'info.length'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th style="width:100px;">
              <a style="text-decoration: none" href="#" ng-click="orderByField='date'; reverseSort = !reverseSort">
                Date <span ng-show="orderByField === 'date'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th style="width:100px;">
              Actions
            </th>
          </tr>
        </thead>
        <tbody infinite-scroll="getMoreData()" infinite-scroll-distance="3">
          <tr ng-repeat="info in showInfos | orderBy:orderByField:reverseSort">
            <td style="text-align: left">
              <div >
                <img alt="" ng-src="{{ info.owner.avatar || 'assets/images/avatars/' + info.owner._id + '.png'}} " class="img-circle" err-src="assets/images/avatars/avatar.png"/> <small class="text-muted">{{info.owner.name}}</small>
              </div>
            </td>
            <td >
                {{info.type}}
            </td>
            <td >
              <a ng-click="edit(info)">
                <div class="desc">{{info.title}}
                </div>
              </a>
            </td>
            <td >
                <small class="dont-break-out" style="font-size:11px"> {{info.resume}}</small>
            </td>
            <td >
                 {{info.info.length || 0 }}
            </td>
            <td >
              {{info.date | date:'mediumDate'}}
            </td>
            <td >
              <a href="#" class="btn btn-danger" ng-click="delete(info, $index)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
