<div ng-controller='NavbarCtrl'>
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-fixed-top" ng-if="currentUser.name">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <img src="assets/images/rainbow_logo.jpg" style="vertical-align:middle;display:inline-block;" alt="logo" />
            <span style="margin-left:5px;font-size:30px;color:white;display:inline-block; vertical-align:middle"> BOSS </span><span style="margin-left:15px;font-size:16px;color:lightgrey;display:inline-block; vertical-align:middle"> Board Of Supervision System</span>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <li class="dropdown" id="header_notification_bar">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-init="alertTaskDrop = false" ng-click='alertTaskDrop = !alertTaskDrop'>
                        <i class="fa fa-dashboard"></i><span style="color:white"> Dashboards</span>
                        <span class="badge badge-primary" ng-show="dashboards.length>0">
                  {{dashboards.length}} </span>
                    </a>
                    <ul class="dropdown-menu extended notification" style="width:500px!important;position:relative">
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 350px;overflow:auto">
                                <li ng-repeat="dashboard in dashboards | orderBy:'timebetween' track by $index">
                                    <a href="/dashboard/{{dashboard._id}}">
                                        <span class="label label-sm label-icon label-primary">
                                          <i class="fa fa-dashboard"></i>
                                        </span>&nbsp; {{dashboard.name}}
                                        <span class="time pull-right" style="color:red" ng-show="dashboard.timebetween <= 0 && dashboard.timebetween !== null ">{{dashboard.timebetween}} days ago</span>
                                        <span class="time pull-right" style="color:red" ng-show="dashboard.metrics[task.metrics.length - 1].progressStatus !== 'On Time'"> {{dashboard.metrics[task.metrics.length - 1].progressStatus}}  </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="/dashboards">See all dashboards <i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->
                <li class="dropdown" id="header_task_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-init="taskDrop = false" ng-click='taskDrop = !taskDrop'>
                        <i class="fa fa-tasks"></i> <span style="color:white" > Tasks</span>
                        <span class="badge badge-warning" style="color:black" ng-show="navBarTasks.length>0">
                    {{navBarTasks.length}} </span>
                    </a>
                    <ul class="dropdown-menu extended tasks" style="width:500px!important;position:relative">
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 350px;overflow:auto">
                                <li ng-repeat="task in navBarTasks | orderBy:'metrics[task.metrics.length - 1].targetEndDate' track by $index">
                                    <a href="/task/{{task._id}}">
                                        <span class="task">
                              <span class="desc">
                                {{task.name}} </span>
                                        <span class="percent">
                                  {{task.metrics[task.metrics.length - 1].progress}}% </span>
                                        </span>
                                        <span class="progress">
                                  <span ng-attr-style="width: {{task.metrics[task.metrics.length - 1].progress}}%;" class="progress-bar progress-bar-primary" aria-valuetext="{{task.metrics[task.metrics.length - 1].progress}}" aria-valuenow="{{task.metrics[task.metrics.length - 1].progress}}" percent="{{task.metrics[task.metrics.length - 1].progress}}"  aria-valuemin="0" aria-valuemax="100">
                                    </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="/tasks">See all tasks <i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="external">
                            <a href="/task/" style="color:white;background:rgb(31, 119, 180);margin:15px">Create a new task<i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- END TODO DROPDOWN -->
                <li class="devider">
                    &nbsp;
                </li>
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" ng-src="{{currentUser.avatar || 'assets/images/avatars/' + currentUser._id+ '.png'}} " style="width:29px;height:29px" err-src="assets/images/avatars/avatar_small.png" />
                        <span class="username username-hide-on-mobile">{{currentUser.name}} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/settings"><i class="fa fa-user"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="/calendar"><i class="fa fa-calendar"></i> My Calendar</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#0" ng-click="logout()"><i class="fa fa-key"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>

</div>
