<div ng-controller="NavbarCtrl">
  <script type="text/ng-template" id="searchBarTemplate.html">
     <a href="/task/{{match.model._id}}">
       <img class="img-circle" ng-src="{{match.model.actors[0].avatar}}" err-src="assets/images/avatars/avatar.png" >
        <small class=text-muted style="margin-left:5px;margin-right:5px">   {{match.model.metrics[0].targetEndDate | date: 'mediumDate'}}</small>
        {{match.model.name}}
     </a>
  </script>
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-fixed-top navbar-boss" ng-if="currentUser.name">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
          <div class="pull-left scrollable-dropdown-menu">
            <!-- BEGIN LOGO -->
            <img src="assets/images/rainbow_logo.jpg" style="vertical-align:middle;display:inline-block;" alt="logo" />
            <span style="margin-left:5px;font-size:30px;color:white;display:inline-block; vertical-align:middle" uib-tooltip-html="' Board Of Supervision System'" tooltip-placement="bottom" > BOSS </span>
              <!-- <autocomplete ng-model="quickSearchTxt" data="mySearch" on-type="updateMySearch" on-select="findMySearch"  attr-placeholder="Quick Search"></autocomplete> -->
              <input  style="width:400px;margin-top:6px;margin-left:40px;" class="mysearchname" type="text" placeholder="Quick Search ..." ng-model="mySearchTxt" uib-typeahead="mySearchTask as mySearchTask.name for mySearchTask in mySearchTasks | filter:$viewValue:namesWith | orderBy:'-date' | limitTo:100" typeahead-min-length="0" typeahead-template-url="searchBarTemplate.html" typeahead-on-select="onSelect($item, $model, $label)">
          </div>
            <!-- <input class="myfilter" type="text" name="" value="" style="margin-left:25px;width:400px" placeholder="Quick Search" ng-model="quickSearchTxt" uib-typeahead="quickSearch as quickSearch.name for quickSearch in quickSearchs | filter:$viewValue:namesWith | limitTo:10" typeahead-min-length="0" typeahead-template-url="quickSearchTemplate.html"> -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <li class="dropdown" id="header_notification_bar">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-init="alertTaskDrop = false" ng-click='alertTaskDrop = !alertTaskDrop'>
                        <i class="fa fa-dashboard"></i><span style="color:white"> Dashboards</span>
                        <span class="badge badge-primary" ng-show="dashboards.length>0">
                  {{dashboards.length}} </span>
                    </a>
                    <ul class="dropdown-menu extended notification" style="width:500px!important;position:relative">
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 350px;overflow:auto">
                                <li ng-repeat="dashboard in dashboards | orderBy:'timebetween' track by $index">
                                    <a href="/dashboard/{{dashboard._id}}">
                                        <span class="label label-sm label-icon label-primary">
                                          <i class="fa fa-dashboard"></i>
                                        </span>&nbsp; {{dashboard.name}}
                                        <span class="time pull-right" style="color:red" ng-show="dashboard.timebetween <= 0 && dashboard.timebetween !== null ">{{dashboard.timebetween}} days ago</span>
                                        <span class="time pull-right" style="color:red" ng-show="dashboard.metrics[task.metrics.length - 1].progressStatus !== 'On Time'"> {{dashboard.metrics[task.metrics.length - 1].progressStatus}}  </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="/dashboards">See all dashboards <i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="external">
                            <a href="/dashboard/" style="color:white;background:rgb(31, 119, 180);margin:15px">Create a new dashboard<i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->
                <li class="dropdown" id="header_task_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-init="taskDrop = false" ng-click='taskDrop = !taskDrop'>
                        <i class="fa fa-tasks"></i> <span style="color:white" > Tasks</span>
                        <span class="badge badge-warning" style="color:black" ng-show="navBarTasks.length>0">
                    {{navBarTasks.length}} </span>
                    </a>
                    <ul class="dropdown-menu extended tasks" style="width:500px!important;position:relative">
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 350px;overflow:auto">
                                <li ng-repeat="task in navBarTasks | orderBy:'metrics[task.metrics.length - 1].targetEndDate' track by $index">
                                    <a href="/task/{{task._id}}">
                                        <span class="task">
                              <span class="desc">
                                {{task.name}} </span>
                                        <span class="percent">
                                  {{task.metrics[task.metrics.length - 1].progress}}% </span>
                                        </span>
                                        <span class="progress">
                                  <span ng-attr-style="width: {{task.metrics[task.metrics.length - 1].progress}}%;" class="progress-bar progress-bar-primary" aria-valuetext="{{task.metrics[task.metrics.length - 1].progress}}" aria-valuenow="{{task.metrics[task.metrics.length - 1].progress}}" percent="{{task.metrics[task.metrics.length - 1].progress}}"  aria-valuemin="0" aria-valuemax="100">
                                    </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="/tasks">See all tasks <i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="external">
                            <a href="/task/" style="color:white;background:rgb(31, 119, 180);margin:15px">Create a new task<i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- END TODO DROPDOWN -->
                <li class="devider">
                    &nbsp;
                </li>
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" ng-src="{{currentUser.avatar || 'assets/images/avatars/' + currentUser._id+ '.png'}} " style="width:29px;height:29px" err-src="assets/images/avatars/avatar_small.png" />
                        <span class="username username-hide-on-mobile">{{currentUser.name}} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/settings"><i class="fa fa-user"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="/calendar"><i class="fa fa-calendar"></i> My Calendar</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#0" ng-click="logout()"><i class="fa fa-key"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->

        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>

</div>
