    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-fixed-top" ng-controller='NavbarCtrl'>
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="header-inner">
        <!-- BEGIN LOGO -->
         <img src="assets/images/rainbow_logo.jpg" style="vertical-align:middle;" alt="logo"/>
         <span style="font-size:22px;color:white;"> BOSS </span><span style="font-size:16px;color:lightgrey;"> Board Of Supervision System</span>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->

        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <ul class="nav navbar-nav pull-right" ng-show="isLoggedIn">
          <!-- BEGIN NOTIFICATION DROPDOWN -->
          <li class="dropdown" id="header_notification_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <i class="fa fa-bell-o"></i>
              <span class="badge badge-danger">
                2 </span>
              </a>
              <ul class="dropdown-menu extended notification">
                <li>
                  <p>
                    You have 2 notifications
                  </p>
                </li>
                <li>
                  <ul class="dropdown-menu-list scroller" style="height: 250px;">
                    <li>
                      <a href="#">
                        <span class="label label-sm label-icon label-danger">
                          <i class="fa fa-bell"></i>
                        </span>&nbsp;
                        SDTM CL2-78989-008 <br/><span class="time pull-right">
                        17 days ago </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="label label-sm label-icon label-danger">
                          <i class="fa fa-bell"></i>
                        </span>&nbsp;
                        SOP Codobase <br/>
                        <span class="time  pull-right"> Today </span>
                      </a>
                    </li>

                  </ul>
                </li>
                <li class="external">
                  <a href="#">See all notifications <i class="fa fa-angle-right"></i></a>
                </li>
              </ul>
            </li>
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- BEGIN TODO DROPDOWN -->
            <li class="dropdown" id="header_task_bar">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="fa fa-tasks"></i>
                <span class="badge badge-warning" style="color:black" ng-show="tasks.length>0">
                  {{tasks.length}} </span>
                </a>
                <ul class="dropdown-menu extended tasks">
                  <li>
                    <p>
                      You have {{tasks.length}} pending tasks
                    </p>
                  </li>
                  <li>
                    <ul class="dropdown-menu-list scroller" style="height: 250px;">
                      <li ng-repeat="task in tasks | filter:search | orderBy:'mesures[task.mesures.length-1].avancement' track by $index" ng-show="task._id">
                        <a href="/task/{{task._id}}">
                          <span class="task">
                            <span class="desc">
                              {{task.name}} </span>
                              <span class="percent">
                                {{task.mesures[task.mesures.length-1].avancement}}% </span>
                              </span>
                              <span class="progress">
                                <span style="width: {{task.mesures[task.mesures.length-1].avancement}}%;" class="progress-bar progress-bar-success" aria-valuenow="{{task.mesures[task.mesures.length-1].avancement}}" aria-valuemin="0" aria-valuemax="100">
                                  <span class="sr-only">
                                    40% Complete </span>
                                  </span>
                                </span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="external">
                          <a href="/tasks">See all tasks <i class="fa fa-angle-right"></i></a>
                        </li>
                      </ul>
                    </li>
                    <!-- END TODO DROPDOWN -->
                    <li class="devider">
                      &nbsp;
                    </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown user">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" ng-src="assets/images/avatars/{{currentUser.name || 'avatar'}}_small.png"/>
                        <span class="username username-hide-on-mobile">{{currentUser.name}} </span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu" ng-show="isLoggedIn">
                        <li>
                          <a href="/settings"><i class="fa fa-user"></i> My Profile</a>
                        </li>
                        <li>
                          <a href="/calendar"><i class="fa fa-calendar"></i> My Calendar</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                          <a href="#0" ng-click="logout()"><i class="fa fa-key"></i> Log Out</a>
                        </li>
                      </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                  </ul>
                  <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END TOP NAVIGATION BAR -->
              </div>
              <!-- END HEADER -->
              <div class="clearfix">
              </div>
              