<!--* Modal Part-->
<script type="text/ng-template" id="myMesureContent.html">
	<div class="modal-header" style='background:lightgrey'>
		<h3>Enter Metric Information</h3>
	</div>
	<div class="modal-body">
		<!-- FORM -->

		<div class="row">
			<div class="col-md-6">  <h4 style="font-size:14px">Context of task</h4>
				<p class="input-group">
					<input type="text" name="context" class="form-control"  ng-model="formData.context" >

				</p>
			</div>
			<div class="col-md-6">  <h4 style="font-size:14px">Activity of task</h4>
				<p class="input-group">
					<input type="text" name="activity" class="form-control"  ng-model="formData.activity" >

				</p>
			</div>
		</div>


		<div class="row">
			<div class="col-md-4">  <h4 style="font-size:14px">Starting date of task</h4>
				<p class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.startDate" is-open="opened2" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fermer"  />
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="open2($event)">
							<span class="glyphicon glyphicon-chevron-down">
							</span>
						</button>
					</span>
				</p>
			</div>
			<div class="col-md-4">  <h4 style="font-size:14px">Ending date of task</h4>
				<p class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.endDate" is-open="opened3" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fermer"/>
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="open3($event)">
							<span class="glyphicon glyphicon-chevron-down">
							</span>
						</button>
					</span>
				</p>
			</div>
			<div class="col-md-4">   <h4 style="font-size:14px">Load of task</h4>
				<p class="input-group">
					<input type="text" name="load" class="form-control"  ng-model="formData.load" >
					<span class="help-block">
					</span>

				</p>
			</div>
		</div>
<hr/>
		<div class="row">
			<div class="col-md-4">  
				<p class="input-group">
					<label>% progress</label>
					<input type="text" name="progress" class="form-control"  ng-model="formData.progress" >
					<span class="help-block">
					</span>

				</p>
			</div>
			<div class="col-md-4">  
				<p class="input-group">
					<label>Status</label>
					<input type="text" class="form-control" ng-model="formData.status" typeahead="statut.value for statut in constant.statusTask  | limitTo:8"/>
					<span class="help-block">
					</span>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">  
				<p class="input-group">
					<label>Progress Status</label>
					<input type="text" name="progressStatus" class="form-control" ng-model="formData.progressStatus" typeahead-on-select="$item"  typeahead="statut.value for statut in constant.progressStatusTask  | limitTo:8" >
					<span class="help-block">
					</span>

				</p>
			</div>
			<div class="col-md-4">  
				<p class="input-group">
					<label>% Confidence</label>
					<input type="text" name="trust" class="form-control"  ng-model="formData.trust" >
					<span class="help-block">
					</span>

				</p>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">  
				<label>comments</label>
				<textarea name="comments" class="form-control" rows="4" ng-model="formData.comments"></textarea>
			</div>
		</div>

		<div ng-show="debug==true">

			SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED 
			<pre>
				{{ formData }}
			</pre>
			<div class="col-md-4">  <h4 style="font-size:14px">Actor</h4>
				<p class="input-group">
					<input type="text" name="actor" class="form-control" ng-model="formData.actor">
					<span class="help-block">
					</span>

				</p>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 style="font-size:14px">Entry Date</h4>
					<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.date" is-open="opened1" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fermer" />
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="open1($event)">
								<span class="glyphicon glyphicon-chevron-down">
								</span>
							</button>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div style="float:left">
			<button class="btn btn-alert" ng-click="debug=!debug">Debug Mode</button>
			<button ng-show='formData._id' class="btn btn-danger" ng-click="DeleteData(formData._id)">Delete Mesure</button>
			<button ng-hide='formData._id' class="btn btn-warning" ng-click="reloadLast()">Reload Last Mesure</button>
		</div>
		<div style="float:right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-success" ng-click="ok()">Update</button>
		</div>
	</div>

</script>

<div class="portlet-body">

	<!-- table dashboard (see ng-if) -->  
	<!--############-->  
	<table class="table table-striped table-bordered table-advance table-hover"  ng-if="dashboardType === 'dashboards'">
		<thead>
			<tr>
				<th>Name</th>
				<th>Activity</th>
				<th>Context</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="dashboard in dataTable | filter:search | orderBy:'name' track by $index" ng-show="dashboard._id">
				<td><a href="/dashboard/{{dashboard._id}}" >{{dashboard.name}}</a></td>
				<td>{{dashboard.activity.replace(data.activity,"#")}}</td>
				<td>{{dashboard.context.replace(data.context,"#")}}</td>
			</tr>
		</tbody>
	</table>

	<!-- table KPI (see ng-if) -->  
	<!--############-->  
	<table class="table table-striped table-bordered table-hover" id="sample_4" ng-if="dashboardType === 'kpis'">
		<thead>
			<tr>
				<th>KPI Name</th>
				<th  style="text-align:center;">Type</th>
				<th ng-repeat="date in dataTable[0].data[0].values" style="text-align:center;font-size:12px">{{date.month}}</th>
			</tr>
		</thead>
		<tbody style="text-align:center;">
			<tr ng-repeat="KPI in dataTable | orderBy : 'category':'reverse' track by KPI._id " on-finish-render>
				<td style="text-align:left;"><a href="/KPI/{{KPI._id}}">{{KPI.name}}</a></td>
				<td>{{KPI.category}}</td>
				<td> <span class="badge"  ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[0].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[0].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[0].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[1].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[1].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[1].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[2].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[2].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[2].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[3].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[3].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[3].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[4].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[4].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[4].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[5].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[5].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[5].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[6].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[6].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[6].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[7].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[7].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[7].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[8].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[8].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[8].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[9].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[9].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[9].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[10].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[10].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[10].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[11].value)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[11].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[11].value ===null}"></span></td>
				<td ng-if="page === 'dashboard2'" ><nvd3 options="options" data="KPI.data"></nvd3></td>
			</tr>
		</tbody>
	</table>

	<!-- table task (see ng-if)  -->  
	<!--############-->  
	<table class="table table-striped table-bordered table-advance table-hover"  ng-if="dashboardType === 'tasks'">
		<thead>
			<tr>
				<th>Name</th>
				<th>Activity</th>
				<th>Context</th>
				<th ng-if="page === 'KPI'" >KPI Status</th>
				<th ><a href="task/" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="task in dataTable | filter:search | orderBy:'name' track by $index" ng-show="task._id">
				<td><a href="/task/{{task._id}}" >{{task.name}}</a></td>
				<td>{{task.activity.replace(data.activity,"#")}}</td>
				<td>{{task.context.replace(data.context,"#")}}</td>
				<td  ng-if="page === 'KPI'" ><nvd3 options="options" data="task.data"></nvd3></td>
				<td style="width:25px">
					<a ng-href="task/{{task._id}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- table metrics (see ng-if)  -->  
	<!--############-->  
	<table class="table table-striped table-bordered table-advance table-hover"  ng-if="dashboardType === 'metrics'">
		<thead>
			<tr>
				<th>Actor</th>
				<th>Entered</th>
				<th>Activity</th>
				<th>Context</th>
				<th>Start</th>
				<th>Load <small>(days)</small></th>
				<th>Status</th>
				<th>Progress</th>
				<th>Trust</th>
				<th>End</th>
				<th>Comments</th>
				<th ng-if="page === 'task'"><button ng-click='openMetric(data, data.metrics[task.metrics.length-1],true)' type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="metric in dataTable | filter:search | orderBy:'date' track by $index" ng-show="metric._id"  on-finish-render>
				<td><img alt="{{metric.actor}}" ng-src="assets/images/avatars/{{metric.actor}}.png" style="width:25px" class="img-circle"/></td>
				<td>{{metric.date | date:'shortDate'}}</td>
				<td>{{metric.activity.replace(data.activity,"#")}}</td>
				<td>{{metric.context.replace(data.context,"#")}}</td>
				<td>{{metric.startDate | date:'shortDate'}}</td>
				<td>{{metric.load}}</td>
				<td>{{metric.status}}</td>
				<td>{{metric.progress}}% - {{metric.progressStatus}}</td>
				<td>{{metric.trust}}</td>
				<td>{{metric.endDate | date:'shortDate'}}</td>
				<td>{{metric.comments}}</td>
				<td ng-if="page === 'task'" style="width:25px">
					<button ng-click="openMetric(data, metric,false)"type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- table actor (see ng-if)  -->  
	<!--############-->  
	<div class="row"  ng-if="dashboardType === 'actors'">
		<div class="col-md-12 user-info" ng-repeat="actor in dataTable">
			<img alt="" ng-src="assets/images/avatars/{{actor.name}}.png" style="width:45px" class="img-circle"/>
			<div class="details">
				<div>
					<a href="#">{{actor.name}}</a>
				</div>
				<div>
					{{actor.value}} metrics
				</div>
			</div>
		</div>
	</div>



</div>