

<!--* Modal Part-->
<script type="text/ng-template" id="myMesureContent.html">
	<div class="modal-body">
		<!-- FORM -->

		<div class="row">
			<div class="col-md-3" style='background:lightgrey'> 
				<h3>Task Information</h3>

				<div class="col-md-12">  <h4 style="font-size:14px">Context of task</h4>
					<p class="input-group">
						<input type="text" name="context" class="form-control"  ng-model="formData.context" >

					</p>
				</div>
				<div class="col-md-12">  <h4 style="font-size:14px">Activity of task</h4>
					<p class="input-group">
						<input type="text" name="activity" class="form-control"  ng-model="formData.activity" >

					</p>
				</div>
				<div class="col-md-12">  <h4 style="font-size:14px">Starting date of task</h4>
					<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.startDate" is-open="opened2" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fermer"  />
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="open2($event)">
								<span class="glyphicon glyphicon-chevron-down">
								</span>
							</button>
						</span>
					</p>
				</div>
				<div class="col-md-12">  <h4 style="font-size:14px">Ending date of task</h4>
					<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.endDate" is-open="opened3" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fermer"/>
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="open3($event)">
								<span class="glyphicon glyphicon-chevron-down">
								</span>
							</button>
						</span>
					</p>
				</div>
				<div class="col-md-12">   <h4 style="font-size:14px">Global WorkLoad (days)</h4>
					<p class="input-group">
						<input type="text" name="load" class="form-control"  ng-model="formData.load" >
						<span class="help-block">
						</span>
					</p>
				<br/>
				<br/>
				<br/>
				</div>
			</div>


			<div class="col-md-9"> 
				<h3>Enter Metric Information</h3>
				<div class="row">
					<div class="col-md-4"> 
						<p class="input-group">
							<label>Time already spent</label>
							<input type="text" name="timeSpent" class="form-control"  ng-model="formData.timeSpent" >
							<span class="help-block">
							</span>
						</p>
					</div>
					<div class="col-md-4">  
						<p class="input-group">
							<label>% progress</label>
							<input type="text" name="progress" class="form-control"  ng-model="formData.progress" >
							<span class="help-block">
							</span>
						</p>
					</div>

				</div>
				<div class="row">
					<div class="col-md-4">  
						<p class="input-group">
							<label>Progress Status</label>
							<input type="text" name="progressStatus" class="form-control" ng-model="formData.progressStatus" typeahead-on-select="$item"  typeahead="statut.value for statut in constant.progressStatusTask  | limitTo:8" >
							<span class="help-block">
							</span>
						</p>
					</div>
					<div class="col-md-4">  
						<p class="input-group">
							<label>% Confidence</label>
							<input type="text" name="trust" class="form-control"  ng-model="formData.trust" >
							<span class="help-block">
							</span>

						</p>
					</div>
					<div class="col-md-4">  
						<p class="input-group">
							<label>Status</label>
							<input type="text" class="form-control" ng-model="formData.status" typeahead="statut.value for statut in constant.statusTask  | limitTo:8"/>
							<span class="help-block">
							</span>
						</p>
					</div>
				</div>
				<div class="row" ng-if="formData.status === 'Finished'">
					<div class="col-md-4">  
						<p class="input-group">
							<label>Quality as defined</label>
							<input type="text" name="deliverableStatus" class="form-control" ng-model="formData.deliverableStatus" >
							<span class="help-block">
							</span>
						</p>
					</div>
					<div class="col-md-4">  
						<p class="input-group">
						<label>Reason for rework</label>
						<input type="text" name="reworkReason" class="form-control" rows="2" ng-model="formData.reworkReason">
						</p>
					</div>
				</div>
				<div class="row" ng-if="formData.status === 'Finished'">
					<div class="col-md-4">  
						<p class="input-group">
							<label>% User Satisfaction</label>
							<input type="text" name="userSatisfaction" class="form-control"  ng-model="formData.userSatisfaction" >
							<span class="help-block">
							</span>

						</p>
					</div>
					<div class="col-md-4">  
						<p class="input-group">
							<label>% Actors Satisfaction</label>
							<input type="text" name="actorSatisfaction" class="form-control" ng-model="formData.actorSatisfaction"/>
							<span class="help-block">
							</span>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">  
						<label>comments</label>
						<textarea name="comments" class="form-control" rows="2" ng-model="formData.comments"></textarea>
					</div>
				</div>
				<div class="row" style="padding-top:50px">

					<div class="col-md-offset-8 col-md-3">
						<input type="text" class="pull-right form-control" datepicker-popup="{{format}}" ng-model="formData.date" is-open="opened1" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fermer" ng-click="open1($event)"/>
					</div>
					<div class="col-md-1">
						<img alt="{{formData.actor}}" ng-src="assets/images/avatars/{{formData.actor}}.png" style="width:50px" class="img-circle" err-src="assets/images/avatars/avatar_small.png"/>
					</div>
				</div>
			</div>
		</div>		

		<div ng-show="debug==true">

			SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED 
			<pre>
				{{ formData }}
			</pre>
			<div class="col-md-4">  <h4 style="font-size:14px">Actor</h4>
				<p class="input-group">
					<input type="text" name="actor" class="form-control" ng-model="formData.actor">
					<span class="help-block">
					</span>

				</p>
			</div>
			<div class="row">
				<div class="col-md-4"><h4 style="font-size:14px">Entry Date</h4>
					<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.date" is-open="opened1" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fermer" />
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="open1($event)">
								<span class="glyphicon glyphicon-chevron-down">
								</span>
							</button>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div style="float:left">
			<button class="btn btn-alert" ng-click="debug=!debug">Debug Mode</button>
			<button ng-show='formData._id' class="btn btn-danger" ng-click="DeleteData(formData._id)">Delete Mesure</button>
			<button ng-hide='formData._id' class="btn btn-warning" ng-click="reloadLast()">Reload Last Mesure</button>
		</div>
		<div style="float:right">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-success" ng-click="ok()">Update</button>
		</div>
	</div>

</script>

<div class="portlet-body">

	<!-- table dashboard (see ng-if) -->  
	<!--############-->  
	<table class="table table-striped table-bordered table-advance table-hover"  ng-if="dashboardType === 'dashboards'">
		<thead>
			<tr>
				<th>Name</th>
				<th>Activity</th>
				<th>Context</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="dashboard in dataTable | filter:search | orderBy:'name' track by $index" ng-show="dashboard._id">
				<td><a href="/dashboard/{{dashboard._id}}" >{{dashboard.name}}</a></td>
				<td>{{dashboard.activity.replace(data.activity,"#")}}</td>
				<td>{{dashboard.context.replace(data.context,"#")}}</td>
			</tr>
		</tbody>
	</table>

	<!-- table KPI (see ng-if) -->  
	<!--############-->  
	<table class="table table-striped table-bordered table-hover" id="sample_4" ng-if="dashboardType === 'kpis'">
		<thead>
			<tr>
				<th  style="text-align:center;">Type</th>
				<th>KPI Name</th>
				<th  style="text-align:center;">Scope</th>
				<th ng-repeat="date in dataTable[0].data[0].values" ng-class="{'hidden-xs':$index <= 8,'hidden-sm':$index <= 5}" style="text-align:center;font-size:12px">{{date.month}}</th>
			</tr>
		</thead>
		<tbody style="text-align:center;">
			<tr ng-repeat="KPI in dataTable | orderBy : 'category' track by $index " on-finish-render>
				<td>{{KPI.category}}</td>
				<td style="text-align:left;"><a href="/KPI/{{KPI._id}}">{{KPI.name}}</a></td>
				<td>{{KPI.constraint}}</td>
				<td class="hidden-xs hidden-sm"> <span class="badge"  ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[0].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[0].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[0].value ===null}"></span></td>
				<td class="hidden-xs hidden-sm"> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[1].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[1].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[1].value ===null}"></span></td>
				<td class="hidden-xs hidden-sm"> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[2].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[2].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[2].value ===null}"></span></td>
				<td class="hidden-xs hidden-sm"> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[3].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[3].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[3].value ===null}"></span></td>
				<td class="hidden-xs hidden-sm"> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[4].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[4].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[4].value ===null}"></span></td>
				<td class="hidden-xs hidden-sm"> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[5].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[5].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[5].value ===null}"></span></td>
				<td class="hidden-xs"> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[6].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[6].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[6].value ===null}"></span></td>
				<td class="hidden-xs"> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[7].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[7].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[7].value ===null}"></span></td>
				<td class="hidden-xs"> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[8].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[8].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[8].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[9].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[9].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[9].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[10].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[10].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[10].value ===null}"></span></td>
				<td> <span class="badge" ng-style="{'background-color':giveMeMyColor(KPI.data[0].values[11].value, KPI.category)}"  style="height:25px;line-height:20px;width:100%">{{KPI.data[0].values[11].value}}</span><span style="color:lightgrey" class="glyphicon" ng-class="{'glyphicon-unchecked':KPI.data[0].values[11].value ===null}"></span></td>
				<td ng-if="page === 'dashboard2'" ><nvd3 options="options" data="KPI.data"></nvd3></td>
			</tr>
		</tbody>
	</table>

	<!-- table task (see ng-if)  -->  
	<!--############-->  
	<table class="table table-striped table-bordered table-advance table-hover"  ng-if="dashboardType === 'tasks'">
		<thead>
			<tr>
				<th>Name</th>
				<th ng-if="page === 'KPI'" >KPI Status</th>
				<th ng-if="isManager"><a href="task/" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" ></span></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="task in dataTable | filter:search | orderBy:'name' track by $index" ng-show="task._id">
				<td> <div class="desc" popover-html-unsafe="Context : {{task.context}} </p>  Activity : {{task.activity}} " popover-trigger="mouseenter" popover-title="Perimeter" popover-placement="right" popover-delay ="1000"><a href="/task/{{task._id}}" >{{task.name}}</a></div></td>
				<td  ng-if="page === 'KPI'" ><nvd3 options="options" data="task.data"></nvd3></td>
				<td style="width:25px" ng-if="isManager">
					<a ng-href="task/{{task._id}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- table metrics (see ng-if)  -->  
		<!--############-->  
		<table class="table table-striped table-bordered table-advance table-hover"  ng-if="dashboardType === 'metrics'">
			<thead>
				<tr>
					<th>Actor</th>
					<th>Entered</th>
					<th></th>
					<th>Start</th>
					<th>Time Spent</th>
					<th>Progress</th>
					<th>End</th>
					<th>Status</th>
					<th>Confidence</th>
					<th>Comments</th>
					<th ng-if="page === 'task'"><button ng-click='openMetric(data, data.metrics[task.metrics.length-1],true)' type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="metric in dataTable | filter:search | orderBy:'date' track by $index" ng-show="metric._id"  on-finish-render>
					<td><img alt="{{metric.actor}}" ng-src="assets/images/avatars/{{metric.actor}}.png" style="width:25px" class="img-circle" err-src="assets/images/avatars/avatar_small.png"/></td>
					<td>{{metric.date | date:'shortDate'}}</td>
					<td><div class="desc" popover-html-unsafe="Context : {{metric.context}} </p>  Activity : {{metric.activity}} " popover-trigger="mouseenter" popover-title="Perimeter" popover-placement="right" popover-delay ="1000"><i class="fa fa-recycle"></i></div></td>
					<td>{{metric.startDate | date:'shortDate'}}</td>
					<td>{{metric.timeSpent}}</td>
					<td>{{metric.progress}}% <span class="label pull-right" ng-class="{'label-danger':metric.progressStatus==='Late','label-success':metric.progressStatus==='On time','label-warning':metric.progressStatus==='At Risk' }">  {{metric.progressStatus}} </span></td>
					<td>{{metric.endDate | date:'shortDate'}}</td>
					<td>{{metric.status}} <span ng-if="metric.reworkReason" class="label" ng-class="{'label-danger':metric.reworkReason==='Internal','label-warning':metric.progressStatus==='External' }">  {{metric.reworkReason}} Rework </span></td>
					<td>{{metric.trust}}</td>
					<td>{{metric.comments}}</td>
					<td ng-if="page === 'task'" style="width:25px">
						<button ng-click="openMetric(data, metric,false)" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- table actor (see ng-if)  -->  
		<!--############-->  
		<div class="row"  ng-if="dashboardType === 'actors'">
			<div class="col-md-12 user-info" ng-repeat="actor in dataTable">
				<img alt="" ng-src="assets/images/avatars/{{actor.name}}.png" style="width:45px" class="img-circle" err-src="assets/images/avatars/avatar_small.png"/>
				<div class="details">
					<div>
						<a href="#">{{actor.name}}</a>
					</div>
					<div>
						{{actor.value}} metrics
					</div>
				</div>
			</div>
		</div>

		<!-- table help (see ng-if)  -->  
		<!--############-->  
		<div class="row"  ng-if="dashboardType === 'help'">
			<div class="row">
				<div class="col-md-3">
					<ul class="ver-inline-menu tabbable margin-bottom-10">
						<li class="active">
							<a data-toggle="tab"ng-click="changeTab('General')">
							<i class="fa fa-briefcase"></i> General Questions </a>
							<span class="after">
							</span>
						</li>
						<li>
							<a data-toggle="tab" ng-click="changeTab('Dashboard')"><i class="fa fa-group"></i> Dashboard</a>
						</li>
						<li>
							<a data-toggle="tab" ng-click="changeTab('KPI')"><i class="fa fa-leaf"></i> KPI</a>
						</li>
						<li>
							<a data-toggle="tab"  ng-click="changeTab('Task')"><i class="fa fa-info-circle"></i> Task</a>
						</li>
						<li>
							<a data-toggle="tab"  ng-click="changeTab('Metric')"><i class="fa fa-tint"></i> Metric</a>
						</li>
						<li>
							<a data-toggle="tab"  ng-click="changeTab('Other')"><i class="fa fa-plus"></i> Other Questions</a>
						</li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="tab-content">
						<div id="Help_General" class="tab-pane active">
							<div id="accordion1" class="panel-group">
								<div class="panel panel-default" ng-repeat="help in helps | filter:{ category: helpCategory }">
									<div class="panel-heading">
										<h4 class="panel-title">
										{{$index+1}}. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_{{$index}}" id="help_title_{{help._id}}">
										{{help.title}} </a>
										<button ng-click="markdownMe('help_title_'+help._id)"  type="button" class="btn btn-default btn-xs pull-right" ng-if="isAdmin">Edit</button>
										</h4>
									</div>
									<div id="accordion1_{{$index}}" class="panel-collapse collapse in">
										<div id="help_{{help._id}}" class="panel-body">
											 {{help.info}}
										</div>
										<button ng-click="markdownMe('help_'+help._id)" style="margin-top:-30px;margin-right:15px" type="button" class="btn btn-default btn-xs  pull-right"  ng-if="isAdmin">Edit</button>
									</div>
								</div>
							</div>
						</div>
						<div style="margin-top:25px">
							<button class="btn pull-right" ng-click="createNewHelp()"  ng-if="isAdmin">Add help entry</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>