<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row">
    <!-- BEGIN OVERVIEW STATISTIC BARS-->
    <div class="row stats-overview-cont">

       <div class="col-md-2 col-sm-4">
        <div class="stats-overview stat-block">
           <div class="details">
            <div class="title"><a href="/KPIs"><span style="font-weight:bold;color:#1f77b4">{{dataDashboards.kpis.length}}</span> KPIs</a></div>
            <nvd3 options="options" data="dataKPIs"></nvd3>
        </div>
    </div>
</div>

<div class="col-md-2 col-sm-4">
    <div class="stats-overview stat-block" >
       <div class="details">
        <div class="title"><a href="/tasks"><span style="font-weight:bold;color:#9467bd">{{dataDashboards.tasks.length}}</span> Tasks</a></div>
        <nvd3 options="optionsTasks" data="dataTasks"></nvd3>
    </div>
</div>
</div>

<div class="col-md-2 col-sm-4">
    <div class="stats-overview stat-block">
       <div class="details">
        <div class="title"><a href="/metrics"><span style="font-weight:bold;color:#ff7f0e">{{dataDashboards.metrics.length}}</span> Metrics</a></div>
        <nvd3 options="optionsMetrics" data="dataMetrics"></nvd3>
    </div>
</div>
</div>
<div class="col-md-2 col-sm-4">
    <div class="stats-overview stat-block">
       <div class="details">
        <div class="title">Alerts</div>
        <nvd3 options="optionsAlerts" data="data"></nvd3>
    </div>
</div>
</div>

<div class="col-md-2 col-sm-4">
    <div class="stats-overview stat-block">
       <div class="details">
        <div class="title">Goals</div>
        <nvd3 options="optionsGoals" data="data"></nvd3>
    </div>
</div>
</div>

<div class="col-md-2 col-sm-4">
    <div class="stats-overview stat-block">
       <div class="details">
        <div class="title">Trust</div>
        <nvd3 options="optionsTrust" data="data"></nvd3>
    </div>
</div>
</div>
</div>
<!-- END OVERVIEW STATISTIC BARS-->
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>Notifications
                </div>
                <div class="tools">
                    <a href="" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="" class="reload"></a>
                    <a href="" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <!--BEGIN TABS-->
                <tabset>
                    <tab heading="Metrics">
                        <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="feeds">
                                <li ng-repeat="task in dataDashboards.tasks | orderBy:timebetween">
                                    <a ng-href="/task/{{task._id}}">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-danger" ng-show="task.timebetween <= 0 && task.timebetween !== null ">
                                                        <i class="fa fa-bell"></i>
                                                    </div>
                                                    <div class="label label-sm label-default" ng-show="task.timebetween > 0 && task.timebetween !== null ">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2 qs">
                                                <div class="desc" popover-html-unsafe="Context : {{task.context}} </p>  Activity : {{task.activity}} " popover-trigger="mouseenter" popover-title="Perimeter" popover-placement="right" popover-delay ="1000">
                                                        {{task.name}} 
                                                        <span class="label label-sm label-danger " ng-show="task.timebetween <= 0 && task.timebetween !== null "> Take action</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                <span style="color:red" ng-show="task.timebetween <= 0 && task.timebetween !== null ">{{ Math.abs(task.timebetween) }} days ago</span>
                                                <span ng-show="task.timebetween > 0 && task.timebetween !== null" >in {{ Math.abs(task.timebetween) }} days </span>
                                                <span style="color:orange" ng-show="task.timebetween === null" > no defined KPI </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </tab>
                    <tab heading="Close Monitoring">
                        <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="feeds">
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-eye"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    TD CL2-20098-002 <span class="label label-sm label-danger "> Late</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            21/10/2014
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-eye"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    Dev MapBase <span class="label label-sm label-danger ">
                                                    Late 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            17/11/2014
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/task/Q4D5DzSdwo3xchDt">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-warning">
                                                        <i class="fa fa-eye"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        SOP Codobase <span class="label label-sm label-warning " style="color:black">At Risk</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                14/12/2014
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </tab>
                    <tab heading="Calendar">
                        <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible1="1">
                            <ul class="feeds">
                                <li>
                                    <a href="#">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        CL3-78989-012 FVFP
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                Today
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        TD CL3-20098-074 End
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                In 10 days
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </tab>
                    <tab heading="Journal Log">
                        <div class="scroller" style="height: 250px;" data-always-visible="1" data-rail-visible1="1">
                            <ul class="feeds">
                                <li ng-repeat="log in logs | limitTo:50 |  orderBy:data:reverse">
                                    <a href="/{{log.type}}/{{log.refId}}">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-info">
                                                        <i class="fa fa-bell"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{log.info}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date">
                                                {{log.moment}}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </tab>
                </tabset>
                <div class="tab-content">
                </div>
                <!--END TABS-->
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6"> 
        <!-- BEGIN OVERVIEW STATISTIC BLOCKS-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>Your Dashboards <span style="display:inline;"><a href="/dashboards">view all</a></span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="" class="reload"></a>
                    <a href="" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12" ng-repeat="dashboard in dashboards track by dashboard._id" dashboard-widget>

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="circle-stat stat-block" style="text-align:center">
                         <h4 style="background-color:lightgrey;line-height:35px;margin-top:-3px"> <a href="/dashboard/{{dashboard._id}}" >Attach a new one </a></h4>
                         <a href="/dashboards" ><i style="line-height:98px;font-size:100px;color:lightgrey" class="fa fa-plus-circle"></i></a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 </divW