<div ng-include="'components/navbar/navbar.html'"></div>
<h1 class="text-center" style="width:100%">
  <img src="assets/images/project-room.png" style="width:450px" alt="">
  <br><br>
  Enter in an eObeya
</h1>
<br>

<div class="allRoomsObeya" ng-if="dashboards">
  <div class="roomObeya roomObeyaMine" ng-click="openObeya(currentUser.id)">
    <div class="dashboardName" style="width:250px" >{{currentUser.name}}</div>
    <img src="assets/images/door.png" style="height:80%;float:right" alt="">
  </div>
  <div class="roomObeya roomObeyaOther" ng-repeat="dashboard in dashboards" ng-click="openObeya(dashboard._id)">
    <div class="dashboardName" style="width:250px" >{{dashboard.name}}</div>
    <img src="assets/images/door-light.png" style="height:80%;float:right" alt="">
  </div>
  <div class="roomObeya roomObeyaPlus" ng-click="openObeya(currentUser.id)">
    <div class="dashboardName" style="width:250px" >ADD</div>
    <img src="assets/images/plus.png" style="height:80%;display: block;margin: 0 auto " alt="">
  </div>
</div>
