<div ng-include="'components/navbar/navbar.html'"></div>

<!-- BEGIN PAGE CONTENT-->
<div class="row profile">
    <div class="col-md-12">
        <!--BEGIN TABS-->
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled profile-nav">
                    <li>
                        <img src="assets/images/Tasks.png" class="img-responsive" alt=""/>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8 profile-info">
                        <h1>{{task.name}}</h1>
                        <br/>
                        <ul class="list list-inline">
                            <li>
                                <i class="fa fa-map-marker"></i><span style="color:lightgrey"> Context </span> {{task.context}}
                            </li>
                            <br/><br/>
                            <li>
                                <i class="fa fa-calendar"></i><span style="color:lightgrey"> Activity </span>  {{task.activity}}
                            </li>
                        </ul>
                    </div>
                    <!--end col-md-8-->
                    <div class="col-md-4">
                     <ul class="list-unstyled profile-nav">
                   
                    <li>
                        <a href="#" ng-click="load()"> <i class="fa fa-refresh"></i> Reload Me</a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-eye"></i> Watch this task <span>
                        No </span>
                        </a>
                    </li>
                </ul>
                    </div>
                    <!--end col-md-4-->
                </div>
                <!--end row-->
            </div>
        </div>
        <div class="row">
            <tabset>
                <!--tab Metrics-->
                <tab ng-if="task._id" active="true">
                    <tab-heading>
                    Metrics 
                    <span class="badge badge-default"> {{task.metrics.length}}</span>
                    </tab-heading>
                    <div dashboard-tab dashboard-type="metrics" dashboard-data="task" ng-if="task"></div>
                </tab>
                <tab ng-if="task._id" >
                    <tab-heading>
                      KPIs 
                      <span class="badge badge-default"> {{task.kpis.length}}</span>
                    </tab-heading>
                    <div dashboard-tab dashboard-type="kpis" dashboard-data="task" ng-if="task"></div>
                </tab>
                <!--tab Dashboard-->
                <tab ng-if="task._id" >
                    <tab-heading>
                      Dashboards 
                      <span class="badge badge-default"> {{task.dashboards.length}}</span>
                    </tab-heading>
                    <div dashboard-tab dashboard-type="dashboards" dashboard-data="task" ng-if="task"></div>
                </tab>
                <!--tab Actors-->
                <tab ng-if="task._id" >
                    <tab-heading>
                    Actors 
                    <span class="badge badge-default">{{task.actors.length}}</span>
                    </tab-heading>
                    <div dashboard-tab dashboard-type="actors" dashboard-data="task" ng-if="task"></div>
                </tab>
              <tab>
                <tab-heading>
                    Edit 
                </tab-heading>
                <div class="row profile-account">
                    <div class="col-md-3">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                                <a data-toggle="tab" ng-click="changeTab($event, 1)">
                                <i class="fa fa-recycle"></i>Change Perimeter </a>
                                <span class="after">
                                </span>
                            </li>
                            <li >
                                <a data-toggle="tab" ng-click="changeTab($event, 4)">
                                <i class="fa fa-bookmark"></i>Qualification</a>
                                <span class="after">
                                </span>
                            </li>
                            <li >
                                <a data-toggle="tab" ng-click="changeTab($event, 3)">
                                <i class="fa fa-eye"></i>Forecast</a>
                                <span class="after">
                                </span>
                            </li>                            
                            <li >
                                <a data-toggle="tab" ng-click="changeTab($event, 2)" style="background:#FF6666;color:white">
                                <i class="fa fa-bomb"></i>Danger Zone </a>
                                <span class="after">
                                </span>
                            </li>
                        </ul>
                    </div>
                    <form role="form" class="form-horizontal" action="#">
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div id="tab1" class="tab" ng-show="activeTab === 1">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label  class="col-md-3 control-label">Name</label>
                                            <div class="col-md-9">
                                                <input  type="text" placeholder="" class="form-control" ng-model="task.name"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Context</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="task.context" typeahead="context.longname for context in contexts | filter:$viewValue | limitTo:8"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Activity</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="task.activity" typeahead="activity.longname for activity in activities | filter:$viewValue | limitTo:8"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tags</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="task.tags" />
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div id="tab2" class="tab" ng-show="activeTab === 3">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label  class="col-md-3 control-label">Reference Start</label>
                                            <div class="col-md-9">
                                                <input  type="text" placeholder="" class="form-control" ng-model="task.startDate"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Reference End</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="task.endDate" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="col-md-3 control-label">Reference Work Load</label>
                                            <div class="col-md-9">
                                                <input  type="text" placeholder="" class="form-control" ng-model="task.load"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Reference Budget (k€)</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="task.budget" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Deliverables</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="task.deliverables"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Risks</label>
                                            <div class="col-md-9">
                                                <input type="text" placeholder="" class="form-control" ng-model="task.risks" />
                                            </div>
                                        </div>
                                    </div>                          
                            </div>
                            <div id="tab2" class="tab" ng-show="activeTab === 4">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label  class="col-md-3 control-label">Overall Impact</label>
                                            <div class="col-md-9">
                                                <input  type="text" placeholder="" class="form-control" ng-model="task.impact"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label  class="col-md-3 control-label">Previous task</label>
                                            <div class="col-md-9">
                                                <input  type="text" placeholder="" class="form-control" ng-model="task.previous"/>
                                            </div>
                                        </div>
                                    </div>                            
                            </div>                            
                            <div id="tab2" class="tab" ng-show="activeTab === 2">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label  class="col-md-3 control-label">Once you delete your task, there is no going back. Please be certain.</label>
                                            <div class="col-md-9">
                                                <button class="btn btn-danger" ng-click="delete()">Delete this task</button>
                                            </div>
                                        </div>
                                    </div>                               
                            </div>
                             <div class="form-actions">
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-success" ng-click="save()">Save Changes</a>
                                            <a href="#" class="btn btn-default" ng-click="reset()">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            <!-- END CONTENT -->
                        </div>
                    </div>
                </div>
            </tab>
            </tabset>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
