.headerMetric {
    border-top: 1px grey solid;
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    margin-bottom: 8px;
    width: 97%;
    height: 8px;margin-left: 30px;

}

.headerKPIs {
    border-top: 1px grey solid;
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    margin-bottom: 8px;
    width: 97%;
    height: 8px;
    margin-left: 10px;
}
