.underImage {
  margin-left: 15px;
  color: #557386;
  display: block;
  font-size: 14px;
  padding: 8px 10px;
  margin-bottom: 1px;
  background: #f0f6fa;
  border-left: solid 2px #c4d5df;
  position: relative;
  margin-top: -12px;
  margin-right: 20px;
}

.underImage span {
  top: 0;
  right: 0;
  color: #fff;
  font-size: 14px;
  padding: 7px 13px;
  position: absolute;
  background: #169ef4;
}

.white-space-pre-line {
  white-space: pre-line;
}

.descriptionTask {
  position: relative;
  margin-bottom: 18px;
  overflow: hidden;
  display: block;
  padding: 5px;
  left: 15px;
  width: 95%;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  border: 0px solid #ccc;
  border-radius: 4px;
}

.details-followers {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8F8F9;
  padding: 10px 28px 5px 68px;
  position: relative
}

.details-maximized .details-followers {
  border-radius: 0 0 6px 6px
}

.details-followers.focused {
  background-color: #F8F8F9
}

.details-followers.focused .add-button {
  display: none
}

.details-followers:not(.focused) .details-followers-close {
  display: none
}

.details-followers :not(:hover):not(.pressed).follow-button {
  border: 1px solid transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: inset 0px 1px transparent;
  -moz-box-shadow: inset 0px 1px transparent;
  -webkit-box-shadow: inset 0px 1px transparent
}

.details-followers .followers.token-area {
  max-height: 250px;
  min-height: 70px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 5px
}

.details-followers .followers.token-area:not(.focused) {
  background: none;
  border-color: transparent;
  border: none;
  cursor: auto;
  padding: 0;
  display: inline
}

.details-followers .followers.token-area:not(.focused):hover {
  box-shadow: none !important;
  outline: none
}

.details-followers .followers.token-area:not(.focused) .token-input {
  background: none
}

.details-followers .followers.token-area:not(.focused) .token-input {
  left: -999em;
  position: absolute
}

.details-followers .followers.token-area:not(.focused) .tokenView {
  border: none;
  height: auto;
  padding: 0;
  -webkit-transition: box-shadow 200ms;
  -moz-transition: box-shadow 200ms;
  transition: box-shadow 200ms;
  vertical-align: top
}

.details-followers .followers.token-area:not(.focused) .tokenView:hover {
  box-shadow: 0 0 0 3px #02ceff;
  -moz-box-shadow: 0 0 0 3px #02ceff;
  -webkit-box-shadow: 0 0 0 3px #02ceff
}

.details-followers .followers.token-area:not(.focused) .tokenView:hover .tokenView-remove {
  visibility: visible
}

.details-followers .followers.token-area:not(.focused) .tokenView .tokenView-photo {
  margin: 0
}

.details-followers .followers.token-area:not(.focused) .tokenView .tokenView-label {
  display: none
}

.details-followers .followers.token-area:not(.focused) .tokenView .tokenView-remove {
  background: #B9BCC0;
  fill: #fff;
  height: 14px;
  margin: 0;
  padding: 2px;
  position: absolute;
  right: -5px;
  top: -5px;
  visibility: hidden;
  width: 14px
}

.details-followers .followers.token-area:not(.focused) .tokenView .tokenView-remove:hover {
  background: #02ceff
}

.followerDividerLine {
  margin-top: 10px;
  height: 1px;
  background-color: #E1E2E4
}

.detailsFollowers-withFacepileLabel {
  padding-top: 5px;
  padding-left: 10px
}

.detailsFollowersLabel {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  align-items: center;
  font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #898E95
}

.details-followers-value {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 1px
}

.details-bulk-add-status {
  display: none
}

.details-followers-close {
  display: inline-block
}

.detailsPaneFollowersSection-followers {
  vertical-align: top
}

.detailsPaneFollowersSection-followers .share-tasks-popup {
  bottom: 10px;
  height: 0;
  left: 28px;
  position: absolute
}

.detailsPaneFollowersSection-followers .share-tasks-popup.popup-cover-widget .popup-cover-cover {
  bottom: 0;
  top: auto
}

.detailsPaneFollowersSection-followers .tokenAreaView.focused .followersTokenAreaView-overflowFollowers {
  display: none
}

.detailsPaneFollowersSection-followers .tokenAreaView:not(.focused) {}

.detailsPaneFollowersSection-followers .tokenAreaView:not(.focused).has-Overflow .tokenView:nth-of-type(5)~.tokenView {
  display: none
}

.detailsPaneFollowersSection-followers .tokenAreaView:not(.focused) .followersTokenAreaView-overflowFollowers {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  border: 1px solid #E1E2E4;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #898E95;
  cursor: default;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  height: 24px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin-right: 5px;
  width: 24px
}

.detailsPaneFollowersSection-followers .tokenAreaView:not(.focused) .followersTokenAreaView-numOverflowFollowers {
  margin-bottom: -1px
}

.detailsFollowersView-addButton {
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: 5px
}

.circularButtonView {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  border: 1px solid #B9BCC0;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: transparent;
  color: #B9BCC0;
  fill: #B9BCC0;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  height: 30px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-transition: border 200ms, box-shadow 200ms, color 200ms;
  -moz-transition: border 200ms, box-shadow 200ms, color 200ms;
  transition: border 200ms, box-shadow 200ms, color 200ms;
  width: 30px
}

.circularButtonView .svgIcon {
  display: block
}

.circularButtonView:focus {
  outline: none
}

.circularButtonView--active.circularButtonView--onWhiteBackground:focus, .circularButtonView--active.circularButtonView--onWhiteBackground:hover {
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0 0 0 3px #02ceff;
  -moz-box-shadow: 0 0 0 3px #02ceff;
  -webkit-box-shadow: 0 0 0 3px #02ceff;
  color: #02ceff;
  fill: #02ceff
}

.circularButtonView--active.circularButtonView--onWhiteBackground:active, .dropdown-menu-link.open .circularButtonView--active.circularButtonView--onWhiteBackground {
  background-color: #F8F8F9;
  border: 1px solid #E1E2E4;
  box-shadow: inset 0 1px #EFF0F1;
  -moz-box-shadow: inset 0 1px #EFF0F1;
  -webkit-box-shadow: inset 0 1px #EFF0F1;
  fill: #898E95
}

.circularButtonView--active.circularButtonView--onBrightBackground {
  border: 1px solid rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5)
}

.circularButtonView--active.circularButtonView--onBrightBackground:focus, .circularButtonView--active.circularButtonView--onBrightBackground:hover {
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0 0 0 3px #fff;
  -moz-box-shadow: 0 0 0 3px #fff;
  -webkit-box-shadow: 0 0 0 3px #fff;
  color: #fff;
  fill: #fff
}

.circularButtonView--active.circularButtonView--onBrightBackground:active, .dropdown-menu-link.open .circularButtonView--active.circularButtonView--onBrightBackground {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.5);
  fill: #fff
}

.circularButtonView--active.circularButtonView--onDarkBackground {
  border: 1px solid #676D76;
  color: #676D76;
  fill: #676D76
}

.circularButtonView--active.circularButtonView--onDarkBackground:focus, .circularButtonView--active.circularButtonView--onDarkBackground:hover {
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0 0 0 3px #fff;
  -moz-box-shadow: 0 0 0 3px #fff;
  -webkit-box-shadow: 0 0 0 3px #fff;
  color: #fff;
  fill: #fff
}

.circularButtonView--active.circularButtonView--onDarkBackground:active, .dropdown-menu-link.open .circularButtonView--active.circularButtonView--onDarkBackground {
  background-color: #1B2432;
  border: 1px solid #fff;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.5);
  fill: #fff
}

.circularButtonView--small {
  height: 30px;
  width: 30px
}

.circularButtonView--small .svgIcon {
  height: 14px;
  width: 14px
}

.circularButtonView--xsmall {
  height: 20px;
  width: 20px
}

.circularButtonView--xsmall .svgIcon {
  height: 12px;
  width: 12px
}

.circularButtonView--xxsmall {
  height: 16px;
  width: 16px
}

.circularButtonView--xxsmall .svgIcon {
  height: 10px;
  width: 10px
}

.circularButtonView-label {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  flex-item-align: center;
  align-self: center;
  display: block
}

.circularToggleButtonView--toggledOff .circularToggleButtonView-button {
  border: 1px solid #B9BCC0;
  fill: #B9BCC0
}

.circularToggleButtonView--toggledOn .circularToggleButtonView-button {
  background-color: #3b97f7;
  border-color: #3b97f7;
  fill: white
}

.circularToggleButtonView--toggledOff .circularToggleButtonView-button {
  border: 1px solid #B9BCC0;
  fill: #B9BCC0
}

.todoTask {
  height: 40px;
  padding-top: 0px!important;
}

.barre {
  text-decoration: line-through;
  color: #3b97f7;
  font-style: italic;
}

.dateComment {
  font-size: 12px;
  color: rgb(137, 144, 153);
  font-style: italic;
}

.autoComment {
  font-size: 14px;
  color: rgb(108, 114, 121);
  font-style: italic;
}

.imageTransparent {
  opacity: 0.5;
}
