<div ng-include="'components/navbar/navbar.html'"></div>
<nav mfb-menu position="br" effect="slidein" label="create a new task with same"
     active-icon="ion-edit" resting-icon="ion-plus-round"
     toggling-method="click">
     <a mfb-button label="context" icon="ion-android-pin" ng-click="createNewTask('context')"></a>
     <a mfb-button label="activity" icon="ion-ios-gear" ng-click="createNewTask('activity')"></a>
     <a mfb-button label="both" icon="ion-fork-repo" ng-click="createNewTask('both')"></a>
</nav>
<!--* Modal Part-->
<div class="row"  cg-busy="myPromise">
<div class="col-md-12">
  <div class="row ">
    <div class="col-md-1">
      <img src="assets/images/dashboard.png" class="img-responsive hidden-xs" style="max-height:200px;" alt=""/>
    </div>
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h3 style="margin-top:0">
            <a href="#" style="color:black!important" editable-text="dashboard.name" e-style="width: 500px" buttons="right">{{ dashboard.name || 'Please give a name of your dashboard' }}</a>
          </h3>
          <ul class="list list-inline">
              <li style="width:100%;border:1px dotted rgb(196, 197, 205);padding:5px;" ng-repeat="perimeterValue in dashboard.perimeter">
                  <div class="row">
                    <div class="col-md-6">
                      <div  style="height:20px;width:20px" class="circularButtonView circularToggleButtonView-button circularButtonView--small circularButtonView--onWhiteBackground" uib-tooltip-html="'Modify this perimeter'" tooltip-placement="bottom">
                          <span class="circularButtonView-label">
                            <svg class="svgIcon add-followers-icon" viewbox="0 0 32 32" title="MoreIcon" >
                                <circle cx="7" cy="16" r="3"></circle>
                                <circle cx="16" cy="16" r="3"></circle>
                                <circle cx="25" cy="16" r="3"></circle>
                            </svg>
                      </span>
                      </div>
                      <i class="fa fa-flash d-block"></i>
                      <span class="d-block text-muted">Activity</span>
                      <a href="#" editable-text="perimeterValue.activity" style="color:black" class=" d-block" e-style="color:black;width: 500px" e-uib-typeahead="activity.longname for activity in activities | filter:$viewValue | limitTo:50">
                        {{perimeterValue.activity || 'All' }}
                      </a>
                    </div>
                    <div class="col-md-6">
                      <i class="fa fa-map-marker d-block"></i>
                        <span class="d-block text-muted">Context</span>
                      <a href="#" editable-text="perimeterValue.context" style="color:black"  class=" d-block dont-break-out" e-style="color:black;width: 500px" e-uib-typeahead="context.longname for context in contexts | filter:$viewValue | limitTo:50">
                        {{perimeterValue.context || 'All' }}
                      </a>
                    </div>
                  </div>
              </li>
              <li style="width:100%;border:1px dotted rgb(196, 197, 205);padding:5px;">
                <div  style="height:20px;width:20px" class="circularButtonView circularToggleButtonView-button circularButtonView--small circularButtonView--onWhiteBackground" uib-tooltip-html="'Add another perimeter'" tooltip-placement="bottom">
                    <span class="circularButtonView-label">
                      <svg class="svgIcon add-followers-icon" viewbox="0 0 32 32" title="plus" >
                        <polygon points="28,14 18,14 18,4 14,4 14,14 4,14 4,18 14,18 14,28 18,28 18,18 28,18"></polygon>
                      </svg>
                </span>
                </div>
              </li>
              <li style="margin-top:5px" >
                <span ng-show="messageCreation" class="label label-danger">  {{messageCreation}}</span>
              </li>
          </ul>
          <div class="pull-right" style="width:200px" ng-if="!dashboard._id" uib-tooltip-html="'You must fill at least 2 mandatories fields : name and (activity and/or context)to be able to save'" tooltip-placement="bottom">
              <button type="button" name="button" style="width:200px" class="btn  btn-primary" ng-click="create()" ng-disabled="!(dashboard.name && (dashboard.context || dashboard.activity))">Create</button>
          </div>
        </div>
        <!--end col-md-8-->
        <div class="col-md-2 col-sm-12 ">

          <div class="portlet sale-summary" ng-if="dashboard._id" >
              <div class="portlet-title" >
                  <div class="caption">
                      Subscribers
                  </div>
                  <div class="tools">
                      <div class="pull-right">
                          <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!ActionPlanIsExpanded" viewBox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                          <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="ActionPlanIsExpanded" viewBox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                      </div>
                      <span class="pull-right" style="margin-right:15px;"><small>Number:</small>  <span class="text-info">  {{dashboard.users.length ||0}}</span></span>
                  </div>
              </div>
              <div class="portlet-body"  style="height:110px;margin-bottom:5px;">
                          <div ng-repeat="user in dashboard.users" uib-tooltip-html="'Name : <b>{{user.name}}</b>'" class="pull-left">
                            <img style="margin:2px;" alt="" ng-src="{{user.avatar}}" class="img-circle" err-src="assets/images/avatars/avatar.png"/>
                          </div>
              </div>
          </div>

        </div>
        <div class="col-md-2 col-sm-12 ">
          <!-- BEGIN OVERVIEW STATISTIC BARS-->
          <!-- BEGIN OVERVIEW STATISTIC BARS-->
          <div class="row stats-overview-cont" ng-if="dashboard._id">
            <div class="col-md-12 col-sm-12">
              <div class="stats-overview stat-block">
                <div class="details">
                  <div class="title">
                    <a href="/tasks">
                      <span style="font-weight:bold;color:#9467bd">{{tasksNb}}</span>
                      Tasks</a>
                  </div>
                  <nvd3 options="optionsTasks" data="dataTasks"></nvd3>
                </div>
              </div>
              <div class="stats-overview stat-block">
                <div class="details">
                  <div class="title">
                    <a href="/metrics">
                      <span style="font-weight:bold;color:#87CEEB">{{metricsNb}}</span>
                      Metrics</a>
                  </div>
                  <nvd3 options="optionsMetrics" data="dataMetrics"></nvd3>
                </div>
              </div>
            </div>
          </div>
          <!-- END OVERVIEW STATISTIC BARS-->
        </div>
        <!--end col-md-8-->
        <div class="col-md-2 col-sm-12 ">
          <div class="stats-overview stat-block">
              <div id="myChartQCT"></div>
        </div>
        </div>
        <!--end col-md-4-->
      </div>
      <!--end row-->
    </div>
  </div>

</div>

<div class="row" ng-if="dashboard._id">
    <!--############### PLAN ############  -->

    <div class="col-lg-3 col-md-6 col-sm-12" ng-class="{'label-default':task.metrics[0].status ==='Not Started'}" style="padding-bottom:10px;">
        <div class="pdcaCol" ng-class="{'label-default':task.metrics[0].status ==='Not Started'}">
            PLAN
            <div class="pull-right" ng-if="task.metrics[0].status ==='Not Started'">
                <span class="label" ng-class="{'label-info':task.metrics[0].status ==='In Progress','label-success':task.metrics[0].status ==='Finished','label-default':task.metrics[0].status ==='Not Started','label-lightgrey':task.metrics[0].status =='Withdrawn'}">
                      {{task.metrics[0].status}}
                    </span>
            </div>
        </div>

        <!-- Tasks -->
        <div class="portlet sale-summary" >
            <div class="portlet-title">
                <div class="caption">
                    Planned Tasks
                </div>
                <div class="tools">
                    <div class="pull-right" ng-init="PlanTasksIsExpanded=true" ng-click="PlanTasksIsExpanded=!PlanTasksIsExpanded">
                        <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!PlanTasksIsExpanded" viewBox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                        <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="PlanTasksIsExpanded" viewBox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                    </div>
                    <span class="pull-right" style="margin-right:15px;">
                      <i class="fa fa-hashtag" aria-hidden="true"></i><span class="text-info">  {{filteredPlanTasks.length}}</span>&nbsp;&nbsp;
                      <i class="fa fa-clock-o" aria-hidden="true"></i><span class="text-info">  {{filteredPlanTasksLoad}} </span><small>MD</small>
                    </span>
                </div>
            </div>
            <div class="portlet-body"  ng-show="PlanTasksIsExpanded" style="padding:0!important;height:400px;overflow:auto">
              <table class="table table-striped table-hover" >
                  <tbody style="text-align:left;">
                      <tr ng-repeat="task in filteredPlanTasks | orderBy:'metrics[0].targetEndDate'">
                        <td style="text-align: center">
                          <img alt="" ng-src="{{task.actors[0].avatar}}" class="img-circle" style="width:30px;height:30px;" err-src="assets/images/avatars/avatar.png" uib-tooltip-html="'Name <br /> {{task.actors[0].name}}'" tooltip-placement="top"/>
                        </td>
                          <td >
                              <a href="/task/{{task._id}}">
                                <small class="dont-break-out"> {{task.name}}</small>
                              </a >
                          </td>
                          <td style="min-width:70px">
                              <span class="pull-right text-info">
                                <small class="text-muted" >
                                  {{ (task.metrics[0].targetstartDate | date:'MMM, dd') }} >
                                </small>
                                <small style="color:black" >
                                  {{ (task.metrics[0].endDate || task.metrics[0].targetEndDate | date:'MMM, dd') }}
                                </small>
                              </span>
                          </td>
                      </tr>
                  </tbody>
              </table>

            </div>
            <div class="portlet-body" style="margin-top:8px;margin-left:0;margin-right:0;padding-left:0;padding-right:0">
              <table class="table table-striped table-hover" >
                  <tbody style="text-align:left;">
                      <tr style="height:40px;background:#eee;text-align:right">
                          <td >
                              <a href="#" class="btn btn-outline btn-primary" ng-click="createNewTask('both')">
                                <i class="fa fa-plus"></i>
                                <span class="dont-break-out"> Create a new task</span>
                              </a >
                          </td>
                      </tr>
                  </tbody>
              </table>

            </div>
        </div>


    </div>
    <!--############### DO ############  -->
    <div class="col-lg-3 col-md-6 col-sm-12" ng-class="{'label-info':task.metrics[0].status ==='In Progress'}" style="padding-bottom:20px;">
        <div class="pdcaCol" ng-class="{'label-info':task.metrics[0].status ==='In Progress'}">
            DO
            <div class="pull-right" ng-if="task.metrics[0].status ==='In Progress'">
                <span class="label" ng-class="{'label-info':task.metrics[0].status ==='In Progress','label-success':task.metrics[0].status ==='Finished','label-default':task.metrics[0].status ==='Not Started','label-lightgrey':task.metrics[0].status =='Withdrawn'}">
                      {{task.metrics[0].status}}
                    </span>
            </div>
            <div class="pull-right">
              <button type="button" name="button" style="margin-left:5px;" class="btn btn-xs btn-outline btn-warning" ng-click="reopen()" ng-if="task.metrics[0].status ==='Finished' ">ReOpen</button>
            </div>
        </div>
        <!-- Alerts -->
        <div class="" id="Alert" style="margin-bottom:0!important">
            <div class="portlet sale-summary" ng-if="dashboard._id">
                <div class="portlet-title">
                    <div class="caption">
                        Alerts
                    </div>
                    <div class="tools">
                      <span class="pull-right" style="margin-right:15px;"><small>Number:</small>  <span class="text-info">  {{dashboard.alerts.length}}</span></span>
                    </div>
                </div>
                <div class="portlet-body" style="padding:0!important;max-height:400px;overflow:auto">
                    <table class="table table-striped table-hover">
                        <tbody style="text-align:center;">
                            <tr ng-repeat="KPI in dashboard.alerts | orderBy:'constraint' track by $index" on-finish-render uib-tooltip-html="'Contraint : {{KPI.constraint}}<br /> <br /> Description :  {{KPI.description}}  <br /> Suggestion :  {{KPI.suggestion}}'" tooltip-placement="right"  tooltip-class="tooltipkpi" >
                                <td style="text-align:left;width:75%">
                                  <a href="/KPI/{{KPI.alertId}}?type=dashboard&typeid={{dashboard._id}}&rangedate={{datediff}}">{{KPI.name}}</a>
                                </td>
                                <td style="text-align:left;width:25%;font-size:13px">
                                    <span ng-if="KPI.calcul[rangeDate] !== undefined && KPI.calcul[rangeDate] !== null" class="badge" ng-style="{'background-color':giveMeMyColor(KPI.calcul[rangeDate], KPI.category)}" style="height:15px;line-height:10px;width:15px;margin-right: 10px">&nbsp;</span>
                                    <span class="text-muted" >
                                      {{KPI.calcul[rangeDate]}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--In Progress Tasks  -->
        <div class="portlet sale-summary" >
            <div class="portlet-title">
                <div class="caption">
                    In Progress Tasks
                </div>
                <div class="tools">
                    <div class="pull-right" ng-init="InProgressTasksIsExpanded=true" ng-click="InProgressTasksIsExpanded=!InProgressTasksIsExpanded">
                        <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!InProgressTasksIsExpanded" viewBox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                        <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="InProgressTasksIsExpanded" viewBox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                    </div>
                    <i class="fa fa-hashtag" aria-hidden="true"></i><span class="text-info">  {{filteredInProgressTasks.length}}</span>&nbsp;&nbsp;
                    <i class="fa fa-clock-o" aria-hidden="true"></i><span class="text-info">  {{filteredInProgressTasksLoad}} </span><small>MD</small>
                </div>
            </div>
            <div class="portlet-body" style="padding:0!important;max-height:400px;overflow:auto" ng-show="InProgressTasksIsExpanded">
              <table class="table table-striped table-hover">
                  <tbody style="text-align:left;">
                      <tr ng-repeat="task in filteredInProgressTasks | orderBy:'metrics[0].endDate'">
                        <td style="text-align: center">
                          <img alt="" ng-src="{{task.actors[0].avatar}}" class="img-circle" style="width:30px;height:30px;" err-src="assets/images/avatars/avatar.png" uib-tooltip-html="'Name <br /> {{task.actors[0].name}}'" tooltip-placement="top"/>
                        </td>
                          <td>
                            <a href="/task/{{task._id}}">
                            <small class="dont-break-out"> {{task.name}}</small>
                            </a >
                          </td>
                          <td style="min-width:70px">
                              <span class="pull-right text-info">
                                <small class="text-muted" >
                                  {{ task.metrics[0].progress  }}% >
                                </small>
                                <small style="color:black" >
                                  {{ (task.metrics[0].endDate || task.metrics[0].targetEndDate | date:'MMM, dd') }}
                                </small>
                              </span>
                          </td>
                      </tr>
                  </tbody>
              </table>

            </div>
        </div>
        <br>
        <!-- Anomalies -->
        <div class="" id="Anomalies">
            <div class="portlet sale-summary" ng-if="dashboard._id">
                <div class="portlet-title">
                    <div class="caption">
                        Anomalies
                    </div>
                    <div class="tools">
                        <div class="pull-right" >
                            <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!AnomalyIsExpanded" viewBox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                            <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="AnomalyIsExpanded" viewBox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                        </div>
                        <span class="pull-right" style="margin-right:15px;"><small>Number:</small>  <span class="text-info">  {{task.dashboards.length}}</span></span>
                    </div>
                </div>
                <div class="portlet-body" style="padding:0!important;max-height:400px;overflow:auto">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12" ng-class="{'label-success':task.metrics[0].status ==='Finished','label-lightgrey':task.metrics[0].status =='Withdrawn'}" style="padding-bottom:20px;">
        <div class="pdcaCol" ng-class="{'label-success':task.metrics[0].status ==='Finished','label-lightgrey':task.metrics[0].status =='Withdrawn'}">
            CHECK
            <div class="pull-right" ng-if="task.metrics[0].status ==='Finished' || task.metrics[0].status =='Withdrawn'">
                <span class="label" >
                      {{task.metrics[0].status}}
                    </span>
            </div>
        </div>
        <!-- KPIs -->
        <div class="" id="KPI">
            <div class="portlet sale-summary" ng-if="dashboard._id">
                <div class="portlet-title">
                    <div class="caption">
                        KPIs
                    </div>
                    <div class="tools">
                        <div class="pull-right" ng-init="KPIIsExpanded=true" ng-click="KPIIsExpanded=!KPIIsExpanded">
                            <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!KPIIsExpanded" viewBox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                            <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="KPIIsExpanded" viewBox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                        </div>
                        <span class="pull-right" style="margin-right:15px;"><small>Number:</small>  <span class="text-info">  {{dashboard.kpis.length}}</span></span>
                    </div>
                </div>
                <div class="portlet-body" style="padding:0!important;max-height:400px;overflow:auto" ng-show="KPIIsExpanded">
                    <table class="table table-striped table-hover">
                        <tbody style="text-align:center;">
                            <tr ng-repeat="KPI in dashboard.kpis | orderBy:['constraint','name'] track by $index" on-finish-render uib-tooltip-html="'Contraint : {{KPI.constraint}}<br /> <br /> Description :  {{KPI.description}}  <br /> Suggestion :  {{KPI.suggestion}}'" tooltip-placement="left"  tooltip-class="tooltipkpi"  >
                                <td style="text-align:left;width:65%"><a href="/KPI/{{KPI.kpiId}}?type=dashboard&typeid={{dashboard._id}}&rangedate={{datediff}}">{{KPI.name}}</a></td>
                                <td style="text-align:left;width:35%;font-size:13px">
                                    <span ng-if="KPI.calcul[rangeDate] !== undefined && KPI.calcul[rangeDate] !== null" class="badge" ng-style="{'background-color':giveMeMyColor(KPI.calcul[rangeDate], KPI.category)}" style="height:15px;line-height:10px;width:15px;margin-right: 10px">&nbsp;&nbsp;</span> {{KPI.calcul[rangeDate]}}
                                    <span ng-if="KPI.category === 'Goal' && KPI.calcul[rangeDate] !== undefined && KPI.calcul[rangeDate] !== null"> %</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Finished Tasks  -->
        <div class="portlet sale-summary" >
            <div class="portlet-title">
                <div class="caption" uib-tooltip-html="'(not reviewed)'" tooltip-placement="bottom">
                  Finished Tasks
                </div>
                <div class="tools">
                    <div class="pull-right" ng-init="FinishedTasksIsExpanded=true" ng-click="FinishedTasksIsExpanded=!FinishedTasksIsExpanded">
                        <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!FinishedTasksIsExpanded" viewBox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                        <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="FinishedTasksIsExpanded" viewBox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                    </div>
                    <i class="fa fa-hashtag" aria-hidden="true"></i><span class="text-info">  {{filteredFinishedTasks.length}}</span>&nbsp;&nbsp;
                    <i class="fa fa-clock-o" aria-hidden="true"></i><span class="text-info">  {{filteredFinishedTasksLoad}} </span><small>MD</small>

                </div>
            </div>
            <div class="portlet-body" style="padding:0!important;max-height:400px;overflow:auto" ng-show="FinishedTasksIsExpanded">
                <table class="table table-striped table-hover">
                    <tbody style="text-align:left;">
                        <tr ng-repeat="task in filteredFinishedTasks | orderBy:'-metrics[0].endDate'">
                          <td style="text-align: center">
                            <img alt="" ng-src="{{task.actors[0].avatar}}" class="img-circle" style="width:30px;height:30px;" err-src="assets/images/avatars/avatar.png" uib-tooltip-html="'Name <br /> {{task.actors[0].name}}'" tooltip-placement="top"/>
                          </td>
                            <td>
                              <a href="/task/{{task._id}}">
                                <small class="dont-break-out"> {{task.name}}</small>

                              </a >
                            </td>
                            <td style="min-width:70px">
                                <span class="pull-right text-info">
                                  <small class="text-muted" >
                                    {{ (task.metrics[0].endDate | date:'mediumDate') }}
                                  </small>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12" ng-class="{'label-success':task.metrics[0].status ==='Finished','label-lightgrey':task.metrics[0].status =='Withdrawn'}" style="padding-bottom:20px;">
        <div class="pdcaCol">
            ACT
        </div>
        <!-- Review -->
        <div class="portlet sale-summary" >
            <div class="portlet-title">
                <div class="caption">
                    Reviewed Tasks
                </div>
                <div class="tools">
                    <div class="pull-right" ng-init="ReviewedTasksIsExpanded=true" ng-click="ReviewedTasksIsExpanded=!ReviewedTasksIsExpanded">
                        <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!ReviewedTasksIsExpanded" viewBox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                        <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="ReviewedTasksIsExpanded" viewBox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                    </div>
                    <i class="fa fa-hashtag" aria-hidden="true"></i><span class="text-info">  {{filteredReviewedTasks.length}}</span>&nbsp;&nbsp;
                    <i class="fa fa-clock-o" aria-hidden="true"></i><span class="text-info">  {{filteredReviewedTasksLoad}} </span><small>MD</small>
                </div>
            </div>
            <div class="portlet-body" style="padding:0!important;max-height:400px;overflow:auto" ng-show="ReviewedTasksIsExpanded">
                <table class="table table-striped table-hover">
                    <tbody style="text-align:left;">
                        <tr ng-repeat="task in filteredReviewedTasks | orderBy:'-metrics[0].endDate'">
                          <td style="text-align: center">
                            <img alt="" ng-src="{{task.actors[0].avatar}}" class="img-circle" style="width:30px;height:30px;" err-src="assets/images/avatars/avatar.png" uib-tooltip-html="'Name <br /> {{task.actors[0].name}}'" tooltip-placement="top"/>
                          </td>
                            <td>
                              <a href="/task/{{task._id}}">
                                <small class="dont-break-out"> {{task.name}}</small>

                              </a >
                            </td>
                            <td style="min-width:70px">
                                <span class="pull-right text-info">
                                  <small class="text-muted" >
                                    {{ (task.metrics[0].endDate | date:'MMM, dd') }}
                                  </small>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- Review -->
        <div class="" id="Review">
            <div class="portlet sale-summary" ng-if="dashboard._id === 1">
                <div class="portlet-title">
                    <div class="caption">
                        Review
                    </div>
                    <div class="tools">
                        <div class="pull-right" ng-click="ReviewIsExpanded=!ReviewIsExpanded">
                            <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!ReviewIsExpanded" viewBox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                            <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="ReviewIsExpanded" viewBox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                        </div>
                        <span class="pull-right" style="margin-right:15px;"><small>Number:</small>  <span class="text-info">  {{task.reviews.length ||0}}</span></span>
                    </div>
                </div>
                <div class="portlet-body" style="padding:0!important;max-height:400px;overflow:auto" ng-show="ReviewIsExpanded">
                  <table class="table table-striped table-hover">
                      <tbody style="text-align:center;">
                          <tr >
                              <td style="text-align:left;">Task Review</td>
                              <td style="text-align:right;padding-right:25px;font-size:13px">
                                <div class="circularButtonView circularToggleButtonView-button circularButtonView--xsmall circularButtonView--onWhiteBackground circularButtonView--active">
                                    <span class="circularButtonView-label">
                                      <svg class="svgIcon " viewBox="0 0 32 32" title="checkmark">
                                        <polygon points="27.672,4.786 10.901,21.557 4.328,14.984 1.5,17.812 10.901,27.214 30.5,7.615 "></polygon>
                                      </svg>
                                    </span>
                                </div>
                              </td>
                          </tr>
                          <tr >
                              <td style="text-align:left;">Perimeter Review</td>
                              <td style="text-align:right;padding-right:25px;font-size:13px">
                                <div class="circularButtonView circularToggleButtonView-button circularButtonView--xsmall circularButtonView--onWhiteBackground circularButtonView--active">
                                    <span class="circularButtonView-label">
                                      <svg class="svgIcon " viewBox="0 0 32 32" title="checkmark">
                                        <polygon points="27.672,4.786 10.901,21.557 4.328,14.984 1.5,17.812 10.901,27.214 30.5,7.615 "></polygon>
                                      </svg>
                                    </span>
                                </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="" id="ActionPlans">
            <div class="portlet sale-summary" ng-if="dashboard._id">
                <div class="portlet-title" >
                    <div class="caption">
                        Action Plan
                    </div>
                    <div class="tools">
                        <div class="pull-right" ng-click="ActionPlanIsExpanded=!ActionPlanIsExpanded">
                            <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!ActionPlanIsExpanded" viewBox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                            <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="ActionPlanIsExpanded" viewBox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                        </div>
                        <span class="pull-right" style="margin-right:15px;"><small>Number:</small>  <span class="text-info">  {{task.ActionPlans.length ||0}}</span></span>
                    </div>
                </div>
                <div class="portlet-body" style="padding:0!important;" ng-show="ActionPlanIsExpanded">
                  <table class="table table-striped table-hover">
                      <tbody style="text-align:center;">
                          <tr ng-repeat="todo in task.todos | filter:filterToDo track by $index  " >
                              <td style="text-align:left;font-size:13px;width:32px;">
                                <div class="circularButtonView circularToggleButtonView-button circularButtonView--xsmall circularButtonView--onWhiteBackground circularButtonView--active">
                                    <span class="circularButtonView-label">
                                      <svg class="svgIcon " viewBox="0 0 32 32" title="checkmark">
                                        <polygon points="27.672,4.786 10.901,21.557 4.328,14.984 1.5,17.812 10.901,27.214 30.5,7.615 "></polygon>
                                      </svg>
                                    </span>
                                </div>
                              </td>
                              <td style="text-align:left">
                                <span ng-class="{'barre':todo.isDone}"><span style="color:black" >{{todo.text}}</span></span>
                              </td>
                              <td style="text-align:right;">
                                <md-button  class="md-button-slim" ng-click="$parent.showTodoDatePicker(todo, $event)" aria-label="none" style="min-width:20px!important;margin:0!important;padding:0!important;border-bottom:none;">
                                  <small class="text-muted" ng-show="todo.date">{{todo.date |date:'dd MMM' }}</small>
                                    <div ng-hide="todo.date" class="circularButtonView circularToggleButtonView-button circularButtonView--small circularButtonView--onWhiteBackground" uib-tooltip-html="'Add a due date to this subtask'" tooltip-placement="bottom">
                                        <span class="circularButtonView-label">
                                      <svg class="svgIcon task-row-due-date-icon" viewBox="0 0 32 32" title="calendar">
                                        <rect x="16" y="16" width="2" height="2"></rect><rect x="20" y="16" width="2" height="2"></rect>
                                        <rect x="20" y="20" width="2" height="2"></rect><rect x="16" y="20" width="2" height="2"></rect>
                                        <rect x="8" y="20" width="2" height="2"></rect><rect x="8" y="24" width="2" height="2"></rect>
                                        <rect x="16" y="24" width="2" height="2"></rect><rect x="12" y="16" width="2" height="2"></rect>
                                        <rect x="12" y="20" width="2" height="2"></rect><rect x="12" y="24" width="2" height="2"></rect>
                                        <path d="M22,2V0h-2v2h-8V0h-2v2H2v30h28V2H22z M28,30H4V12h24V30z M28,10H4V4h6v2h2V4h8v2h2V4h6V10z"></path>
                                      </svg>
                                    </span>
                                    </div>
                                </md-button>
                                <a ng-click="AssignSubtTaskActor(todo)">
                                    <img ng-show="todo.actor" uib-tooltip-html="'{{todo.actor.name}}'" tooltip-placement="bottom" alt="" ng-src="{{todo.actor.avatar}}" style="width:30px;height:30px;" class="img-circle" err-src="assets/images/avatars/avatar.png" />&nbsp;
                                    <div ng-hide="todo.actor" class="circularButtonView circularToggleButtonView-button circularButtonView--small circularButtonView--onWhiteBackground" uib-tooltip-html="'Assign this subtask'" tooltip-placement="bottom">
                                        <span class="circularButtonView-label">
                                      <svg class="svgIcon task-row-assignee-icon" viewBox="0 0 32 32" title="unassigned">
                                        <path d="M20.534,16.765C23.203,15.204,25,12.315,25,9c0-4.971-4.029-9-9-9S7,4.029,7,9c0,3.315,1.797,6.204,4.466,7.765C5.962,18.651,2,23.857,2,30c0,0.681,0.065,1.345,0.159,2h27.682C29.935,31.345,30,30.681,30,30C30,23.857,26.038,18.651,20.534,16.765z M9,9c0-3.86,3.14-7,7-7s7,3.14,7,7s-3.14,7-7,7S9,12.86,9,9z M4,30c0-6.617,5.383-12,12-12s12,5.383,12,12H4z"></path>
                                      </svg>
                                    </span>
                                    </div>
                                </a>
                              </td>
                          </tr>
                      </tbody>
                  </table>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="navbar-fixed-bottom footer-task-boss">
  <div class="container">
    <!-- big screen -->
    <button ng-if="dashboard._id" type="button" name="button" style="margin-left:80px;margin-bottom:2px;width:100px" class="btn btn-xs btn-outline btn-info"
    ng-click="refreshDashboard()"
    uib-tooltip-html="'Resfresh will operate again all calculations'" tooltip-placement="top" >Refresh</button>
    <button type="button" name="button" style="margin-top:2px;margin-left:40%;margin-right:10px;width:100px;" class="btn btn-xs btn-outline btn-info"
      ng-click="refreshTask()" ng-if="dashboard._id" ng-cloak
      uib-tooltip-html="'History will show you previous performance of your KPIs'" tooltip-placement="top" >History </button>
  <button type="button" name="button" style="margin-top:2px;margin-right:10px;width:100px;" class="btn btn-xs btn-outline btn-success"
    ng-click="refreshTask()" ng-if="dashboard._id" ng-cloak
    uib-tooltip-html="'Review will show you informations for your reviews'" tooltip-placement="top" >Review </button>
  </div>
</footer>
