<div ng-include="'components/navbar/navbar.html'"></div>
<!--* Modal Part-->

<div class="row">
  <div class="row profile">
    <div class="col-md-2">
      <ul class="list-unstyled profile-nav">
        <li>
          <img src="assets/images/dashboard.jpg" class="img-responsive" alt=""/>
        </li>
        <li>
          <a href="#">Pinned <span>
            3 </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8 profile-info">
          <h1>{{dashboard.name}}</h1><br/>
          <ul class="list list-inline">
            <li>
              <i class="fa fa-map-marker"></i><span style="color:lightgrey"> Context </span> {{dashboard.context || 'All'}}
            </li><br/><br/>
            <li>
              <i class="fa fa-calendar"></i><span style="color:lightgrey"> Activity </span>  {{dashboard.activity || 'All'}}
            </li><br/><br/>
            <li>
              <i class="fa fa-crosshairs"></i><span style="color:lightgrey"> Axis </span>  {{dashboard.axe  || 'All'}}
            </li><br/><br/>
            <li>
              <i class="icon-cursor"></i><span style="color:lightgrey"> Category </span>  {{dashboard.category || 'All'}}
            </li>
          </ul>
        </div>
        <!--end col-md-8-->
        <div class="col-md-4">
          <div class="portlet sale-summary">
            <div class="portlet-title">
              <div class="caption">
                Summary
              </div>
              <div class="tools">
                <a class="reload" href="javascript:;"></a>
              </div>
            </div>
            <div class="portlet-body">
              <ul class="list-unstyled">
                <li>
                  <span class="sale-info">
                    TASKS COUNT <i class="fa fa-img-up"></i>
                  </span>
                  <span class="sale-num">
                    {{dashboard.tasks.length}} </span>
                  </li>
                  <li>
                    <span class="sale-info">
                      METRICS COUNT <i class="fa fa-img-up"></i>
                    </span>
                    <span class="sale-num">
                      {{dashboard.metrics.length}} </span>
                    </li>
                    <li>
                      <span class="sale-info">
                        LAST ENTRY <i class="fa fa-img-down"></i>
                      </span>
                      <span class="sale-num">
                        {{dashboard.metrics[dashboard.metrics.length-1].date  | date:'shortDate'}} </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--end col-md-4-->
            </div>
            <!--end row-->
          </div>
        </div>

        <!-- BEGIN OVERVIEW STATISTIC BARS-->
        <div class="row stats-overview-cont">

         <div class="col-md-2 col-sm-4">
          <div class="stats-overview stat-block">
           <div class="details">
            <div class="title"><a href="/KPIs"><span style="font-weight:bold;color:#1f77b4">{{dashboard.kpis.length}}</span> KPIs</a></div>
            <nvd3 options="options" data="dataKPIs"></nvd3>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-4">
        <div class="stats-overview stat-block">
         <div class="details">
          <div class="title"><a href="/tasks"><span style="font-weight:bold;color:#9467bd">{{dashboard.tasks.length}}</span> Tasks</a></div>
          <nvd3 options="optionsTasks" data="dataTasks"></nvd3>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4">
      <div class="stats-overview stat-block">
       <div class="details">
       <div class="title"><a href="/metrics"><span style="font-weight:bold;color:#ff7f0e">{{dashboard.metrics.length}}</span> Metrics</a></div>
        <nvd3 options="optionsMetrics" data="dataMetrics"></nvd3>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-sm-4">
    <div class="stats-overview stat-block">
     <div class="details">
      <div class="title">Alerts</div>
      <nvd3 options="optionsAlerts" data="data"></nvd3>
    </div>
  </div>
</div>

<div class="col-md-2 col-sm-4">
  <div class="stats-overview stat-block">
   <div class="details">
    <div class="title">Goals</div>
    <nvd3 options="optionsGoals" data="data"></nvd3>
  </div>
</div>
</div>

<div class="col-md-2 col-sm-4">
  <div class="stats-overview stat-block">
   <div class="details">
    <div class="title">Trust</div>
    <nvd3 options="optionsTrust" data="data"></nvd3>
  </div>
</div>
</div>
</div>

<!-- END OVERVIEW STATISTIC BARS-->
</div>
<!-- Layout Part -->
<tabset>
    <tab ng-if="dashboard._id" active="true">
        <tab-heading>
          KPIs 
          <span class="badge badge-default"> {{dashboard.kpis.length || 0}}</span>
        </tab-heading>
        <div dashboard-tab dashboard-type="kpis" dashboard-data="dashboard" ng-if="dashboard"></div>
    </tab>
    <!--tab Dashboard-->
    <tab ng-if="dashboard._id">
        <tab-heading>
          Dashboards 
          <span class="badge badge-default"> {{dashboard.dashboards.length || 0}}</span>
        </tab-heading>
        <div dashboard-tab dashboard-type="dashboard" dashboard-data="dashboard" ng-if="dashboard"></div>
    </tab>
    <!--tab Tasks-->
    <tab ng-if="dashboard._id">
        <tab-heading>
        Tasks 
        <span class="badge badge-default"> {{dashboard.tasks.length || 0}}</span>
        </tab-heading>
        <div dashboard-tab dashboard-type="tasks" dashboard-data="dashboard" ng-if="dashboard"></div>
    </tab>
    <!--tab Metrics-->
    <tab ng-if="dashboard._id">
        <tab-heading>
        Metrics 
        <span class="badge badge-default"> {{dashboard.metrics.length || 0}}</span>
        </tab-heading>
        <div dashboard-tab dashboard-type="metrics" dashboard-data="dashboard" ng-if="dashboard"></div>
    </tab>
    <!--tab Actors-->
    <tab ng-if="dashboard._id">
        <tab-heading>
        Actors 
        <span class="badge badge-default">{{dashboard.actors.length || 0}}</span>
        </tab-heading>
        <div dashboard-tab dashboard-type="actors" dashboard-data="dashboard" ng-if="dashboard"></div>
    </tab>
<tab>
  <tab-heading>
  Edit 
</tab-heading>
<div class="row profile-account">
  <div class="col-md-3">
    <ul class="ver-inline-menu tabbable margin-bottom-10">
      <li class="active">
        <a data-toggle="tab" href="#tab_1-1">
          <i class="fa fa-recycle"></i>Change Perimeter </a>
          <span class="after">
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="tab-content">
        <div id="tab_1-1" class="tab-pane active">
          <form role="form" class="form-horizontal" action="#">
            <div class="form-body">
              <div class="form-group">
                <label  class="col-md-3 control-label">Name</label>
                <div class="col-md-9">
                  <input  type="text" placeholder="" class="form-control" ng-model="dashboard.name"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Context</label>
                <div class="col-md-9">
                  <input type="text" placeholder="" class="form-control" ng-model="dashboard.context" typeahead="context.longname for context in contexts | filter:$viewValue | limitTo:8"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Activity</label>
                <div class="col-md-9">
                  <input type="text" placeholder="" class="form-control" ng-model="dashboard.activity" typeahead="activity.longname for activity in activities | filter:$viewValue | limitTo:8"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Axis</label>
                <div class="col-md-9">
                  <input type="text" placeholder="Communication,  etc." class="form-control" ng-model="dashboard.axe" typeahead="axe.longname for axe in axes | filter:$viewValue | limitTo:8"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Categories</label>
                <div class="col-md-9">
                  <div class="col-md-offset-1 checkbox-list">
                    <label class="checkbox">
                      <div class="checker" >
                        <span>
                          <input type="checkbox"  ng-model="dashboard.categories[0]" >
                        </span>
                      </div>
                      Goal 
                    </label>
                    <label class="checkbox">
                      <div class="checker" >
                        <span>
                          <input type="checkbox" ng-model="dashboard.categories[1]" >
                        </span>
                      </div>
                      Alert
                    </label>
                    <label class="checkbox">
                      <div class="checker" >
                        <span>
                          <input type="checkbox" ng-model="dashboard.categories[2]"  >
                        </span>
                      </div>
                      Anticipation 
                    </label>
                    <label class="checkbox">
                      <div class="checker">
                        <span>
                          <input type="checkbox" ng-model="dashboard.categories[3]" >
                        </span>
                      </div>
                      Information* 
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">TimeFrame</label>
                <div class="col-md-9">
                  <input type="text" placeholder="" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Tags</label>
                <div class="col-md-9">
                  <input type="text" placeholder="" class="form-control" ng-model="dashboard.tags" />
                </div>
              </div>
            </div>
            <div class="form-actions">
              <div class="pull-right">
                <a href="#" class="btn btn-success" ng-click="save()">Save Changes</a>
                <a href="#" class="btn btn-default" ng-click="reset()">Cancel</a>
              </div>
            </div>
          </form>
        </div>
        <!-- END CONTENT -->
      </div>
    </div>
  </div>
</tab>
</tabset>
<!-- <script>
  jQuery(document).ready(function() {    
   Index.initMiniCharts();
   Index.initDashboardDaterange();
 });
</script> -->
