.vis-item .vis-item-overflow {
  overflow: visible!important;
}

.nvd3 rect[height="1"] {
  display: none !important;
}

.nvd3 rect[height="1"]+text {
  display: none !important;
}

.nvd3 rect+text {
  font-size: 10px!important;
  color: grey!important;
}
