
<div class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <a href="index.html">
    </a>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
   <a href="index.html">
    <img src="assets/images/logo.png" alt="" class="img-responsive"/>
  </a> <!-- BEGIN LOGIN FORM -->
  <div class="alert alert-danger center" style="text-align:center" role="alert"> <h4 >Ask for a new account</h4>May need an approbation from admin</div>
   <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label for="name">FirstName + LastName</label>

          <input id="name" type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label for="email">Email</label>

          <input id="email" type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label for="password">Password</label>

          <input id="password" type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

   <div class="form-group" ng-class="{ 'has-success': form.passwordConfirm.$valid && submitted,
                                            'has-error': form.passwordConfirm.$invalid && submitted }">
          <label for="passwordConfirm">Confirm Password</label>

          <input type="password" name="passwordConfirm" class="form-control" ng-model="passwordConfirm"
                 id="passwordConfirm"
                 ng-minlength="3"
                 ng-confirm-field
                 confirm-against="user.password"
                 required/>
         <p class="help-block"
             ng-show="form.passwordConfirm.$error.noMatch && submitted">
           Passwords must match.
          </p>
          
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-primary pull-right" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/login">
            Return to Login
          </a>
        </div>

        <hr ng-if="1===2">
        <div ng-if="1===2">
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
        </div>
      </form>
   </div>
   <br/><br/><br/>
 </div>

