<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row">
  <div class="col-md-2 col-sm-4"></div>
  <div class="col-md-10 col-sm-8">
    <a class="anim-btn" href="/task/">
      <span class="anim-btn-text">Create a new Task&nbsp;&nbsp;&nbsp;</span>
      <span class="anim-btn-slide-text">with new context and activity</span>
      <span class="anim-btn-icon-right">
        <span>
          <i class="fa fa-2x fa-cog fa-spin fa-fw" aria-hidden="true"></i>
        </span>
      </span>
    </a>
    <span class="bottom-align-text">
      or add an existing one below
      <small class="text-muted" style="margin-left:15px;">(you can use filter on your right to find more easily)</small>
    </span>
  </div>
</div>
<div style="padding:10px;">

</div>
<div class="actions pull-right" style="padding-right:15px">
  <div class="btn-group">
    <a
      class="btn dropdown-toggle"
      ng-class="{'btn-default':filterStatus==='All','btn-info':filterStatus==='In Progress' || filterStatus==='Not Finished','btn-success':filterStatus==='Finished','btn-default':filterStatus==='Not Started'}"
      href="#"
      data-toggle="dropdown"
      data-hover="dropdown"
      data-close-others="true">
      Status :
      {{filterStatus}}
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right">
      <li>
        <a href="#" ng-click="filterStatus='All'">All
        </a>
      </li>
      <li>
        <a href="#" ng-click="filterStatus='Not Started'">Not Started
        </a>
      </li>
      <li>
        <a href="#" ng-click="filterStatus='In Progress'">In Progress
        </a>
      </li>
      <li>
        <a href="#" ng-click="filterStatus='Finished'">Finished
        </a>
      </li>
      <li>
        <a href="#" ng-click="filterStatus='Withdrawn'">Withdrawn
        </a>
      </li>
      <li>
        <a href="#" ng-click="filterStatus='Not Finished'">Not Finished
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="actions pull-right" style="padding-right:15px">
  <div class="btn-group">
    <a
      class="btn dropdown-toggle"
      ng-class="{'btn-default':filterProgressStatus==='All','btn-warning':filterProgressStatus==='At Risk','btn-success':filterProgressStatus==='On Time','btn-danger':filterProgressStatus==='Late'}"
      href="#"
      data-toggle="dropdown"
      data-hover="dropdown"
      data-close-others="true">
      Time Status :
      {{filterProgressStatus}}
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right">
      <li>
        <a href="#" ng-click="filterProgressStatus='All'">All
        </a>
      </li>
      <li>
        <a href="#" ng-click="filterProgressStatus='Late'">Late</a>
      </li>
      <li>
        <a href="#" ng-click="filterProgressStatus='At Risk'">At Risk</a>
      </li>
      <li>
        <a href="#" ng-click="filterProgressStatus='On Time'">On Time
        </a>
      </li>
    </ul>
  </div>
</div>
<div style="padding:15px;">
  Filter :
  <input style="width:100%" ng-model="searchText" class="form-control">
</div>

<div class="row">
  <div class="portlet">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-check"></i>Task List &nbsp;&nbsp;&nbsp;
      </div>
      <small class="text-muted pull-right"><i>Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</i></small>

    </div>
    <div class="portlet-body">
      <table class="table table-striped table-bordered table-hover" id="sample_4">
        <thead>
          <tr>
            <th class="hidden-xs">
              <a style="text-decoration: none" href="#" ng-click="orderByField='actor.name'; reverseSort = !reverseSort">
                Owner <span ng-show="orderByField == 'actor.name'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th style="min-width:50px;max-width:250px;">
              <a style="text-decoration: none" href="#" ng-click="orderByField='Name'; reverseSort = !reverseSort">
                Name <span ng-show="orderByField == 'Name'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th style="max-width:50px;width:auto;min-width:20px;">
              <a style="text-decoration: none" href="#" ng-click="orderByField='metrics[task.metrics.length - 1].startDate'; reverseSort = !reverseSort">
                Start <span ng-show="orderByField == 'metrics[task.metrics.length - 1].startDate'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th style="max-width:50px;width:auto;min-width:20px;">
              <a style="text-decoration: none" href="#" ng-click="orderByField='metrics[task.metrics.length - 1].load'; reverseSort = !reverseSort">
                Workload <span ng-show="orderByField == 'metrics[task.metrics.length - 1].load'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th style="max-width:50px;width:auto;min-width:20px;">
              <a style="text-decoration: none" href="#" ng-click="orderByField='metrics[task.metrics.length - 1].endDate'; reverseSort = !reverseSort">
                End <span ng-show="orderByField == 'metrics[task.metrics.length - 1].endDate'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
              </a>
            </th>
            <th class="hidden-xs text-muted">
              <i class="fa fa-bookmark"></i>
              Action
            </th>
            <th ng-if="isAdmin"></th>
          </tr>
        </thead>
        <tbody infinite-scroll="getMoreData()" infinite-scroll-distance="3">
          <tr ng-repeat="task in showTasks">
            <td style="text-align: center">
              <div popover-html-unsafe="<b>{{task.actors[0].name}}</b>" popover-trigger="mouseenter" popover-title="Owner Identity" popover-placement="right">
                <img alt="" ng-src="{{ task.actors[0].avatar || 'assets/images/avatars/' + task.actors[0]._id + '.png'}} " class="img-circle" err-src="assets/images/avatars/avatar.png"/>
              </div>
            </td>
            <td >
              <a href="/task/{{task._id}}">
                <div class="desc" popover-html-unsafe="Context : {{task.context}} </p>  Activity : {{task.activity}} " popover-trigger="mouseenter" popover-title="Perimeter" popover-placement="right" popover-delay="1000">{{task.name}}
                  <span class="label label-sm label-warning " ng-show="task.needToFeed">
                    Need Metric</span>
                </div>
              </a>
            </td>
            <td class="hidden-xs">
              {{task.metrics[task.metrics.length - 1].targetstartDate | date:'mediumDate'}}<br/>
              <div ng-if="task.metrics[task.metrics.length - 1].status ==='Not Started' ">
                <div class="label label-sm label-warning" ng-if="task.metrics[task.metrics.length - 1].startDate < today ">
                  <i class="fa fa-bell"></i>
                </div>
                <span
                  class="label label-sm"
                  ng-class="{'label-info':task.metrics[task.metrics.length - 1].status ==='In Progress','label-success':task.metrics[task.metrics.length - 1].status ==='Finished','label-default':task.metrics[task.metrics.length - 1].status ==='Not Started','label-lightgrey':task.metrics[task.metrics.length - 1].status =='Withdrawn'}">
                  {{task.metrics[task.metrics.length - 1].status}}
                </span>
              </div>
              <div ng-if="task.metrics[task.metrics.length - 1].status !=='Not Started'">
                <span
                  class="label label-sm"
                  ng-class="{'label-info':task.metrics[task.metrics.length - 1].status ==='In Progress','label-success':task.metrics[task.metrics.length - 1].status ==='Finished','label-default':task.metrics[task.metrics.length - 1].status ==='Not Started','label-lightgrey':task.metrics[task.metrics.length - 1].status =='Withdrawn'}">
                  {{task.metrics[task.metrics.length - 1].status}}
                </span>
                <span class="label label-sm label-lightinfo" ng-if="task.metrics[task.metrics.length - 1].startDate > task.metrics[task.metrics.length - 1].targetstartDate " >&nbsp;&nbsp;{{task.metrics[task.metrics.length - 1].startDate | date:'mediumDate'}}</span>
              </div>
            </td>
            <td class="hidden-xs">
              {{task.metrics[task.metrics.length - 1].targetLoad}} &nbsp;<small class="text-muted pull-right" ng-if="task.metrics[task.metrics.length - 1].status ==='In Progress'"><i>({{task.metrics[task.metrics.length - 1].progress}}%)</i></small>
              <br/>
              <div ng-if="task.metrics[task.metrics.length - 1].projectedWorkload > task.metrics[task.metrics.length - 1].targetLoad">
                <div class="label label-sm label-danger">
                  <i class="fa fa-bell"></i>
                </div>
                <span class="label label-sm label-lightdanger">
                  &nbsp;&nbsp;{{task.metrics[task.metrics.length - 1].projectedWorkload}}
                </span>
              </div>
              <div ng-if="task.metrics[task.metrics.length - 1].projectedWorkload < task.metrics[task.metrics.length - 1].targetLoad">
                <div class="label label-sm label-warning">
                  <i class="fa fa-bell"></i>
                </div>
                <span class="label label-sm label-lightwarning">
                  &nbsp;&nbsp;{{task.metrics[task.metrics.length - 1].projectedWorkload}}
                </span>
              </div>

            </td>
            <td class="hidden-xs">
              {{task.metrics[task.metrics.length - 1].targetEndDate | date:'mediumDate'}}<br/>
              <span class="label label-sm" ng-class="{'label-warning':task.metrics[task.metrics.length - 1].progressStatus ==='At Risk','label-success':task.metrics[task.metrics.length - 1].progressStatus ==='On Time','label-danger':task.metrics[task.metrics.length - 1].progressStatus ==='Late'}">
                {{task.metrics[task.metrics.length - 1].progressStatus}}
              </span>
              <span class="label label-sm label-lightdanger"  ng-if="task.metrics[task.metrics.length - 1].progressStatus === 'Late' || task.metrics[task.metrics.length - 1].progressStatus === 'At Risk'">&nbsp;&nbsp;{{task.metrics[task.metrics.length - 1].endDate | date:'mediumDate'}}</span>
            </td>
            <td>
              <button class="btn btn-xs text-muted" ng-click="watchTask(task)">Follow</button>
            </td>
            <td ng-if="isAdmin">
              <button class="btn btn-xs text-muted btn-danger" ng-click="delete(task,$index)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
