<div ng-include="'components/navbar/navbar.html'"></div>

<div class="img-overlay" ng-show="blnEnlarge===true" ng-click="blnEnlarge=!blnEnlarge" >
  <h3 class="pull-left" style="padding:8px;margin-top:0">Root Cause Map</h3>
  <small class="text-muted pull-right" style="padding:8px">Click anywhere on the map to hide it</small>
  <div class="img-overlay-canvas" id="canvas_large"></div>
</div>


  <!-- Script pour le template du search -->
  <script type="text/ng-template" id="searchTaskTemplate.html">
    <a  href="#">
       <img class="img-circle" ng-src="{{match.model.actors[0].avatar}}" err-src="assets/images/avatars/avatar.png" >
        <small class=text-muted style="margin-left:5px;margin-right:5px">   {{match.model.metrics[0].targetEndDate | date: 'mediumDate'}}</small>
        {{match.model.name}}
     </a>
  </script>

<script type="text/ng-template" id="selectOrCreateTask.html">
  <div class="modal-header">
      <h4 class="modal-title" ng-if="typeTask==='CA'">
        First, we need a Corrective Action <b>(CA).</b><br>
        <img src="assets/images/correctiveaction.jpg" style="height:150px;margin:5px" class="pull-right" />
        <small>
           Analyze the effect such a nonconformity may have had on the service produced, and take action appropriate to the severity of the situation.
           Establish thorough follow-up to ensure the correction is effective and recurrence has been prevented.
        </small>
      </h4>
      <h4 class="modal-title" ng-if="typeTask==='RCA'">
        Next, we need a Root Cause Analysis <b>(RCA)</b>.
        <img src="assets/images/RCA.png" style="height:150px;margin:5px" class="pull-right" />
        <small>
        <br/>
        RCA is procedural and helps guide the problem solver to understand the real causes of problems and therefore lead to the development of a practical solution that will prevent the recurrence of that problem        <br />
        </small>
      </h4>
      <h4 class="modal-title" ng-if="typeTask==='PA'">
        Finally, we need a Preventive Action <b>(PA)</b>.
        <img src="assets/images/PA.jpg" style="height:150px;margin:5px" class="pull-right" />
        <small>
        <br/>
        Take proactive steps to ensure a potential nonconformity does not occur.
        Employ process and system analysis to determine how to build in safeguards and process changes to prevent nonconformance.
        </small>
      </h4>
  </div>
  <div class="modal-body" style="padding:0" ng-if="blnSelect">
    <table class="table table-striped table-hover" style="margin-bottom:0">
        <tbody style="text-align:left;">
          <tr >
              <td style="text-align:left;width:20%">
                  <span ><i class="fa fa-crosshairs" aria-hidden="true"></i> Select a Task
                  </span>
              </td>
              <td style="text-align:right;width:80%">
                <input  class="mysearchname" style="width:100%!important" type="text" placeholder="Enter the name of the task you search..." ng-model="mySearchTask" uib-typeahead="mySearchTask as mySearchTask.name for mySearchTask in mySearchTasks | filter:$viewValue:namesWith | orderBy:'-date' | limitTo:50"
                  typeahead-min-length="0" typeahead-template-url="searchTaskTemplate.html"  typeahead-on-select="selectTask($item)">
              </td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="modal-body" style="padding:0" ng-if="!blnSelect">
    <table class="table table-striped table-hover" style="margin-bottom:0">
        <tbody style="text-align:left;">
          <tr >
              <td style="text-align:left;width:100%">
                  <span ><i class="fa fa-plus-circle" aria-hidden="true"></i> Create a new task
                  </span>
              </td>

          </tr>
        </tbody>
    </table>
  </div>
  <div class="modal-body" id="modal-body-{{name}}" ng-if="!blnSelect">
      <table class="table table-striped table-hover" style="margin-left:15px">
          <tbody style="text-align:left;">
            <tr >
                <td style="text-align:left">
                    <span class="text-muted">Name
                    </span>
                </td>
                <td style="text-align:right">
                  <a href="#"  e-style="resize:vertical;width:100%"  editable-textarea="selected.name" buttons="no" blur="submit">{{ selected.name || 'To Complete ' }}</a>
                </td>
            </tr>
            <tr >
                <td style="text-align:left">
                    <span class="text-muted">Activity
                    </span>
                </td>
                <td style="text-align:right">
                  <a style="display:inline-block; " href="#" editable-text="selected.activity" e-style="width: 80%;display:inline-block;" e-uib-typeahead="activity.longname for activity in activities | filter:$viewValue | limitTo:25" typeahead-min-length="0" typeahead-template-url="memberTemplate.html">
                    {{selected.activity || 'Please give activity' }}
                  </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    <span class="text-muted">Context
                  </span>
                </td>
                <td style="text-align:right" >
                  <a href="#" editable-text="selected.context" e-style="width: 500px" e-uib-typeahead="context.longname for context in contexts | filter:$viewValue | limitTo:50">
                  {{selected.context || 'Please give context' }}
                </a>
                </td>
            </tr>
            <tr uib-tooltip-html="'Give maximum of details to describe the problem with facts : Timeline, KPIs, Process, ... <br /> <br /> You need to be sure that all people who will work on this problem have the same understanding<br /> <br /> Text Area can be enlarge'" tooltip-placement="left">
            <td style="text-align:left">
              <span class="text-muted" >
                startDate <small></small>
              </span>
            </td>
            <td style="text-align:right">
              <md-button class="md-button-slim" ng-click="showDatePicker(selected,'targetstartDate', $event)" aria-label="none" >
                  <span ng-class="{'MandatoryField':selected.targetstartDate === undefined}">{{ (selected.targetstartDate | date:'mediumDate') || 'empty' }}</span>
              </md-button>
            </td>
          </tr>
          <tr uib-tooltip-html="'Give maximum of details to describe the problem with facts : Timeline, KPIs, Process, ... <br /> <br /> You need to be sure that all people who will work on this problem have the same understanding<br /> <br /> Text Area can be enlarge'" tooltip-placement="left">
          <td style="text-align:left">
            <span class="text-muted" >
              endDate <small></small>
            </span>
          </td>
          <td style="text-align:right">
            <md-button class="md-button-slim" ng-click="showDatePicker(selected,'targetEndDate', $event)" aria-label="none" >
              <span ng-class="{'MandatoryField':selected.targetEndDate === undefined}"> {{ (selected.targetEndDate | date:'mediumDate') || 'empty' }}</span>
            </md-button>
          </td>
        </tr>
        <tr uib-tooltip-html="'Give maximum of details to describe the problem with facts : Timeline, KPIs, Process, ... <br /> <br /> You need to be sure that all people who will work on this problem have the same understanding<br /> <br /> Text Area can be enlarge'" tooltip-placement="left">
        <td style="text-align:left">
          <span class="text-muted" >
            workload <small></small>
          </span>
        </td>
        <td style="text-align:right">
                          <a href="#" class="days" e-min="0" e-step="0.001" editable-number="selected.targetLoad" e-style="width: 100px;"  buttons="no" blur="submit">{{selected.targetLoad || 'empty'}}</a>
        </td>
      </tr>
      <tr uib-tooltip-html="'Give maximum of details to describe the problem with facts : Timeline, KPIs, Process, ... <br /> <br /> You need to be sure that all people who will work on this problem have the same understanding<br /> <br /> Text Area can be enlarge'" tooltip-placement="left">
      <td style="text-align:left">
        <span class="text-muted" >
          Confidence to succeed<small></small>
        </span>
      </td>
      <td style="text-align:right">
        <a href="#" e-min="0" e-step="1" editable-number="selected.trust" e-style="width: 100px;"  buttons="no" blur="submit">{{selected.trust || 'empty'}}</a>
      </td>
    </tr>
          </tbody>
      </table>
  </div>
  <div class="modal-footer">
          <button class="btn btn-warning" type="button" ng-click="ok()" ng-disabled="selectedTask === null && (selected.name === null || selected.impact === null || selected.category === null)">OK</button>
          <button class="btn btn-default pull-left" type="button" ng-click="cancel()">Cancel</button>
      </div>
</script>

<div class="row anomalie-top">
  <div class="col-md-2" >
    <img style="height:60px;margin-bottom:3px;" src="assets/images/ProblemLogo.jpg" alt="">

  </div>
  <div class="col-md-5" >
    <ul>
        <li uib-tooltip-html="'One Sentence to resume the anomaly'" tooltip-placement="bottom">
          <span class="text-muted" >
          Resume :
          </span>
          <a href="#"   e-style="resize:vertical;" editable-textarea="anomalie.name" buttons="right">{{ anomalie.name || 'To Complete ' }}</a>
        </li>
        <li>
          <span class="text-muted" >
            Date :
          </span>
            {{anomalie.date | date:'mediumDate'}}
</li>
    </ul>
  </div>
  <div class="col-md-5" >
    <ul>
        <li>Anomaly Coming From:  : <a href="/task/{{anomalie.sourceTasks[0]._id}}"> {{anomalie.sourceTasks[0].name}}</a></li>
        <li>By : <span class="text-muted">{{anomalie.actor.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-default">{{anomalie.actor.groups[0]}}</span></li>
    </ul>
  </div>
  </div>
<hr style="margin-top:3px">

<div class="row">
  <div class="col-md-1" >

    <h3 >    Step 1</h3>
    <img style="margin-top:5px;height:80px;margin-left:auto;margin-right:auto;display: block;" src="assets/images/correctiveaction.jpg" alt="">

  </div>
  <div class="col-md-3">
<div class="bg-danger" style="padding:8px;">
  <h2 style="margin:0">Problem</h2>
  Capture specifics about the problem as well as the impact to each of the organization's overall Goals.<br>
  <ul>
      <li>Answer each question in the Outline.</li>
      <li>Scan the entire perimeter to ensure no other similar nonconformity could occur.</li>
      <li>Create a plan for actions that will be implemented to <u>correct</u> the problem.</li>
  </ul>


</div>
  </div>
  <div class="col-md-4">
    <!-- Engagement -->
    <div class="portlet sale-summary">
        <div class="portlet-title">
            <div class="caption">
              <span class="badge badge-danger" aria-hidden="false">1</span>
              Define The problem
            </div>
            <div class="tools">
                <div class="pull-right" ng-init="EngagementIsExpanded[key]=(key===task.metrics.length-1 || key===0)" ng-click="EngagementIsExpanded[key]=!EngagementIsExpanded[key]">
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!EngagementIsExpanded[key]" viewbox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="EngagementIsExpanded[key]" viewbox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                </div>
                <span ng-if="key > 0" class="pull-right" style="margin-right:15px;"> <span class="label label-warning">  {{currentMetric.reworkReason}}</span></span>
            </div>
        </div>
        <div class="portlet-body" style="padding:0!important" >
            <table class="table table-striped table-hover">
                <tbody style="text-align:left;">
                    <tr >
                        <td style="text-align:left">
                            <span class="text-muted">Category
                            </span>
                        </td>
                        <td style="text-align:right">
                          <a href="#" editable-select="anomalie.category" e-ng-options="c.value as c.text for c in categories" buttons="no" blur="submit">
                            {{ showCategories() }}
                          </a>
                          <a href="#" ng-show="anomalie.category" style="margin-left:10px"   e-style="resize:vertical;" editable-textarea="anomalie.categoryDetails" buttons="right">{{ anomalie.categoryDetails || ' Give Details' }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            <span class="text-muted">Impacts
                          </span>
                        </td>
                        <td style="text-align:right" >
                          <a href="#" editable-select="anomalie.impact" e-ng-options="c.value as c.text for c in impacts" buttons="no" blur="submit" >
                            {{ showImpacts() }}
                          </a>
                          <a href="#" ng-show="anomalie.impact" class="days"  e-min="0" e-step="0.001" editable-number="anomalie.impactWorkload" style="margin-left:10px" e-style="width: 100px;"  buttons="no" blur="submit">{{ anomalie.impactWorkload || ' Give Details ' }}</a>

                        </td>
                    </tr>
                    <tr uib-tooltip-html="'Give maximum of details to describe the problem with facts : Timeline, KPIs, Process, ... <br /> <br /> You need to be sure that all people who will work on this problem have the same understanding<br /> <br /> Text Area can be enlarge'" tooltip-placement="left">
                    <td style="text-align:left">
                      <span class="text-muted" >
                        Details <small></small>
                      </span>
                    </td>
                    <td style="text-align:right">
                      <a href="#"  e-style="resize:vertical;" editable-textarea="anomalie.details" buttons="right">{{ anomalie.details || 'To Complete ' }}</a>
                    </td>
                  </tr>
                </tbody>
            </table>

        </div>
    </div>

  </div>
  <div class="col-md-4">


    <div class="portlet sale-summary">
        <div class="portlet-title">
            <div class="caption">
              <span class="badge badge-danger" aria-hidden="false">2</span>
              Correct the problem   <small class="text-muted" style="padding-left:30px">(if applicable)</small>
            </div>
            <div class="tools">
                <div class="pull-right" ng-init="EngagementIsExpanded[key]=(key===task.metrics.length-1 || key===0)" ng-click="EngagementIsExpanded[key]=!EngagementIsExpanded[key]">
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!EngagementIsExpanded[key]" viewbox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="EngagementIsExpanded[key]" viewbox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                </div>
                <span ng-if="key > 0" class="pull-right" style="margin-right:15px;"> <span class="label label-warning">  {{currentMetric.reworkReason}}</span></span>
            </div>
        </div>
        <div class="portlet-body" style="padding:0!important" >
            <table class="table table-striped table-hover">
                <tbody style="text-align:left;">
                    <tr>
                        <td>
                            <span class="text-muted" uib-tooltip-html="'One Sentence to resume the anomaly'" tooltip-placement="left">
                            Due Date
                            </span>
                        </td>
                        <td style="text-align:right">
                          <md-button class="md-button-slim" ng-click="showDatePicker(anomalie,'dueDate', $event)" aria-label="none" >
                              <span style="color:red">{{ (anomalie.dueDate | date:'mediumDate') || 'empty' }}</span>
                          </md-button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                              <span class="text-muted" uib-tooltip-html="'Give maximum of details to factualize the problem : KPIs, Measures, Timeline, Process, ... <br /> You need to be sure that all people who will work on this problem have the smae understanding'" tooltip-placement="left">
                              Corrective Task
                            </span>
                        </td>
                        <td style="text-align:right">
                          <a href="#" class="btn btn-primary btn-outline  btn-xs " ng-click="selectOrCreateTask('CA','Select')">Select</a>
                          <small class="text-muted" > or </small>
                          <a href="#" class="btn btn-primary btn-outline btn-xs " ng-click="selectOrCreateTask('CA','Create')">Create Corrective Task</a>

                        </td>
                    </tr>
                    <tr >
                        <td style="text-align:left">
                            <span class="text-muted">Correction Status
                            </span>
                        </td>
                        <td style="text-align:right">
                          <table class="table table-striped" style="margin-bottom:0">
                              <tbody style="text-align:left;">
                                <tr ng-repeat="action in anomalie.correctiveActions" style="border-bottom:1px solid #ddd" >
                                    <td >
                                        <a href="/task/{{action._id}}">
                                          {{action.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <span class="pull-right">
                                          <span class="label label-sm"
                                            ng-class="{'label-info':action.metrics[action.metrics.length - 1].status ==='In Progress','label-success':action.metrics[action.metrics.length - 1].status ==='Finished','label-default':action.metrics[action.metrics.length - 1].status ==='Not Started','label-lightgrey':action.metrics[action.metrics.length - 1].status =='Withdrawn'}">
                                            {{action.metrics[action.metrics.length -1].status}}
                                          </span>
                                          <a class="btn btn-default btn-xs text-muted" ng-click="removeTask('CA',$index,action)"
                                             uib-tooltip-html="'Remove this task from action plan of this anomaly'" tooltip-placement="left" >
                                            <i class="fa fa-trash-o text-muted" aria-hidden="true"></i>
                                          </a>
                                        </span>
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-1">
    <h3 >Step 2</h3>
    <img style="margin-top:5px;height:80px;margin-left:auto;margin-right:auto;display: block;" src="assets/images/RCA.png" alt="">

  </div>
  <div class="col-md-3">
    <div class="bg-info" style="padding:8px;">

    <h2  style="margin:0">Analysis</h2>
    Lay out the cause-and-effect relationships for the incident.
<ul>
    <li>Answer the question "Why did that happen?" Ask Why again.</li>
    <li>In the more detailed analysis, ask as many Why questions as
      necessary to thoroughly explain the issue.</li>
    </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="portlet sale-summary">
        <div class="portlet-title">
            <div class="caption">
              <span class="badge badge-primary" aria-hidden="false">3</span>
        Analyse the Root Cause
            </div>
            <div class="tools">
                <div class="pull-right" ng-init="EngagementIsExpanded[key]=(key===task.metrics.length-1 || key===0)" ng-click="EngagementIsExpanded[key]=!EngagementIsExpanded[key]">
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!EngagementIsExpanded[key]" viewbox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="EngagementIsExpanded[key]" viewbox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                </div>
                <span ng-if="key > 0" class="pull-right" style="margin-right:15px;"> <span class="label label-warning">  {{currentMetric.reworkReason}}</span></span>
            </div>
        </div>
        <div class="portlet-body" style="padding:0!important" >
            <table class="table table-striped table-hover">
                <tbody style="text-align:left;">
                  <tr >
                      <td style="text-align:left" >
                            <span class="text-muted" >
                            RCA Task
                          </span>
                      </td>
                      <td style="text-align:right">
                        <a href="#" class="btn btn-primary btn-outline  btn-xs " ng-click="selectOrCreateTask('RCA','Select')">Select</a>
                        <small class="text-muted" > or </small>
                        <a href="#" class="btn btn-primary btn-outline btn-xs " ng-click="selectOrCreateTask('RCA','Create')">Create Root Cause Analysis Task</a>
                      </td>
                    </tr>
                      <tr >
                          <td style="text-align:left">
                              <span class="text-muted">RCA Status
                              </span>
                          </td>
                          <td style="text-align:right">
                            <table class="table table-striped" style="margin-bottom:0">
                                <tbody style="text-align:left;">
                                  <tr ng-repeat="action in anomalie.rootCauseAnalysisTasks" style="border-bottom:1px solid #ddd" >
                                      <td >
                                          <a href="/task/{{action._id}}">
                                            {{action.name}}
                                          </a>
                                      </td>
                                      <td>
                                          <span class="pull-right">
                                            <span class="label label-sm"
                                              ng-class="{'label-info':action.metrics[action.metrics.length - 1].status ==='In Progress','label-success':action.metrics[action.metrics.length - 1].status ==='Finished','label-default':action.metrics[action.metrics.length - 1].status ==='Not Started','label-lightgrey':action.metrics[action.metrics.length - 1].status =='Withdrawn'}">
                                              {{action.metrics[action.metrics.length -1].status}}
                                            </span>
                                            <a class="btn btn-default btn-xs text-muted" ng-click="removeTask('RCA',$index,action)"
                                               uib-tooltip-html="'Remove this task from action plan of this anomaly'" tooltip-placement="left" >
                                              <i class="fa fa-trash-o text-muted" aria-hidden="true"></i>
                                            </a>
                                          </span>
                                      </td>
                                  </tr>
                                </tbody>
                              </table>
                          </td>
                      </tr>

                </tbody>
            </table>

        </div>
    </div>



  </div>
  <div class="col-md-4">

    <div class="portlet sale-summary">
        <div class="portlet-title">
            <div class="caption">
              <span class="badge badge-primary" aria-hidden="false">4</span>
              Root Cause Map
            </div>
            <div class="tools">
                <div class="pull-right" ng-init="EngagementIsExpanded[key]=(key===task.metrics.length-1 || key===0)" ng-click="EngagementIsExpanded[key]=!EngagementIsExpanded[key]">
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!EngagementIsExpanded[key]" viewbox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="EngagementIsExpanded[key]" viewbox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                </div>
                <span ng-if="key > 0" class="pull-right" style="margin-right:15px;"> <span class="label label-warning">  {{currentMetric.reworkReason}}</span></span>
            </div>
        </div>
        <div class="portlet-body" style="padding:0!important" >
          <div class="row">
                        <div class="col-md-6" style="text-align:center">
              <img style="width:100%;margin-left:auto;margin-right:auto;display: block;" src="assets/images/BPMN.IO.gif" alt="">
            </div>
            <div class="col-md-6" style="text-align:center">
              <small class="text-muted">Click to enlarge</small>
              <div id="canvas" ng-init="blnEnlarge=false" ng-click="blnEnlarge=!blnEnlarge" ></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="text-align:center">
              <a href="http://demo.bpmn.io/" target="_blank"  class="btn btn-primary btn-outline  btn-xs" >Create a new map</a>
        </div>
            <div class="col-md-6" style="text-align:center">
              <label class="btn btn-primary btn-outline btn-xs pull-left" style="margin-left:15px;">
                Load a map
                <input type="file" id="importFile" onchange="angular.element(this).scope().uploadXmlFile()"  style="display: none;"/>
              </label>
              <span class="btn btn-primary btn-outline  btn-xs pull-right" style="margin-right:15px;" ng-click="exportXML()"> Export</span>

        </div>
        </div>
        </div>
    </div>
    </div>


</div>
<hr>
<div class="row">
  <div class="col-md-1">
    <h3>Step 3</h3>
    <img style="margin-top:5px;height:80px;margin-left:auto;margin-right:auto;display: block;" src="assets/images/PA.jpg" alt="">

  </div>
  <div class="col-md-3">
    <div class="bg-success" style="padding:8px;">

    <h2  style="margin:0">Solutions</h2>
    Identify the specific actions that will be taken to reduce the risk of a similar issue occurring.
<ul>
    <li>Place a possible solution above the cause that it controls.</li>
    <li>Evaluate the different possible solutions.</li>
    <li>Create a plan for actions that will be implemented to <u>prevent</u> the problem.</li>
    </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="portlet sale-summary">
        <div class="portlet-title">
            <div class="caption">
              <span class="badge badge-success" aria-hidden="false">5</span>
Select the solutions            </div>
            <div class="tools">
                <div class="pull-right" ng-init="EngagementIsExpanded[key]=(key===task.metrics.length-1 || key===0)" ng-click="EngagementIsExpanded[key]=!EngagementIsExpanded[key]">
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!EngagementIsExpanded[key]" viewbox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="EngagementIsExpanded[key]" viewbox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                </div>
                <span ng-if="key > 0" class="pull-right" style="margin-right:15px;"> <span class="label label-warning">  {{currentMetric.reworkReason}}</span></span>
            </div>
        </div>
        <div class="portlet-body" style="padding:0!important" >
            <table class="table table-striped table-hover">
                <tbody style="text-align:left;">
                  <tr >
                      <td style="text-align:left" >
                            <span class="text-muted" >
                            Solution Task
                          </span>
                      </td>
                      <td style="text-align:right">
                        <a href="#" class="btn btn-primary btn-outline  btn-xs " ng-click="selectOrCreateTask('PA','Select')">Select</a>
                        <small class="text-muted" > or </small>
                        <a href="#" class="btn btn-primary btn-outline btn-xs " ng-click="selectOrCreateTask('PA','Create')">Create Preventive Action Task</a>
                      </td>
                    </tr>
                      <tr >
                          <td style="text-align:left">
                              <span class="text-muted">Action Plan Status
                              </span>
                          </td>
                          <td style="text-align:right">
                            <table class="table table-striped" style="margin-bottom:0">
                                <tbody style="text-align:left;">
                                  <tr ng-repeat="action in anomalie.preventiveActions" style="border-bottom:1px solid #ddd" >
                                      <td >
                                          <a href="/task/{{action._id}}">
                                            {{action.name}}
                                          </a>
                                      </td>
                                      <td>
                                          <span class="pull-right">
                                            <span class="label label-sm"
                                              ng-class="{'label-info':action.metrics[action.metrics.length - 1].status ==='In Progress','label-success':action.metrics[action.metrics.length - 1].status ==='Finished','label-default':action.metrics[action.metrics.length - 1].status ==='Not Started','label-lightgrey':action.metrics[action.metrics.length - 1].status =='Withdrawn'}">
                                              {{action.metrics[action.metrics.length -1].status}}
                                            </span>
                                            <a class="btn btn-default btn-xs text-muted" ng-click="removeTask('PA',$index,action)"
                                               uib-tooltip-html="'Remove this task from action plan of this anomaly'" tooltip-placement="left" >
                                              <i class="fa fa-trash-o text-muted" aria-hidden="true"></i>
                                            </a>
                                          </span>
                                      </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                      </tr>

                </tbody>
            </table>

        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="portlet sale-summary">
        <div class="portlet-title">
            <div class="caption">
              <span class="badge badge-success" aria-hidden="false">6</span>
        Measure Solution Effects
            </div>
            <div class="tools">
                <div class="pull-right" ng-init="EngagementIsExpanded[key]=(key===task.metrics.length-1 || key===0)" ng-click="EngagementIsExpanded[key]=!EngagementIsExpanded[key]">
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="!EngagementIsExpanded[key]" viewbox="0 0 32 32" title="expand header"><g><g><polygon points="24.158,16.274 22.385,14.5 15.939,20.824 9.615,14.5 7.842,16.274 16,24.432"></polygon></g><g><polygon points="24.158,9.342 22.385,7.568 15.939,13.892 9.615,7.568 7.842,9.342 16,17.5"></polygon></g></g></svg>
                    <svg class="svgIcon " style="width:16px;height:16px;color:#B9BCC0;fill:grey" ng-show="EngagementIsExpanded[key]" viewbox="0 0 32 32" title="collapse header"><g><g><polygon points="7.842,15.726 9.615,17.5 16.061,11.176 22.385,17.5 24.158,15.726 16,7.568"></polygon></g><g><polygon points="7.842,22.658 9.615,24.432 16.061,18.108 22.385,24.432 24.158,22.658 16,14.5"></polygon></g></g></svg>
                </div>
                <span ng-if="key > 0" class="pull-right" style="margin-right:15px;"> <span class="label label-warning">  {{currentMetric.reworkReason}}</span></span>
            </div>
        </div>
        <div class="portlet-body" style="padding:0!important" >
            <table class="table table-striped table-hover">
                <tbody style="text-align:left;">
                  <tr >
                      <td style="text-align:left" >
                            <span class="text-muted" >
                            KPI <a href="#" style="color:black!important" editable-text="user.name" >{{ user.name || '#1 ' }}</a>
                          </span>
                      </td>
                      <td style="text-align:right">
                      <a href="#" style="color:black!important" editable-text="user.name" >{{ user.name || 'Set Goal ' }}</a>
                      </td>
                    </tr>
                    <tr >
                        <td style="text-align:left" >
                              <span class="text-muted" style="padding-left:25px" >
                              Date : <a href="#" editable-text="user.name" >{{ user.name || 'empty' }}</a>
                            </span>
                        </td>
                        <td style="text-align:right">
                          <small class="text-muted" style="padding-right:25px">
                            <a href="#" editable-text="user.name" >{{ user.name || 'Not Measured ' }}</a>

                        </small>
                        </td>
                      </tr>
                      <tr >
                          <td style="text-align:left">
                              <span class="text-muted">
                                KPI <a href="#" style="color:black!important" editable-text="user.name" >{{ user.name || '#2 ' }}</a>
                              </span>
                          </td>
                          <td style="text-align:right">
                            <a href="#" style="color:black!important" editable-text="user.name" >{{ user.name || 'Set Goal ' }}</a>
                          </td>
                      </tr>
                      <tr >
                          <td style="text-align:left" >
                                <span class="text-muted" style="padding-left:25px" >
                                Date : <a href="#" editable-text="user.name" >{{ user.name || 'empty' }}</a>
                              </span>
                          </td>
                          <td style="text-align:right">
                            <small class="text-muted" style="padding-right:25px">
                              <a href="#" editable-text="user.name" >{{ user.name || 'Not Measured ' }}</a>

                          </small>
                          </td>
                        </tr>
                </tbody>
            </table>

        </div>
    </div>
  </div>
</div>
<br>
<footer class="navbar-fixed-bottom footer-task-boss">
  <div class="container">
    <!-- big screen -->
    <button type="button" name="button" style="margin-top:2px;margin-left:40%;margin-right:10px;width:100px;" class="btn btn-xs btn-outline btn-info hidden-xs"
      ng-click="refreshAnomalie()" ng-if="anomalie._id" ng-cloak
      uib-tooltip-html="'Resfresh will operate again all calculations'" tooltip-placement="top" >Refresh </button>
    <button type="button" name="button" style="margin-top:2px;margin-right:10px;width:100px;" class="btn btn-primary pull-right hidden-xs"
        ng-click="update()"
        uib-tooltip-html="'Save will  copy data to a permanent storage'" tooltip-placement="left" >Save </button>
  </div>
</footer>
