<!-- START 6- Milestones & Capacity  -->
<div id="Wall-5" class="wall_flex wall_flex_nowrap " ng-if="activeWall.id===6">
  <div class="obeya-pane obeya-pane-fixed-left obeya-pane-darkgray">
    Questions
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <h4>
              <img src="assets/images/anomaly.png" style="width:60px;height:60px;" alt="" >
              Anomalies</h4>
      <ul class="list-group card-list">
        <li class="list-group-item" ng-click="showCard('ProblemSolving','To Correct')">
          <i class="fa fa-bug blue"></i> To Correct
          <span class="badge  badge-red">{{obeya.alertsValue}}</span>
        </li>
        <li class="list-group-item" ng-click="showCard('ProblemSolving','To Prevent')">
          <i class="fa fa-medkit blue"></i> To Prevent
          <span class="badge  badge-orange">{{obeya.alertsValue}}</span>
        </li>
        <li class="list-group-item" ng-click="showCard('ProblemSolving','Prevented')">
          <img src="assets/images/prevented.png" alt="" style="width:16px;height:16px"> Prevented
          <span class="badge  badge-gray">{{obeya.alertsValue}}</span>
        </li>
      </ul>
      <br>
      <div ng-include src="'app/obeya/partials/viewMode.html'"></div>
    </div>

  </div>
  <div class="obeya-pane pane-grow  obeya-pane-darkgray">
    Process
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">

      <!-- Script pour le template du search -->
      <script type="text/ng-template" id="myTooltipActorTemplate.html">
        <a href="#">
                    <img ng-src="{{anomalie.actor.avatar}}" class="img-circle" err-src="assets/images/avatars/avatar.png" />
                    <br />
                    <b style="color:white">{{anomalie.actor.name}}</b>
                 </a>
      </script>

      <div class="portlet">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-anomalie"></i>Anomalies List
          </div>
        </div>
        <div class="portlet-body">
          <table class="table table-striped table-bordered table-hover" style="max-width:100%">
            <thead>
              <tr>
                <th ng-click="orderByField='date'; reverseSort = !reverseSort">
                  <a href="#" ng-click="orderByField='date'; reverseSort = !reverseSort">
                            <i class="fa fa-calendar"></i> Date
                          </a>
                </th>
                <th style="max-width:60px;text-align:center" ng-click="orderByField='actor.groups'; reverseSort = !reverseSort">

                  <a href="#" ng-click="orderByField='actor.groups'; reverseSort = !reverseSort">
                            <i class="fa fa-users"></i> From
                          </a>
                </th>
                <th>
                  <a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
                            <i class="fa fa-briefcase"></i> Name
                          </a>
                  <small class="pull-right">

                          <a href="#" ng-click="orderByField='activity'; reverseSort = !reverseSort">
                            <i class="fa fa-flash"></i>    Activity
                          </a>
                        </small>
                </th>
                <th ng-click="orderByField='context'; reverseSort = !reverseSort">
                  <a href="#" ng-click="orderByField='context'; reverseSort = !reverseSort">
                            <i class="fa fa-map-marker"></i> Context
                          </a>

                </th>
                <th style="max-width:65px;text-align:center" ng-click="orderByField='category'; reverseSort = !reverseSort">
                  <a href="#" ng-click="orderByField='category'; reverseSort = !reverseSort">
                            <small>Category</small>
                          </a>
                </th>
                <th style="max-width:65px;text-align:center" ng-click="orderByField='impact'; reverseSort = !reverseSort">
                  <a href="#" ng-click="orderByField='impact'; reverseSort = !reverseSort">
                            <small>Impact</small>

                          </a>
                </th>
                <th style="width:60px;text-align:center" ng-click="orderByField='correctiveActions[0].metrics[0].status'; reverseSort = !reverseSort">
                  <a href="#">
                            <span uib-tooltip-html="'Corrective Actions'">C.A.</span>
                          </a>
                </th>
                <th style="width:60px;text-align:center" ng-click="orderByField='preventiveActions[0].metrics[0].status'; reverseSort = !reverseSort">
                  <a href="#">
                            <span uib-tooltip-html="'Preventive Actions'">R.C.A.</span>
                          </a>
                  <th style="width:60px;text-align:center" ng-click="orderByField='preventiveActions[0].metrics[0].status'; reverseSort = !reverseSort">
                    <a href="#">
                            <span uib-tooltip-html="'Preventive Actions'">P.A.</span>
                          </a>
                  </th>
                  <th style="width:60px;text-align:center" ng-click="orderByField='status'; reverseSort = !reverseSort">
                    <a href="#">
                            <span uib-tooltip-html="'Status'">Status</span>
                          </a>
                  </th>
              </tr>
              <tr>
                <th>
                </th>
                <th>
                  <input style="width:100%" ng-model="obeya.anomalies.searchActor">
                </th>
                <th style="width:30%">
                  <input style="width:100%" ng-model="searchName">
                </th>
                <th style="max-width:25%">
                  <input style="width:100%" ng-model="searchContext">
                </th>
                <th style="max-width:60px">
                  <input style="width:100%" ng-model="searchCategory">

                </th>
                <th style="max-width:60px">
                  <input style="width:100%" ng-model="searchImpact">

                </th>
                <th style="width:60px">
                </th>
                <th style="width:60px">
                </th>
                <th style="width:60px">
                </th>
                <th style="width:60px">
                  <input style="width:100%" ng-model="searchStatus">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr id="anoRow" ng-repeat="anomalie in obeya.anomalies.filter()|orderBy:orderByField:reverseSort track by $index">

                <td class="dont-break-out hidden-xs">
                  <small class="text-muted">  {{anomalie.date | date:'mediumDate'}}</small>
                </td>
                <td style="text-align:center">
                  <div uib-tooltip-template="'myTooltipActorTemplate.html'" tooltip-placement="right">
                    <small class="badge badge-default"> {{anomalie.actor.groups[0]}}</small>
                  </div>
                </td>
                <td>
                  <a id="anoName" href="/anomalie/{{anomalie._id}}">{{anomalie.name}}</a><br>
                  <small style="font-size:11px" class="text-muted">  {{anomalie.activity || 'ALL'}} <br /></small>
                </td>
                <td class="dont-break-out  hidden-xs">
                  <small style="font-size:11px" class="text-muted">  {{anomalie.context || 'ALL'}} <br /> </small>
                </td>
                <td>
                  <span>{{showCategories(anomalie.category)}}</span>
                </td>
                <td>
                  <span>{{anomalie.impact}}</span>
                </td>
                <td style="text-align:center">
                  <a ng-class="{'disabled-href':anomalie.correctiveActions.length===0}" href="task/{{anomalie.correctiveActions[0]._id}}" target="_blank">
                          <span class="btn btn-outline btn-xs" aria-hidden="false" ng-class="{'btn-info ':anomalie.statusCA === 'In Progress',' btn-default ':anomalie.statusCA === 'Not Started',' btn-success':anomalie.statusCA === 'Finished'}">CA</span>
                        </a>
                  <td style="text-align:center">
                    <a ng-class="{'disabled-href':anomalie.rootCauseAnalysisTasks.length===0}" href="task/{{anomalie.rootCauseAnalysisTasks[0]._id}}" target="_blank">
                          <span class="btn btn-outline btn-xs" aria-hidden="false" ng-class="{'btn-info ':anomalie.statusRCA === 'In Progress',' btn-default ':anomalie.statusRCA === 'Not Started',' btn-success':anomalie.statusRCA === 'Finished'}">RCA</span>
                        </a>
                  </td>
                  <td style="text-align:center">
                    <a ng-class="{'disabled-href':anomalie.preventiveActions.length===0}" href="task/{{anomalie.preventiveActions[0]._id}}" target="_blank">
                          <span class="btn btn-outline btn-xs" aria-hidden="false" ng-class="{'btn-info ':anomalie.statusPA === 'In Progress',' btn-default ':anomalie.statusPA === 'Not Started',' btn-success':anomalie.statusPA === 'Finished'}">PA</span>
                        </a>
                  </td>
                  <td id="anoStatus">
                    <span ng-if="anomalie.status ==='Not Started' " class="label label-sm" ng-class="{'label-info':anomalie.status ==='In Progress','label-success':anomalie.status ==='Finished','label-default':anomalie.status ==='Not Started','label-lightgrey':anomalie.status =='Withdrawn','label-warning':anomalie.startDate < today}">
                {{anomalie.status}}
              </span>
                    <span ng-if="anomalie.status !=='Not Started'" class="label label-sm" ng-class="{'label-info':anomalie.status ==='In Progress','label-success':anomalie.status ==='Finished','label-default':anomalie.status ==='Not Started','label-lightgrey':anomalie.status =='Withdrawn'}">
                {{anomalie.status}}
              </span>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>


  </div>

</div>
<!-- END PERFORMANCE -->
