<!-- START 2-NEWS & PEOPLE  -->
<div id="Wall-1" ng-if="activeWall.id===1">
  <div class="row">
    <div class="col-md-6">
      <div class="obeya-pane obeya-pane-darkgray">
        PEOPLE
        <hr style="margin-top:0;margin-bottom:10px;">
        <div class="obeya-body">
          <div class="" style="width:100%;text-align:center">

          <img src="assets/images/mood-picker.png" usemap="#image-map" style="width:50%">
          <map name="image-map">
              <area target="" alt="" title="" href="#" coords="424,200,75" shape="circle" ng-click="console.log('rrr')">
              <area target="" alt="" title="" href="#" coords="297,327,77" shape="circle">
              <area target="" alt="" title="" href="#" coords="171,450,78" shape="circle">
              <area target="" alt="" title="" href="#" coords="424,453,78" shape="circle">
              <area target="" alt="" title="" href="#" coords="170,198,79" shape="circle">
          </map>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="obeya-pane obeya-pane-darkgray">
        PEOPLE
        <hr style="margin-top:0;margin-bottom:10px;">
        <div class="obeya-body">
          <div class="" style="width:100%;text-align:center">

          <img src="assets/images/mood-picker.png" usemap="#image-map" style="width:50%">
          <map name="image-map">
              <area target="" alt="" title="" href="#" coords="424,200,75" shape="circle" ng-click="console.log('rrr')">
              <area target="" alt="" title="" href="#" coords="297,327,77" shape="circle">
              <area target="" alt="" title="" href="#" coords="171,450,78" shape="circle">
              <area target="" alt="" title="" href="#" coords="424,453,78" shape="circle">
              <area target="" alt="" title="" href="#" coords="170,198,79" shape="circle">
          </map>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
