<!-- START 5- Milestones & Capacity  -->
<div id="Wall-4" class="wall_flex"  ng-if="activeWall.id===4">
  <div class="obeya-pane  obeya-pane-fixed-left obeya-pane-darkgray">
    Questions
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <!-- <ul>
              <li>What are our engagements we must keep ?</li>
              <li>What are the new engagement we must take ?</li>
              <li>Are some engagements in alert ?</li>
            </ul> -->
      <h4>
              <img src="assets/images/respect-icon.png" style="width:60px;height:60px;" alt="" >
              Respect</h4>
      <ul class="list-group card-list">
        <li class="list-group-item" ng-click="showCard('Performance','In Progress')">
          <img src="assets/images/overview.png" style="height:20px;" alt=""> Overview
          <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
        </li>
        <li class="list-group-item" ng-click="showCard('Performance','In Progress')">
          <img src="assets/images/quality.png" style="height:20px;" alt=""> Quality
          <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
        </li>
        <li class="list-group-item">
          <img src="assets/images/cost.png" style="height:20px;" alt=""> Cost
          <span class="badge badge-gray">{{obeya.alertsValue}}</span>
        </li>
        <li class="list-group-item">
          <img src="assets/images/time.png" style="height:20px;" alt=""> Time
          <span class="badge badge-gray">{{obeya.alertsValue}}</span>
        </li>
      </ul>
      <br>
      <h4>
          <img src="assets/images/maitrise.png" style="width:60px;height:60px;"  alt="">
          Mastering
      </h4>
      <ul class="list-group card-list">
        <li class="list-group-item" ng-click="showCard('Performance','In Progress')">
          <img src="assets/images/overview.png" style="height:20px;" alt=""> Overview
          <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
        </li>
        <li class="list-group-item" ng-click="showCard('Performance','In Progress')">
          <img src="assets/images/quality.png" style="height:20px;" alt=""> Quality
          <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
        </li>
        <li class="list-group-item">
          <img src="assets/images/cost.png" style="height:20px;" alt=""> Cost
          <span class="badge badge-gray">{{obeya.alertsValue}}</span>
        </li>
        <li class="list-group-item">
          <img src="assets/images/time.png" style="height:20px;" alt=""> Time
          <span class="badge badge-gray">{{obeya.alertsValue}}</span>
        </li>
      </ul>
    </div>
  </div>


  <div class="obeya-pane pane-grow  obeya-pane-darkgray">
    Performance
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <div class="wrap-dashboard">
          <div class="dashboard">
              <div >
                  <a class="pull-right btn btn-primary btn-sm" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
                  </select>
              </div>
              <br>
              <br>
              <div gridster="gridsterOptions">
                  <ul>
                      <li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
                          <div class="box" ng-controller="CustomWidgetCtrl">
                              <div class="box-header">
                                  <h3>{{ widget.name }}</h3>
                                  <div class="box-header-btns pull-right">
                                      <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
                                      <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
                                  </div>
                              </div>
                              <div class="box-content">
                                <zingchart zc-json="widget.chart.options" zc-width="{{325 * widget.sizeX}}px" zc-height="{{325 * widget.sizeY}}px"></zingchart>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- END PERFORMANCE -->
