<!-- START 5- Milestones & Capacity  -->
<div id="Wall-4" class="wall_flex"  ng-if="activeWall.id===5">
  <div class="obeya-pane  obeya-pane-fixed-left obeya-pane-darkgray">
    Questions
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <!-- <ul>
              <li>What are our engagements we must keep ?</li>
              <li>What are the new engagement we must take ?</li>
              <li>Are some engagements in alert ?</li>
            </ul> -->
      <h4>
              <img src="assets/images/respect-icon.png" style="width:60px;height:60px;" alt="" >
              Respect</h4>
      <ul class="list-group card-list">
        <li class="list-group-item" ng-click="showCard('Performance','In Progress')">
          <img src="assets/images/overview.png" style="height:20px;" alt=""> Overview
          <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
        </li>
        <li class="list-group-item" ng-click="showCard('Performance','In Progress')">
          <img src="assets/images/quality.png" style="height:20px;" alt=""> Quality
          <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
        </li>
        <li class="list-group-item">
          <img src="assets/images/cost.png" style="height:20px;" alt=""> Cost
          <span class="badge badge-gray">{{obeya.alertsValue}}</span>
        </li>
        <li class="list-group-item">
          <img src="assets/images/time.png" style="height:20px;" alt=""> Time
          <span class="badge badge-gray">{{obeya.alertsValue}}</span>
        </li>
      </ul>
      <br>
      <h4>
          <img src="assets/images/maitrise.png" style="width:60px;height:60px;"  alt="">
          Mastering
      </h4>
      <ul class="list-group card-list">
        <li class="list-group-item" ng-click="showCard('Performance','In Progress')">
          <img src="assets/images/overview.png" style="height:20px;" alt=""> Overview
          <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
        </li>
        <li class="list-group-item" ng-click="showCard('Performance','In Progress')">
          <img src="assets/images/quality.png" style="height:20px;" alt=""> Quality
          <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
        </li>
        <li class="list-group-item">
          <img src="assets/images/cost.png" style="height:20px;" alt=""> Cost
          <span class="badge badge-gray">{{obeya.alertsValue}}</span>
        </li>
        <li class="list-group-item">
          <img src="assets/images/time.png" style="height:20px;" alt=""> Time
          <span class="badge badge-gray">{{obeya.alertsValue}}</span>
        </li>
      </ul>
    </div>
  </div>


  <div class="obeya-pane pane-grow  obeya-pane-darkgray">
    Performance
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <div class="wrap-dashboard">
          <div class="dashboard">

            <div class="col-md-12 col-sm-12 ">
              <div class="label" ng-class="subs ==='Activity' ? 'label-primary':'label-default'" ng-click="showHistory('Activity')" ><span ng-if="subs ==='Activity'">{{subHierarchies.length}}</span> Sub Activities</div>
              <div class="label" ng-class="subs ==='Context' ? 'label-primary':'label-default'" ng-click="showHistory('Context')"><span ng-if="subs ==='Context'">{{subHierarchies.length}}</span> Sub Context</div>
              <small class="label label-default pull-right" style ="font-size:10px" ng-click="showEmptyRow=!showEmptyRow">Show all</small>
              <hr style="margin-top:5px">
              <!-- BEGIN OVERVIEW STATISTIC BARS-->
              <div class="row stats-overview-cont" ng-repeat="subHierarchy in subHierarchies"  ng-if="dataTasksSubNb[subHierarchy.root + subHierarchy.name]>0 || showEmptyRow">
                <!-- -->
                <div class="col-md-2 col-sm-12">
                  <div class="stats-overview stat-block">
                    <div class="details">
                      <div class="title" style="height:61px">
                        <small class="text-muted" style="font-size:10px">{{subHierarchy.root}}</small><b ng-class="{'text-danger':!subHierarchy.abs,'text-success':subHierarchy.abs}">
                        {{subHierarchy.name}}
                        </b>
                        <br>
                      <small class="label label-primary"> {{(dataMetricsSubNb[subHierarchy.root + subHierarchy.name]/metricsNb *100)| number:0}}%</small>
                      <small ng-if="subHierarchy.code" class="label label-default" style="color:#000000"> {{subHierarchy.code}} </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-sm-12">
                  <div class="stats-overview stat-block">
                    <div class="details">
                      <div class="title">
                        <a href="#" ng-click="blnShowTasks[subHierarchy.root + subHierarchy.name]=!blnShowTasks[subHierarchy.root + subHierarchy.name]">
                          <span style="font-weight:bold;color:#9467bd">{{dataTasksSubNb[subHierarchy.root + subHierarchy.name]| number:0}}</span>
                          Tasks</a>
                      </div>
                      <nvd3 options="optionsTasks" data="dataTasksSub[subHierarchy.root + subHierarchy.name]" ng-if="dashboardSlide==='History'"></nvd3>
                    </div>
                  </div>
                </div>
                  <div class="col-md-2 col-sm-12">
                  <div class="stats-overview stat-block">
                    <div class="details">
                      <div class="title">
                        <a href="#" ng-click="blnShowTasks[subHierarchy.root + subHierarchy.name]=!blnShowTasks[subHierarchy.root + subHierarchy.name]">
                          <span style="font-weight:bold;color:#87CEEB">{{dataMetricsSubNb[subHierarchy.root + subHierarchy.name]| number:0}}</span>
                          Men Days</a>
                      </div>
                      <nvd3 options="optionsLoad" data="dataMetricsSub[subHierarchy.root + subHierarchy.name]" ng-if="dashboardSlide==='History'"></nvd3>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-sm-12" ng-if="!viewMode.blnPerf">
                  <div class="stats-overview stat-block"  ng-if="dataUOMetricsSubNb[subHierarchy.root + subHierarchy.name]>0">
                    <div class="details">
                      <div class="title">
                        <a href="#" ng-click="blnShowTasks[subHierarchy.root + subHierarchy.name]=!blnShowTasks[subHierarchy.root + subHierarchy.name]">
                          <span style="font-weight:bold;color:#87CEEB">{{dataUOMetricsSubNb[subHierarchy.root + subHierarchy.name]| number:0}}</span>
                          Men Days UO</a>  <small class="label label-default" style="color:#555555">{{subHierarchy.value}} MD</small>
                        </div>
                        <nvd3 options="optionsUOLoad" data="dataUOMetricsSub[subHierarchy.root + subHierarchy.name]" ng-if="dashboardSlide==='History'"></nvd3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-12" ng-if="!viewMode.blnPerf">
                    <div class="stats-overview stat-block"  ng-if="dataUOMetricsSubNb[subHierarchy.root + subHierarchy.name]>0">
                      <div class="details">
                        <div class="title">
                          <a href="#" ng-click="blnShowTasks[subHierarchy.root + subHierarchy.name]=!blnShowTasks[subHierarchy.root + subHierarchy.name]">
                            <span style="font-weight:bold;color:#87CEEB">{{dataUODiffMetricsSubNb[subHierarchy.root + subHierarchy.name]| number:0}}</span>
                            Diff UO</a>
                          </div>
                          <nvd3 options="optionsUODiff" data="dataUODiffMetricsSub[subHierarchy.root + subHierarchy.name]" ng-if="dashboardSlide==='History'"></nvd3>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-12" ng-if="!viewMode.blnPerf">
                      <div class="stats-overview stat-block"  ng-if="dataUOMetricsSubNb[subHierarchy.root + subHierarchy.name]>0">
                        <div class="details">
                          <div class="title">
                            <a href="#" ng-click="blnShowTasks[subHierarchy.root + subHierarchy.name]=!blnShowTasks[subHierarchy.root + subHierarchy.name]">
                              <span style="font-weight:bold;color:#87CEEB">{{dataUOPerfMetricsSubNb[subHierarchy.root + subHierarchy.name]| number:0}}</span>
                              Perf UO</a>
                            </div>
                            <nvd3 options="optionsCosts" data="dataUOPerfMetricsSub[subHierarchy.root + subHierarchy.name]" ng-if="dashboardSlide==='History'"></nvd3>
                          </div>
                        </div>
                      </div>
                <div class="col-md-2 col-sm-12" ng-if="viewMode.blnPerf">
                <div class="stats-overview stat-block">
                  <div class="details">
                    <div class="title">
                      <a href="#" ng-click="blnShowKpis[subHierarchy.root + subHierarchy.name]=!blnShowKpis[subHierarchy.root + subHierarchy.name]">
                        <span style="font-weight:bold;color:#87CEEB">{{dataQualitySubNb[subHierarchy.root + subHierarchy.name] | number:0}}% </span>
                        Delivery</a>
                    </div>
                    <nvd3 options="optionsCosts" data="dataQualitySub[subHierarchy.root + subHierarchy.name]" ng-if="dashboardSlide==='History'"></nvd3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-12" ng-if="viewMode.blnPerf">
              <div class="stats-overview stat-block">
                <div class="details">
                  <div class="title">
                    <a href="#" ng-click="blnShowKpis[subHierarchy.root + subHierarchy.name]=!blnShowKpis[subHierarchy.root + subHierarchy.name]">
                      <span style="font-weight:bold;color:#87CEEB">{{dataCostSubNb[subHierarchy.root + subHierarchy.name] | number:0}}% </span>
                      Costs</a>
                  </div>
                  <nvd3 options="optionsCosts" data="dataCostSub[subHierarchy.root + subHierarchy.name]" ng-if="dashboardSlide==='History'"></nvd3>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-12" ng-if="viewMode.blnPerf">
            <div class="stats-overview stat-block">
              <div class="details">
                <div class="title">
                  <a href="#" ng-click="blnShowKpis[subHierarchy.root + subHierarchy.name]=!blnShowKpis[subHierarchy.root + subHierarchy.name]">
                    <span style="font-weight:bold;color:#87CEEB">{{dataTimeSubNb[subHierarchy.root + subHierarchy.name] | number:0}}% </span>
                    Time</a>
                </div>
                <nvd3 options="optionsCosts" data="dataTimeSub[subHierarchy.root + subHierarchy.name]" ng-if="dashboardSlide==='History'"></nvd3>
              </div>
            </div>
            </div>

            <!--  DEBUT LISTE TACHES
            ******************************-->
            <div class="row" ng-if="blnShowTasks[subHierarchy.root + subHierarchy.name]===true">
            <div class="col-md-11 portlet-body" style="margin-left:35px;margin-top:15px">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="hidden-xs">
                        <a style="text-decoration: none" href="#" ng-click="orderByField='actors[0].name'; reverseSort = !reverseSort">
                          Owner <span ng-show="orderByField === 'actors[0].name'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
                        </a>
                      </th>
                      <th style="min-width:300px;max-width:500px;">
                        <a style="text-decoration: none" href="#" ng-click="orderByField='Name'; reverseSort = !reverseSort">
                          Name <span ng-show="orderByField === 'Name'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
                        </a>
                      </th>
                      <th style="width:250px;">
                        <a style="text-decoration: none" href="#" ng-click="orderByField='activity'; reverseSort = !reverseSort">
                         Process <span ng-show="orderByField === 'activity'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
                        </a>
                      </th>
                      <th style="width:250px;">
                        <a style="text-decoration: none" href="#" ng-click="orderByField='context'; reverseSort = !reverseSort">
                          Contexte <span ng-show="orderByField === 'context'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
                        </a>
                      </th>
                      <th style="max-width:50px;width:auto;min-width:20px;">
                        <a style="text-decoration: none" href="#" ng-click="orderByField='metrics[task.metrics.length - 1].startDate'; reverseSort = !reverseSort">
                          Start <span ng-show="orderByField === 'metrics[task.metrics.length - 1].startDate'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
                        </a>
                      </th>
                      <th style="max-width:50px;width:auto;width:150px;">
                        <a style="text-decoration: none" href="#" ng-click="orderByField='metrics[task.metrics.length - 1].load'; reverseSort = !reverseSort">
                          Load <span ng-show="orderByField === 'metrics[task.metrics.length - 1].load'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
                        </a>
                      </th>
                      <th style="max-width:50px;width:auto;min-width:20px;">
                        <a style="text-decoration: none" href="#" ng-click="orderByField='metrics[task.metrics.length - 1].endDate'; reverseSort = !reverseSort">
                          End <span ng-show="orderByField === 'metrics[task.metrics.length - 1].endDate'"><span ng-show="!reverseSort"> &nbsp;&nbsp;&nbsp; <i class="fa fa-sort-asc"></i></span><span ng-show="reverseSort">&nbsp;&nbsp;&nbsp; <i class="fa fa-sort-desc"></i></span></span>
                        </a>
                      </th>
                    </tr>
                  </thead>
                  <tbody infinite-scroll="getMoreData()" infinite-scroll-distance="3">
                    <tr ng-repeat="task in subTasks[subHierarchy.root + subHierarchy.name] | orderBy:orderByField:reverseSort">
                      <td style="text-align: left">
                        <div >
                        <!-- <div uib-tooltip-html="'Name : <b>{{task.actors[0].name}}</b>'" tooltip-placement="top"> -->
                          <img alt="" ng-src="{{ task.actors[0].avatar || 'assets/images/avatars/' + task.actors[0]._id + '.png'}} " class="img-circle" err-src="assets/images/avatars/avatar.png"/> <small class="text-muted">{{task.actors[0].name}}</small>
                        </div>
                      </td>
                      <td >
                        <a href="/task/{{task._id}}" target="_blank">
                          <div class="desc">{{task.name}}
                          </div>
                        </a>
                      </td>
                      <td >
                          <small class="dont-break-out" style="font-size:11px"> {{task.activity}}</small>

                      </td>
                      <td >
                          <small class="dont-break-out" style="font-size:11px"> {{task.context}}</small>

                      </td>
                      <td class="hidden-xs">
                        {{task.metrics[task.metrics.length - 1].targetstartDate | date:'mediumDate'}}<br/>


                        <span class="label label-sm label-lightinfo" ng-if="task.metrics[task.metrics.length - 1].startDate > task.metrics[task.metrics.length - 1].targetstartDate " >&nbsp;&nbsp;{{task.metrics[task.metrics.length - 1].startDate | date:'mediumDate'}}</span>
                      </td>
                      <td class="hidden-xs">

                      <span ng-if="task.metrics[task.metrics.length - 1].status ==='Not Started' "
                        class="label label-sm"
                        ng-class="{'label-info':task.metrics[task.metrics.length - 1].status ==='In Progress','label-success':task.metrics[task.metrics.length - 1].status ==='Finished','label-default':task.metrics[task.metrics.length - 1].status ==='Not Started','label-lightgrey':task.metrics[task.metrics.length - 1].status =='Withdrawn','label-warning':task.metrics[task.metrics.length - 1].startDate < today}">
                        {{task.metrics[task.metrics.length - 1].status}}
                      </span>
                      <span ng-if="task.metrics[task.metrics.length - 1].status !=='Not Started'"
                        class="label label-sm"
                        ng-class="{'label-info':task.metrics[task.metrics.length - 1].status ==='In Progress','label-success':task.metrics[task.metrics.length - 1].status ==='Finished','label-default':task.metrics[task.metrics.length - 1].status ==='Not Started','label-lightgrey':task.metrics[task.metrics.length - 1].status =='Withdrawn'}">
                        {{task.metrics[task.metrics.length - 1].status}}
                      </span>
                    <small class="text-muted " ng-if="task.metrics[task.metrics.length - 1].status ==='In Progress'"><i>&nbsp;&nbsp;{{task.metrics[task.metrics.length - 1].progress}}%</i></small>
                    <br>
                        <span>{{task.metrics[task.metrics.length - 1].targetLoad}} </span>
                          <span  ng-if="task.metrics[task.metrics.length - 1].projectedWorkload > task.metrics[task.metrics.length - 1].targetLoad">
                            &gt;&gt; <span class="label label-sm label-danger "> {{task.metrics[task.metrics.length - 1].projectedWorkload}}</span>
                          </span>
                          <span  ng-if="task.metrics[task.metrics.length - 1].projectedWorkload < task.metrics[task.metrics.length - 1].targetLoad">
                            &gt;&gt; <span class="label label-sm label-lightwarning "> {{task.metrics[task.metrics.length - 1].projectedWorkload}}</span>
                          </span>
                      </td>
                      <td class="hidden-xs">
                        {{task.metrics[task.metrics.length - 1].targetEndDate | date:'mediumDate'}}<br/>

                        <span class="label label-sm label-danger"  ng-if="task.metrics[task.metrics.length - 1].endDate > task.metrics[task.metrics.length - 1].targetEndDate">&nbsp;&nbsp;{{task.metrics[task.metrics.length - 1].endDate | date:'mediumDate'}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            </div>

            <!--  DEBUT LISTE KPIS
            ******************************-->

            <div class="row" ng-if="blnShowKpis[subHierarchy.root + subHierarchy.name]===true">
            <div class="col-md-12">
            <hr>
            <div class="row" >
              <div class="col-md-6 col-sm-12">

            </div>


            <div class="col-md-2 col-sm-12" style="border:1px grey dashed;padding:5px">
            <div class="">
            <div class="stats-overview stat-block" ng-repeat="kpi in dashboard.kpis | filter:{constraint:'Quality'}">
            <div class="details">
              <div class="title">
                <a href="#">
                  <span style="font-weight:bold;color:#87CEEB"></span>
                  {{kpi.name}}</a>

              </div>
              <nvd3 options="optionsCosts" data="dataSubKPIs[subHierarchy.root + subHierarchy.name]['Quality'][kpi.name]" ng-if="dashboardSlide==='History'"></nvd3>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-2 col-sm-12" style="border:1px grey dashed;padding:5px">
            <div class="stats-overview stat-block" ng-repeat="kpi in dashboard.kpis | filter:{constraint:'Cost'}">
            <div class="details">
              <div class="title">
                <a href="#">
                  <span style="font-weight:bold;color:#87CEEB"></span>
                  {{kpi.name}}</a>
              </div>
              <nvd3 options="optionsCosts" data="dataSubKPIs[subHierarchy.root + subHierarchy.name]['Cost'][kpi.name]" ng-if="dashboardSlide==='History'"></nvd3>
            </div>
            </div>
            </div>
            <div class="col-md-2 col-sm-12" style="border:1px grey dashed;padding:5px">
            <div class="stats-overview stat-block" ng-repeat="kpi in dashboard.kpis | filter:{constraint:'Time'}">
            <div class="details">
              <div class="title">
                <a href="#">
                  <span style="font-weight:bold;color:#87CEEB"></span>
                  {{kpi.name}}</a>
              </div>
              <nvd3 options="optionsCosts" data="dataSubKPIs[subHierarchy.root + subHierarchy.name]['Time'][kpi.name]" ng-if="dashboardSlide==='History'"></nvd3>
            </div>
            </div>
            </div>

            </div>
            <hr>
            </div>

            </div>

              </div>
              <!-- END OVERVIEW STATISTIC BARS-->
            </div>


          </div>
      </div>
    </div>
  </div>
</div>
<!-- END PERFORMANCE -->
