<!-- START 1-SUMMARY  -->
<div id="Wall" class="wall_flex" ng-if="activeWall.id===0">

  <div class="obeya-pane obeya-pane-fixed-5 obeya-pane-darkgray">
    PEOPLE
    <a href="#People" ng-click="showCard('People')">
      <i class="fa fa-arrows-alt pull-right"></i>
    </a>
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <span class="card-title">
                <img src="assets/images/mood.png" style="width:100px;height:60px;" alt="" >
                MOOD
              </span>
          <ul class="list-group card-list">
            <li class="list-group-item">
              <i class="far fa-smile-beam green"></i> Smile
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
            <li class="list-group-item">
              <i class="far fa-meh orange"></i> Neutral
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
            <li class="list-group-item">
              <i class="far fa-frown red"></i> Unamused
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <span class="card-title">
                <img src="assets/images/businessman300x300.png" style="width:60px;height:60px;" alt="" >
                WORKLOAD
              </span>
          <ul class="list-group card-list">
            <li class="list-group-item">
              <i class="far fa-kiss-beam blue"></i> Can help
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
            <li class="list-group-item">
              <i class="far fa-smile-beam green"></i> Normal
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
            <li class="list-group-item">
              <i class="far fa-meh orange"></i> Full
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
            <li class="list-group-item">
              <i class="far fa-frown red"></i> Overcharged
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="obeya-pane obeya-pane-fixed-5 obeya-pane-darkgray">
    FOCUS
    <a href="#News" ng-click="showCard('News')">
      <i class="fa fa-arrows-alt pull-right"></i>
    </a>
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <span class="card-title">
                <img src="assets/images/news.png" style="height:60px;" alt="" >
                NEWS
              </span>
          <ul class="list-group card-list">
            <li class="list-group-item">
              <img src="assets/images/operating.png" style="height:20px;" alt=""> Operating
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
            <li class="list-group-item">
              <img src="assets/images/projects.png" style="height:20px;" alt=""> Projects
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
            <li class="list-group-item">
              <i class="fa fa-cogs"></i>&nbsp;&nbsp;Run
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
            <li class="list-group-item">
              <img src="assets/images/tools.png" style="height:20px;" alt=""> Tools
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <span class="card-title">
                <img src="assets/images/pinned.png" style="height:60px;" alt="" >
                PINNED
              </span>
          <ul class="list-group card-list">
            <li class="list-group-item">
                <i class="far fa-thumbs-up green"></i> Success
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
            <li class="list-group-item">
              <img src="assets/images/anomaly-icon.png" style="width:15px;" alt=""> Focus Points
              <span class="badge badge-gray">{{obeya.alertsValue}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="obeya-pane obeya-pane-fixed-5 obeya-pane-darkgray">
    SKILLS & PROCESS
    <a href="#Process" ng-click="showCard('Process')">
      <i class="fa fa-arrows-alt pull-right"></i>
    </a>
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <span class="card-title">
                <img src="assets/images/skills.png" style="height:60px;" alt="" >
                SKILLS
              </span>
          <ul class="list-group card-list">
            <li class="list-group-item" >
              <img src="assets/images/Skills_Icon.png" style="height:25px;" alt="" > Skills
              <span class="pull-right">   <img src="assets/images/under-construction.png" alt="" style="height:25px"></span>
            </li>
            <li class="list-group-item" >
              <img src="assets/images/Skills_Icon_to_evaluate.png" style="height:25px;" alt="" > To evaluate
              <span class="pull-right">   <img src="assets/images/under-construction.png" alt="" style="height:25px"></span>
            </li>
            <li class="list-group-item" >
              <i class="fa fa-chalkboard-teacher "></i> Trainings
              <span class="pull-right">   <img src="assets/images/under-construction.png" alt="" style="height:25px"></span>
            </li>

          </ul>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <span class="card-title">
                <img src="assets/images/process.png" style="height:60px;" alt="" >
                PROCESS
              </span>
              <ul class="list-group card-list">
                <li class="list-group-item" ng-click="showCard('Process','Full')">
                    <img src="assets/images/Process_Icon.png" style="height:25px;" alt="" >  Process
                  <span class="badge badge-gray">{{obeya.tasks.filterPlan.length}}</span>
                </li>
                <li class="list-group-item" ng-click="showCard('Process','NotDefined')">
                  <i class="far fa-question-circle "></i>  Not defined
                  <span class="badge badge-gray">{{obeya.tasks.filterPlan.length}}</span>
                </li>
                <li class="list-group-item" ng-click="showCard('Process','NotUsed')">
                    <i class="far fa-pause-circle"></i>  Not Used
                  <span class="badge badge-gray">{{obeya.tasks.filterFinished.length + obeya.tasks.filterReviewed.length}}</span>
                </li>
                <li class="list-group-item" ng-click="showCard('Process','In Progress')">
                  <i class="far fa-star "></i> Score
                  <span class="badge badge-gray">{{obeya.tasks.filterInProgress.length}}</span>
                </li>
              </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="cardMilestones" class="obeya-pane obeya-pane-fixed-5 obeya-pane-gray">
    PLAN
    <a href="#Milestones" ng-click="showCard('Milestones')">
      <i class="fa fa-arrows-alt pull-right"></i>
    </a>
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 ">
          <div class="obeya-cards">
            <span class="card-title">
                      <img src="assets/images/milestone.png" style="width:60px;height:60px;" alt="" >
                      MILESTONES
                    </span>
            <ul class="list-group card-list">
              <li class="list-group-item" ng-click="showCard('Milestones','ToPlan')">
                <img src="assets/images/forecast.png" alt="" style="width:20px;height:20px"> To Forecast + Plan
                <span class="badge" ng-class="{'badge-gray':obeya.milestones.toPlan().length===0, 'badge-orange':obeya.milestones.toPlan().length>0}">{{obeya.milestones.toForecast().length + obeya.milestones.toPlan().length}}</span>
              </li>
              <li class="list-group-item" ng-click="showCard('Milestones','ToEngage')">
                <i class="fa fa-gavel "></i> To Engage
                <span class="badge" ng-class="{'badge-gray':obeya.milestones.toEngage().length===0, 'badge-orange':obeya.milestones.toEngage().length>0}">{{obeya.milestones.toEngage().length}}</span>
              </li>
              <li class="list-group-item" ng-click="showCard('Milestones','ToAchieve')">
                <img src="assets/images/achieve.png" alt="" style="width:20px;height:20px"> To Achieve
                <span class="badge" ng-class="{'badge-gray':obeya.milestones.toAchieve().length===0, 'badge-orange':obeya.milestones.toAchieve().length>0}">{{obeya.milestones.toAchieve().length}}</span>
              </li>
              <li class="list-group-item">
                <i class="fa fa-bell "></i> With alerts
                <span class="badge " ng-class="{'badge-gray':obeya.milestones.withAlerts().length===0, 'badge-red':obeya.milestones.withAlerts().length>0}">{{obeya.milestones.withAlerts().length}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 ">
          <div class="obeya-cards">

            <span class="card-title">
                <img src="assets/images/icon-capacity-planning.png" style="width:60px;height:60px;" alt="">
                        CAPACITY
                      </span>
            <ul class="list-group card-list">
              <li class="list-group-item">
                <i class="fa fa-users "></i> Availability
                <span class="pull-right">    <img src="assets/images/under-construction.png" alt="" style="height:25px"></span>
              </li>
              <li class="list-group-item">
                <i class="fa fa-bars "></i> Planned
                <span class="pull-right">    <img src="assets/images/under-construction.png" alt="" style="height:25px"></span>
              </li>
              <li class="list-group-item">
                <i class="fa fa-bell "></i> With alerts
                <span class="pull-right">    <img src="assets/images/under-construction.png" alt="" style="height:25px"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="obeya-pane obeya-pane-fixed-5 obeya-pane-blue">
    DO
    <a href="#Tasks" ng-click="showCard('Tasks')">
      <i class="fa fa-arrows-alt pull-right"></i>
    </a>
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 ">

          <div class="obeya-cards">
            <span class="card-title">
                  <img src="assets/images/todo.png" style="width:60px;height:60px;" alt="" >
                  TASKS
                </span>
            <ul class="list-group card-list">
              <li class="list-group-item" ng-click="showCard('Tasks','Plan')">
                <i class="fa fa-tasks blue"></i> Plan
                <span class="badge badge-gray">{{obeya.tasks.filterPlan.length}}</span>
              </li>
              <li class="list-group-item" ng-click="showCard('Tasks','In Progress')">
                <i class="fa fa-tasks blue"></i> In Progress
                <span class="badge badge-gray">{{obeya.tasks.filterInProgress.length}}</span>
              </li>
              <li class="list-group-item" ng-click="showCard('Tasks','Finished')">
                <img src="assets/images/task.png" alt=""> Finished
                <span class="badge badge-gray">{{obeya.tasks.filterFinished.length + obeya.tasks.filterReviewed.length}}</span>
              </li>
              <li class="list-group-item">
                <i class="fa fa-bell blue"></i> With alerts
                <span class="badge badge-red">{{obeya.alertsValue}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 ">
          <div class="obeya-cards">
            <span class="card-title" ng-click="showCard('ProblemSolving')">
                      <img src="assets/images/anomaly.png" style="width:60px;height:60px;" alt="">
                      PROBLEM SOLVING
                </span>
            <ul class="list-group card-list">
              <li class="list-group-item" ng-click="showCard('ProblemSolving','To Correct')">
                <i class="fa fa-bug blue"></i> To Correct
                <span class="badge  badge-red">{{obeya.alertsValue}}</span>
              </li>
              <li class="list-group-item" ng-click="showCard('ProblemSolving','To Prevent')">
                <i class="fa fa-medkit blue"></i> To Prevent
                <span class="badge  badge-orange">{{obeya.alertsValue}}</span>
              </li>
              <li class="list-group-item" ng-click="showCard('ProblemSolving','Prevented')">
                <img src="assets/images/prevented.png" alt="" style="width:16px;height:16px"> Prevented
                <span class="badge  badge-gray">{{obeya.alertsValue}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="obeya-pane obeya-pane-fixed-5 obeya-pane-darkblue">
    CHECK
    <a href="#Performance" ng-click="showCard('Performance')">
                <i class="fa fa-arrows-alt pull-right"></i>
            </a>
    <hr style="margin-top:0;margin-bottom:10px;">
    <div class="obeya-body">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="obeya-cards">
            <div class="card-title" style="display: table-row; ">
                <span style="  display: table-cell;   vertical-align: top; padding-right: 10px;">
                  <img src="assets/images/Commitment_Icon.png" style="width:60px;height:60px;" alt="" >
                </span>
                <span style="display: table-cell; vertical-align: middle; ">
                  RESPECT ENGAGEMENT
                </span>
                <span style="float:left;">
              </div>
            <ul class="list-group card-list">
              <li class="list-group-item" ng-click="viewMode[activeWall.name]='overview'">
                <img src="assets/images/overview.png" style="height:16px;" alt=""> Overview
                <span class="pull-right"> <i class="fa fa-chevron-right"></i></span>
              </li>
              <li class="list-group-item" ng-click="showCard('Tasks','In Progress')">
                <img src="assets/images/quality.png" style="height:20px;" alt=""> Quality
                <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
              </li>
              <li class="list-group-item">
                <img src="assets/images/cost.png" style="height:20px;" alt=""> Cost
                <span class="badge badge-gray">{{obeya.alertsValue}}</span>
              </li>
              <li class="list-group-item">
                <img src="assets/images/time.png" style="height:20px;" alt=""> Time
                <span class="badge badge-gray">{{obeya.alertsValue}}</span>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="obeya-cards">
            <span class="card-title">
              <img src="assets/images/maitrise.png" style="width:60px;height:60px;"  alt="">
              MASTER PROCESS
            </span>
            <ul class="list-group card-list">
              <li class="list-group-item" ng-click="viewMode[activeWall.name]='overview'">
                <img src="assets/images/overview.png" style="height:16px;" alt=""> Overview
                <span class="pull-right"> <i class="fa fa-chevron-right"></i></span>
              </li>
              <li class="list-group-item" ng-click="showCard('Tasks','In Progress')">
                <img src="assets/images/quality.png" style="height:20px;" alt=""> Quality
                <span class="badge badge-gray">{{obeya.openTasksNb}}</span>
              </li>
              <li class="list-group-item">
                <img src="assets/images/cost.png" style="height:20px;" alt=""> Cost
                <span class="badge badge-gray">{{obeya.alertsValue}}</span>
              </li>
              <li class="list-group-item">
                <img src="assets/images/time.png" style="height:20px;" alt=""> Time
                <span class="badge badge-gray">{{obeya.alertsValue}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

<!-- END 1-SUMMARY  -->
